<%= simple_form_for(@diagnostic, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <%= form.input :name %>
      </div>

      <div class="col-md-12">
        <%= form.input :code %>
      </div>
      
    </div>
  </div>

  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>
