<%= simple_form_for(@medical_service, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <%= f.input :company_id, :as => :hidden, :value => @company.id %>
        <div class="col-md-12">
          <%= f.input :name %>
        </div>
        
        <div class="col-md-12">
          <%= f.input :exam_id, collection: @exams, label_method: lambda { |e| "#{e.code} - #{e.name}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
        </div>
        <div class="col-md-12">
          <%= f.input :jasper_template_url %>
        </div>

        <div class="col-md-12">
          <%= f.input :active %>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" name="url" id="url" value="">

  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

<script type="text/javascript">
  $("#url").val(window.location.pathname);
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });
</script>