<div class="modal-header">
  <h5 class="modal-title">Información Servicio médico</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-3">
      <div class="avatar avatar-xxl">
        <img src="/images/user_image.png" alt="Avatar" class="avatar-img rounded" style="    width: 100%;">
      </div>
      <!-- <p class="text-muted">Edit your account details and settings.</p> -->
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <strong><%= MedicalService.human_attribute_name("company_id") %></strong><br/>
          <%= @medical_service.company.name %>
        </div>
        
        <div class="col-md-12">
          <strong><%= MedicalService.human_attribute_name("name") %></strong><br/>
          <%= @medical_service.name %>
        </div>
        
        <div class="col-md-12">
          <strong><%= MedicalService.human_attribute_name("active") %></strong><br/>
          <%= @medical_service.active %>
        </div>
        
        <div class="col-md-12">
          <strong><%= MedicalService.human_attribute_name("jasper_template_url") %></strong><br/>
          <%= @medical_service.jasper_template_url %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="actions">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
      <i class="material-icons mr-1">close</i> Cerrar
    </button>
    <button type="button" class="btn btn-outline-primary">
      <i class="material-icons mr-1">print</i> Imprimir
    </button>
  </div>
</div>