<%= simple_nested_form_for(@company_process, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <%= form.input :company_id, :as => :hidden, :value => @company.id %>
      <div class="col-md-12">
        <%= form.input :name %>
      </div>
      <div class="col-md-6">
        <%= form.input :level %>
      </div>

      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center">
            <i class="material-icons mr-1">business</i>
            <div class="text-body"><strong><%= @company.name %></strong></div>
        </div>
      </div>

      <div class="col-md-12">
        <%= form.input :parent_id, collection: @processes, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-12">
        <%= form.input :owner_id, collection: @all_patients, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-12">
        <%= form.input :active %>
      </div>

      <div id="activities" class="col-md-12">
        <%= form.fields_for :activities, :wrapper => false do |activity_form| %>
          <div class="row fields align-items-center">
            <div class="col-md-3">
              <%= activity_form.input :number %>    
            </div>
            <div class="col-md-8">
              <%= activity_form.input :name %> 
            </div>
            <div class="col-md-1 custom-switch">
              <%= activity_form.check_box :active, :class => "custom-control-input" %>
              <%= activity_form.label :active, :class => "custom-control-label" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-md-12">
        <p><%= form.link_to_add "Nueva actividad", :activities, :data => { :target => "#activities" } %></p>
      </div>
      
      
      
    </div>
  </div>
  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>


<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    altInput: true,
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>


