<% if process.processes.any? %>
	<li>
	  <div>
	    <strong><%= process.name %></strong>
	    <hr>
	    <p>Actividades</p>
	    <%= link_to '<i class="material-icons icon-24pt">edit</i>'.html_safe , edit_company_process_path(process.id),  data: { modal: true } %>
	  </div>
	</li>
	<% process.processes.each do |sub_process| %>
		<li>
			<ul>
				<li>
			
				  <div>
				    <strong><%= sub_process.name %></strong>
				    <hr>
				    <p>Actividades</p>
				    <%= link_to '<i class="material-icons icon-24pt">edit</i>'.html_safe , edit_company_process_path(sub_process.id),  data: { modal: true } %>
				  </div>
					  
				</li>
			</ul>
		</li>
	<% end %>
<% else %>
	<li>
	  <div>
	    <strong><%= process.name %></strong>
	    <hr>
	    <p>Actividades</p>
	    <%= link_to '<i class="material-icons icon-24pt">edit</i>'.html_safe , edit_company_process_path(process.id),  data: { modal: true } %>
	  </div>
	</li>
<% end %>