<div class="control-page">
  <div class="controls-list">
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">arrow_upward</i>
        Exportar
      <% end %>
      <%= link_to new_company_process_path, :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">add</i>
        Nuevo
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Diagrama de procesos</h4>
        </div>
        <div class="card-body" style="overflow-x: scroll;">
          <ol class="process_diagram">
            
            <li>
              <div>
                <strong>Inicio</strong>
              </div>
            </li>  

            <li>
              <div>
                <strong>Nombre: </strong> <%= @company_process.name %> <%= link_to '<i class="material-icons icon-24pt">edit</i>'.html_safe , edit_company_process_path(@company_process.id),  data: { modal: true } %>
                <br/>
                <strong>Responsable: </strong> <%= @company_process.mananger.full_name %>
                <hr>
                <strong>Actividades</strong>
                <br/>
                <% @company_process.activities.where(:active => true).order(:number).each do |act| %>
                  <%= "#{act.number}. #{act.name}" %><br/>
                <% end %>
              </div>
            </li>

            <li>
              <ul>
                <% @company_process.processes.order(:created_at).each do |sub_process| %>
                  <li>

                    <div>
                      <strong>Nombre: </strong> <%= sub_process.name %> <%= link_to '<i class="material-icons icon-24pt">edit</i>'.html_safe , edit_company_process_path(sub_process.id),  data: { modal: true } %>
                      <br/>
                      <strong>Responsable: </strong> <%= sub_process.mananger.full_name %>
                      <hr>
                      <strong>Actividades</strong>
                      <br/>
                      <% sub_process.activities.where(:active => true).order(:number).each do |act| %>
                        <%= "#{act.number}. #{act.name}" %><br/>
                      <% end %>
                    </div>

                  </li>    
                <% end %> 

              </ul>
              
            </li>
            <!-- 
            <% @company_process.processes.order(:created_at).each do |sub_process| %>
              <li>
                <div>
                  <strong><%= sub_process.name %></strong>
                </div>
              </li>              
            <% end %> -->
            
            <li>
              <div>
                <strong>Fin</strong>
              </div>
            </li>  

          </ol>

          <!-- <ol class="process_diagram">
            <li><div>All this magic is pure CSS &amp; HTML</div></li>
            
            <li>
              <ul>
                <li>
                  <ol>
                    <li>
                      <div><strong>Node 1.1.1</strong>
                        <p>
                          A paragraph on some details. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  laborum.
                        </p>
                      </div>
                    </li>
                    <li>
                      <ul>
                        <li><div>Node 1.1.1.1</div></li>
                        <li><div>Node 1.1.1.2</div></li>
                      </ul>
                    </li>
                    
                    <li><div>Node 1.1.2</div></li>

                    <li>
                      <ul>
                        <li><div>Node 1.1.2.1</div></li>
                        <li><div>Node 1.1.2.2</div></li>
                        <li><div>Node 1.1.2.3</div></li>
                      </ul>
                    </li>
                  </ol>
                </li>
                <li>
                  <ol>
                    <li><div>Node 1.2.1</div></li>
                    <li><div>Node 1.2.2</div></li>
                    <li><div>Node 1.2.3</div></li>
                  </ol>
                </li>
                <li><div>Node 1.3
                  <p>N’importe quoi ici.</p>
                  </div></li>
              </ul>
            </li>
            
            <li>
              <ul>
                <li><div>Node 2.1</div></li>
                <li><div>Node 2.2
                  <p>Put anything here.</p>
                </div></li>
                <li><div>Node 2.3</div></li>
              </ul>
            </li>

            <li><div>Node&nbsp;3</div></li>
            <li><div>Node&nbsp;4</div></li>

            <li><div>Finally see the sources <a href="http://github.com/arolle/css_process_diagram">github.com/arolle/css_process_diagram</a></div></li>
          </ol> -->

        </div>
      </div>
    </div>
  </div>
</div>
