<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company_process.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company_process.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @company_process.owner_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @company_process.company_id %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @company_process.parent_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @company_process.level %>
</p>

<p>
  <strong>Process in:</strong>
  <%= @company_process.process_in_id %>
</p>

<p>
  <strong>Process out:</strong>
  <%= @company_process.process_out_id %>
</p>

<p>
  <strong>Process type:</strong>
  <%= @company_process.process_type %>
</p>

<%= link_to 'Edit', edit_company_process_path(@company_process) %> |
<%= link_to 'Back', company_processes_path %>
