<%= simple_form_for(@position, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <%= form.input :name %>
      </div>

      <div class="col-md-12">
        <%= form.input :code %>
      </div>

      <div class="col-md-6">
        <%= form.input :company_id, collection: @companies, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>
      <div class="col-md-6">
        <%= form.input :area_id, collection: @areas, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>
      <div class="col-md-12">
        <%= form.input :medical_profile_id, collection: @medical_profiles, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-6">
        <%= form.input :age_min, collection: 18..60 %>
      </div>

      <div class="col-md-6">
        <%= form.input :age_max, collection: 18..60 %>
      </div>
      <div class="col-md-12">
        <%= form.input :mission, as: :text %>
      </div>

      <div class="col-md-6">
        <%= form.input :gender, as: :radio_buttons, collection: [["0", "Femenino"],["1", "Masculino"],["3", "No definido"]], label_method: :second, value_method: :first %>
      </div>

      <div class="col-md-6">
        <%= form.input :active %>
      </div>
      
    </div>
  </div>

  <div class="modal-footer">
    <div class="actions">
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
        <i class="material-icons mr-1">close</i> Cerrar
      </button>
      <%= button_tag  class: 'btn btn-outline-primary' do %>
        <i class='material-icons mr-1'>save</i> Guardar
      <% end %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>