<%- if @position.errors.any? %>
  $('#dialog-form').html('<%= j render('form') %>');
<%- else %>
  $('#dialog-form').dialog('close');
  $('#dialog-form').remove();
  $('table').append('<%= j render(@position) %>');
<%- end %>