<div class="container-fluid page__container">
  <div class="row">
    <div class="col-md-12">
      <div class="page__heading d-flex align-items-center">
        <div class="flex">
          <h3 class="m-0">Lista de Cargos</h3>
        </div>
        <%= link_to 'Nuevo', new_position_path, :class => "btn btn-success ml-3", data: { modal: true }  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table id="positions" class="display table table-striped table-bordered" style="width: 100%"></table>
        </div>
      </div>
    </div>
  </div>
</div>