<div class="modal-header">
  <h5 class="modal-title">Información Puesto de Trabajo</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <strong><%= Position.human_attribute_name("name") %></strong><br/>
      <%= @position.name %>
    </div>

    <div class="col-md-6">
      <strong><%= Position.human_attribute_name("code") %></strong><br/>
      <%= @position.code %>
    </div>

    <div class="col-md-6">
      <strong><%= Position.human_attribute_name("area_id") %></strong><br/>
      <%= @position.area.present? ? @position.area.name : t("label.blank") %>
    </div>

    <div class="col-md-6">
      <strong><%= Position.human_attribute_name("medical_profile_id") %></strong><br/>
      <%= @position.medical_profile.present? ? @position.medical_profile.name : t("label.blank") %>
    </div>

    <div class="col-md-6">
      <strong><%= Position.human_attribute_name("age_min") %></strong><br/>
      <%= @position.age_min %>
    </div>

    <div class="col-md-6">
      <strong><%= Position.human_attribute_name("age_max") %></strong><br/>
      <%= @position.age_max %>
    </div>

    <div class="col-md-12">
      <strong><%= Position.human_attribute_name("mission") %></strong><br/>
      <%= @position.mission.present? ? @position.mission : t("label.blank") %>
    </div>
    
  </div>
</div>

<div class="modal-footer">
  <div class="actions">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
      <i class="material-icons mr-1">close</i> Cerrar
    </button>
    <button type="button" class="btn btn-outline-primary">
      <i class="material-icons mr-1">print</i> Imprimir
    </button>
  </div>
</div>



