<%= simple_nested_form_for(@medical_appointment, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <%= form.input :company_id, as: :hidden %> 
  <div class="modal-body">
    <div class="row">

      <%= form.fields_for :patient, :wrapper => false do |patient_form| %>
        <div class="col-md-3">
          <p style="margin-bottom: 0" class="">Información Empleado</p>
        </div>
        <div class="col-md-9">
          <%= patient_form.input :id, collection: @all_patients, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", label: false, input_html: {class: 'select_tag_2'} %>
          <%= patient_form.input :ci, as: :hidden %>    
        </div>  
      <% end %>
      <% if @medical_appointment.patient.id.present? %>
        <div class="col-md-12">
          <br>
          <div class="row">
            <div class="col-md-3">
              <div class="avatar avatar-xxl">
                <img src="/images/user_image.png" alt="Avatar" class="avatar-img rounded" style="    width: 100%;">
              </div>
              <!-- <p class="text-muted">Edit your account details and settings.</p> -->
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("ci_type") %></strong><br/>
                  <%= select_array(@ci_types, @medical_appointment.patient.ci_type) %>
                </div>

                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("ci") %></strong><br/>
                  <%= @medical_appointment.patient.ci %>
                </div>
                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("name") %></strong><br/>
                  <%= @medical_appointment.patient.name %>
                </div>

                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("last_name") %></strong><br/>
                  <%= @medical_appointment.patient.last_name %>
                </div>

                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("gender") %></strong><br/>
                  <%= select_array(@genders, @medical_appointment.patient.gender) %>
                </div>

                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("age") %></strong><br/>
                  <%= @medical_appointment.patient.age %>
                </div>

                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("phone_1") %></strong><br/>
                  <%= @medical_appointment.patient.phone_1.present? ? @medical_appointment.patient.phone_1 : t("label.blank") %>
                </div>

                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("email") %></strong><br/>
                  <%= @medical_appointment.patient.email.present? ? @medical_appointment.patient.email : t("label.blank") %>
                </div>
                
                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("company_id") %></strong><br/>
                  <% if @medical_appointment.patient.company.present? %>
                    <%= @medical_appointment.patient.company.name %>
                  <% end %>
                </div>

                <div class="col-md-6">  
                  <strong><%= Patient.human_attribute_name("area_id") %></strong><br/>
                  <% if @medical_appointment.patient.area.present? %>
                    <%= @medical_appointment.patient.area.name %>
                  <% else %>
                    N/D
                  <% end %>
                </div>

                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("position_id") %></strong><br/>
                  <% if @medical_appointment.patient.position.present? %>
                    <%= @medical_appointment.patient.position.name %>
                  <% else %>
                    N/D
                  <% end %>
                  
                </div>

                <div class="col-md-6">
                  <strong><%= Patient.human_attribute_name("profession") %></strong><br/>
                  <%= select_array(@professions, @medical_appointment.patient.profession) %>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>
      <% end %>

      <div class="col-md-12">
        <p style="margin-bottom: 0" class="">Información Evaluación Medica</p>
        <hr/>
      </div>

      <div class="col-md-6">
        <%= form.input :medical_type_id, collection: @medical_types, prompt: "Seleccione opción", input_html: {class: 'select_2_d'} %>
        <%= form.input :reason ,as: :string%>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <%= form.input :date ,as: :string , input_html: {class: 'date-selector'} %>    
          </div>
          <div class="col-md-6">
            <%= form.input :time ,as: :string , input_html: {class: 'time-selector'} %>    
          </div>  
        </div>
        
        <%= form.input :doctor_id, collection: @doctors, label_method: lambda { |p| "#{p.name}"}, prompt: "Seleccione opción", input_html: {class: 'select_2_d'} %>
        <%= form.input :patient_id, as: :hidden %>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="text_medical_type_id_0" class="text_medical_type" style="display: none;">
          <p><strong class="headings-color">Evaluación Preocupacional</strong></p>
          <div class="text-muted">Son aquellas actividades que se realizan para determinar las condiciones de salud física, mental y social del trabajador antes de su contratación, en función de las condiciones de trabajo a las que estaría expuesto, acorde con los requerimientos de la tarea y perfil del puesto de trabajo. El objetivo es determinar la aptitud del trabajador para desempeñar en forma eficiente las labores sin perjuicio de su salud.</div>  
        </div>

        <div id="text_medical_type_id_1" class="text_medical_type" style="display: block;">
          <p><strong class="headings-color">Evaluación Periódica</strong></p>
          <div class="text-muted">Consiste en evaluaciones médicas de la salud de los trabajadores al menos una vez al año con la finalidad de realizar el monitoreo de los efectos en la salud del trabajador por la exposición a factores de riesgo a los que se encuentra expuesto.</div>  
        </div>

        <div id="text_medical_type_id_2" class="text_medical_type" style="display: none;">
          <p><strong class="headings-color">Evaluación Reintegro</strong></p>
          <div class="text-muted">Consiste en evaluaciones médicas para reincorporar al trabajador al desempeño de una actividad laboral después de ausencia prolongada generalmente por motivos de salud.</div>  
        </div>

        <div id="text_medical_type_id_3" class="text_medical_type" style="display: none;">
          <p><strong class="headings-color">Evaluación Retiro</strong></p>
          <div class="text-muted">Es aquella que se debe realizar al trabajador cuando se termina la relación laboral. Su objetivo es valorar y registrar las condiciones de salud en las que el trabajador se desvincula del centro de trabajo, en relación a los factores de riesgo a los que estuvo expuesto.</div> 
        </div>
      </div>
    </div>

    <br/>
    <div class="row dynamic_nested_fields">
      <div class="col-md-12">
        <p style="margin-bottom: 0" class="">
          Exámenes generales y específicos de acuerdo al Riesgo y Puesto de Trabajo
          <%= form.link_to_add "Añadir Exámen<i class='material-icons'>add_circle</i>".html_safe, :medical_appointment_exams, :data => { :target => "#medical_appointment_exams" }, class: "ml-3" %> 
        </p>
        <hr/>
      </div>

      <div class="col-md-12">
        <table class="table med-record mb-0 thead-border-top-0" id="medical_appointment_exams">
          <tr>
            <th style="width: 40%">EXAMEN</th>
            <th class="text-center">OBSERVACIÓN</th>
            <th></th>
          </tr>
          <%- counter = 1%>
          <%= form.fields_for :medical_appointment_exams, @medical_appointment.medical_appointment_exams.sort_by(&:id) , :wrapper => false do |exam_form| %>
            <tr class="fields">
              <td style="width: 50%">
                <%= exam_form.input :exam_id, collection: @exams, label_method: lambda { |p| "#{p.full_name}"}, label: false, input_html: {class: 'select_2_d', :style => "width: 100%;"}%>
              </td>
              <td><%= exam_form.input :description, label: false %> </td>
              <td>
                <%= exam_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe %>
              </td>
            </tr>
            <%- counter += 1%>
          <% end %>
          <% if @medical_appointment.medical_appointment_exams.present? %>
          <% end %>
        </table>
      </div>
    </div>

  </div>



  <div class="modal-footer">
    <div class="actions">


      <% if @medical_appointment.medical_record_id.present? %>
        <!-- <button type="button" class="btn btn-primary" style="margin-right: 5px;" data-dismiss="modal">Ver Evaluación</button> -->
        <a class="btn btn-primary" style="margin-right: 5px;" 
        href="<%=patient_record_medical_check_path(@medical_appointment.patient_id, @medical_appointment.medical_record_id) %>">Ver Evaluación</a>
      <% elsif !@medical_appointment.new_record? && @medical_appointment.date.to_date >= Time.now.to_date %>
        
        <%= form.submit "Generar Evaluación", class: 'btn btn-primary', name: "save_and_generate" %>
      <% end %>
      
      <% if !@medical_appointment.new_record? && @medical_appointment.date.to_date >= Time.now.to_date %>
        <%= form.submit "Anular", class: 'btn btn-danger', name: "cancel" %>
      <% end %>
      <!-- <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button> -->
      <%- if @medical_appointment.date.present? && @medical_appointment.date.to_date >= Time.now.to_date %>
        <%= form.submit "Guardar", class: 'btn btn-success', name: "save" %>
      <% end %>

      <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
<% end %>


<script type="text/javascript">

    unlock_calendar();
  
    $('select.select_2_d').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    });

    // Select to get patient info
    $('select.select_tag_2').select2({
      tags: true,
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    }).on('select2:select', function (evt) {
      if (evt.params.data.element){
        patient_id = evt.params.data.element.value;
        ci = null
        console.log(patient_id);
      }else{
        patient_id = null;
        ci = evt.params.data.text
        console.log("usuario nuevo");
        console.log();
      }
      load_with_patient(patient_id, ci, null);
    });


    $('select.select_2_p').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    }).on('select2:select', function (evt) {
      patient_id = $("#medical_record_patient_id").val();
      ci = null
      position_id = null
      if (evt.params.data.element){
        position_id = evt.params.data.element.value;
      }
      if (patient_id && position_id){
        load_with_patient(patient_id, ci, position_id);  
      }
      
    });


    $(".time-selector").flatpickr({
      enableTime: true,
      noCalendar: true,
      dateFormat: "H:i",
      time_24hr: true,
      minTime: "06:00",
      maxTime: "22:00",
      minuteIncrement: 30
    });

    $(".date-selector").flatpickr({
      altInput: true,
      enableTime: false,
      dateFormat: "Y-m-d",
    });

    function load_with_patient(patient_id, ci, position_id){
      const modal_holder_selector = '#modal-holder';
      const modal_selector = '.modal';
      var location = "/medical_appointments/new";  
      if (patient_id){
        location = location + "?patient_id=" + patient_id;  
        if (position_id){
          location = location + "&position_id=" + position_id;  
        }
        location = location + "&date=" + $('#medical_appointment_date').val();
        location = location + "&time=" + $('#medical_appointment_time').val();
        location = location + "&doctor_id=" + $('#medical_appointment_doctor_id option:selected').val();
        location = location + "&medical_type_id=" + $('#medical_appointment_medical_type_id option:selected').val();
        location = location + "&reason=" + $('#medical_appointment_reason').val();

      } else{
        if (ci){
          location = location + "?ci=" + ci;  
        } 
      }
      // Load modal dialog from server
      $.get(
        location,
        data => { $('.modal-backdrop').remove(); $(modal_holder_selector).html(data).find(modal_selector).modal(); }
      );
      return false;
    }

    $("#medical_appointment_medical_type_id").change(function() {
      $(".text_medical_type").hide();
      $("#text_medical_type_id_" + $("#medical_appointment_medical_type_id option:selected").val()).show();
    });
  
  
</script>

<script type="text/javascript">
  // Open CI select
  // $( document ).ready(function() {
  //   console.log( "ready!" );
  //   setTimeout(
  //   function() 
  //   {
  //     if ($("#medical_appointment_patient_id").val() == ""){
  //       $("#medical_appointment_patient_attributes_id").select2('open');  
  //     }
  //   }, 100);
    
  // });
  
</script>

