<style type="text/css">
  th{ height: 8px; }
  td{ height: 8px; }
  .tg  {border-collapse:collapse;border-spacing:0;border-color:#333; width: 100%;}
  .tg td{font-family:Arial, sans-serif;font-size:12px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#333;color:#444;background-color:#F7FDFA;}
  .tg th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;padding:5px 5px;border-style:solid;border-width:1px 1px 0px 1px;;overflow:hidden;word-break:normal;border-color:#333;color:#333;background-color:#D2E4FC;}
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-hmp3{background-color:#D2E4FC;text-align:left;vertical-align:top}
  .tg .tg-7dnc{background-color:#D2E4FC;font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-ydyv{background-color:#D2E4FC;border-color:inherit;text-align:right;vertical-align:top}
  .tg .tg-quxf{background-color:#ffffff;text-align:left;vertical-align:top}
  .tg .tg-7btt{font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}
  .tg .tg-6gib{background-color:#D2E4FC;font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  .tg .tg-jmht{background-color:#D2E4FC;font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-width-50{width: 50%}
</style>
<!-- <img src="http://www.ecua-american.com/wp-content/uploads/2017/12/ecua-american-logo-fin.png" style="margin-bottom: 10px;"> -->
<table class="tg">
  <tr>
    <th class="tg-7btt">Comprobante cita médica</th>
  </tr>
</table>

<table class="tg">
  <tr>
    <th class="tg-quxf"></th>
  </tr>
</table>

<table class="tg">
  <tr>
    <th class="tg-7btt tg-width-50">Cédula/Pasaporte</th>
    <th class="tg-quxf"><%= @medical_appointment.patient.ci %></th>
  </tr>
  <tr>
    <th class="tg-7btt tg-width-50">Nombres y Apellidos</th>
    <th class="tg-quxf"><%= @medical_appointment.patient.full_name %></th>
  </tr>

  <tr>
    <th class="tg-7btt tg-width-50">Fecha y Hora</th>
    <th class="tg-quxf"><%= "#{@medical_appointment.date.strftime("%A, %-d %b %Y")} #{@medical_appointment.time.strftime("%H:%M")}" %></th>
  </tr>

  <tr>
    <th class="tg-7btt tg-width-50">Doctor asignado</th>
    <th class="tg-quxf"><%= @medical_appointment.doctor.name %></th>
  </tr>
</table>



<table class="tg">
  <tr>
    <th class="tg-7btt">Exámanes requidos</th>
  </tr>
</table>

<table class="tg">
	
	<tr>
	  <td class="tg-1wig">Nombre</td>
	  <td class="tg-1wig">PDF</td>
	  <td class="tg-1wig">Fecha</td>
	  <td class="tg-1wig">Resultado</td>
	  
	</tr>
	
  <tr>
    <td class="tg-quxf">1111asdad</td>
    <td class="tg-quxf">1</td>
    <td class="tg-quxf">01/20/2019</td>
    <td class="tg-quxf">asdasdasdasdasdas</td>
  </tr>
	
</table>

<table class="tg">
  <tr>
    <th class="tg-quxf">
    	<strong>Descripción: </strong> 
    	<%= @medical_appointment.reason %>
    </th>
  </tr>
</table>

