<%- if today_items.any? %>
  <div class="list-group list-group-flush col-md-12" style="margin:0;padding:0;">
    <%- today_items.each do |i| %>
      <div class="list-group-item list-group-item-action d-flex align-items-center row collapsed" style="border: 1px solid #eee;margin: 0;padding: 10px 0;">
        <div class="col-md-12">
          <div class='label-medical_type <%= "background-color-#{i.medical_type_id}" %>'>
            <%= select_array(medical_types, i.medical_type_id)%> - <%= i.time.strftime("%H:%M") %>
          </div>
        </div>
        <div class="<%= @today_left_class %>">
          <div class="row">
            <div class="col-md-12">
              <small class="text-dark-gray mr-2">Empleado</small>
              <a href="<%= patient_path(i.patient.id) %>" class="d-flex align-items-middle" data-modal="true">
                <%= i.patient.full_name %>
              </a>
            </div>

            <div class="col-md-12">
              <small class="text-dark-gray mr-2">Doctor responsable</small>
              <a href="<%= user_path(i.doctor) %>" class="d-flex align-items-middle" data-modal="true">
                <%= i.doctor.name %>
              </a>
            </div>
          </div>
        </div>
        <div class="<%= @today_right_class %>">
          <% if i.status.present? %>
            <% if i.status == 0 %>
              <span class="badge badge-danger">Anulado</span>
            <% else %>
              <span class="badge badge-success">Generado</span>
            <% end %>
          <% end %>
          <a href="<%= edit_medical_appointment_path(i.id) %>" data-modal="true" ><i class="material-icons">edit</i></a>
          <a href="<%= medical_appointment_path(i.id) %>" data-modal="true" ><i class="material-icons">print</i></a>
        </div>

      </div>
    <% end %>
  </div>
<% end %>