<div class="modal-header">
  <h5 class="modal-title" style="margin-right: 10px;">Editar Cita Médica </h5> <%= link_to_pdf(medical_appointment_path(@medical_appointment.id, :format => 'pdf')) %>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= render 'form', medical_appointment: @medical_appointment %>