<div class="container-fluid page__container">
  <div class="row">
    <div class="col-md-12">
      <div class="page__heading d-flex align-items-center">
        <div class="flex">
          <h3 class="m-0">Lista de Cita médicas</h3>
        </div>
        <%= link_to 'Nueva cita', new_medical_appointment_path, :class => "btn btn-success ml-3", :id => "new_medical_appointment_button", data: { modal: true }  %>
        <%= link_to 'Editar', "/medical_appointments/1/edit", :class => "btn btn-success ml-3", :style => "display:none;", :id => "edit_medical_appointment_button", data: { modal: true }  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="card card-body">
        
        <div class="calendar empty" id="calendar">
        </div>
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

      </div>
    </div> <!-- end col -->

    <div class="col-md-3">
      <div id="external-events">
        <p class="text-muted">Filtros de busqueda</p>
        <%= simple_form_for(medical_records_path, remote: true, method: :get, html: { id: "load_records" }) do |f| %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="filter_name">Empleado</label>
                  <%= f.input :patient_id, collection: @all_patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="filter_buckets">Tipo Evaluación</label><br>
                <%= f.input :medical_type_id, collection: @medical_types, label: false, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="filter_name">Doctor</label>
                  <%= f.input :doctor_id, collection: @doctors, label: false, label_method: lambda { |p| "#{p.name}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
            </div>
            
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <span id="filter_c" style="display: none;" class="badge badge-light">Filtrado por: </span>
            <br/>
            <span id="patient_filter_c" style="display: none;" class="badge badge-secondary">
              EMPLEADO 
              <a id="patient_filter" class="remove-filter" href="#" onclick="return remove_patient_filter()">x</a>
            </span>
          
            <span id="medical_type_filter_c" style="display: none;" class="badge badge-secondary">
              TIPO EVALUACIÓN 
              <a id="medical_type_filter" class="remove-filter" href="#" onclick="return remove_medical_type_filter()">x</a>
            </span>
          
            <span id="doctor_filter_c" style="display: none;" class="badge badge-secondary">
              DOCTOR 
              <a id="doctor_filter" class="remove-filter" href="#" onclick="return remove_doctor_filter()">x</a>
            </span>
          </div>
        </div>
      </div>

      <br/>

      <div id="current-events">
        <p class="text-muted">Citas médica de hoy</p>

        <%- if @medical_appointments_for_today_render.any? %>
          <div class="list-group list-group-flush">
            <%= render 'today_items', today_items: @medical_appointments_for_today_render, medical_types: @medical_types %>
            <% if @medical_appointments_for_today.count > 3 %>
              <div class="card-footer text-center border-0">
                <%= link_to today_medical_appointments_path, :class => "text-muted", :id => "today_appointments_button", data: { modal: true } do %>
                  Ver todos (<%= @medical_appointments_for_today.count %>)
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
   
      </div>

    </div> <!-- end col-->
  </div>  <!-- end row -->
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $('select.select_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('body')
    });
  });


</script>