<div class="modal-header">
  <h5 class="modal-title">Citas Médicas de Hoy</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row collapsed" style="margin: 0;">
    <%= render 'today_items', today_items: @medical_appointments_for_today_render, medical_types: @medical_types %>
  </div>
</div>

<div class="modal-footer">
  <div class="actions">
    <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
  </div>
</div>
