<%= simple_form_for(@medical_certificate, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">

      
      <%= form.input :medical_record_id, :as => :hidden %>
    
      <%= form.input :patient_id, :as => :hidden %>
      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Trabajador <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center mb-2">
            <i class="material-icons mr-1">person</i>
            <div class="text-body"><strong><%= @medical_certificate.patient.full_name %></strong></div>
        </div>
      </div>
      
      <%= form.input :company_id, :as => :hidden %>
      
      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center mb-2">
            <i class="material-icons mr-1">business</i>
            <div class="text-body"><strong><%= @company.name %></strong></div>
        </div>
      </div>

      <div class="col-md-6">
        <%= form.input :date, as: :string , input_html: {class: 'date-selector'} %>
      </div>

      <%= form.input :created_by_id, :as => :hidden, :value => current_user.id %>

      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Médico <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center mb-2">
            <i class="material-icons mr-1">account_box</i>
            <div class="text-body"><strong><%= current_user.name %></strong></div>
        </div>
      </div>

      <div class="col-md-6">
        <%= form.input :days %>
      </div>

      <div class="col-md-3">
        <%= form.input :starts_date, as: :string , input_html: {class: 'date-selector'} %>
      </div>

      <div class="col-md-3">
        <%= form.input :ends_date, as: :string , input_html: {class: 'date-selector'} %>
      </div>

      <div class="col-md-12">
        <%= form.input :diagnostic_description %>
      </div>

      <div class="form-inputs" style="display: none;">
        
        <%= form.input :reason %>
        <%= form.input :document_id %>
        <%= form.input :type_certificate %>
      </div>
      
    </div>
  </div>

  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $("#url").val(window.location.pathname);

  $(".date-selector").flatpickr({
    altInput: true,
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>

