<p id="notice"><%= notice %></p>

<h1>Medical Certificates</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Patient</th>
      <th>Medical record</th>
      <th>Reason</th>
      <th>Diagnostic description</th>
      <th>Days</th>
      <th>Starts date</th>
      <th>Ends date</th>
      <th>Created by</th>
      <th>Document</th>
      <th>Type certificate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_certificates.each do |medical_certificate| %>
      <tr>
        <td><%= medical_certificate.date %></td>
        <td><%= medical_certificate.patient_id %></td>
        <td><%= medical_certificate.medical_record_id %></td>
        <td><%= medical_certificate.reason %></td>
        <td><%= medical_certificate.diagnostic_description %></td>
        <td><%= medical_certificate.days %></td>
        <td><%= medical_certificate.starts_date %></td>
        <td><%= medical_certificate.ends_date %></td>
        <td><%= medical_certificate.created_by_id %></td>
        <td><%= medical_certificate.document_id %></td>
        <td><%= medical_certificate.type_certificate %></td>
        <td><%= link_to 'Show', medical_certificate %></td>
        <td><%= link_to 'Edit', edit_medical_certificate_path(medical_certificate) %></td>
        <td><%= link_to 'Destroy', medical_certificate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical Certificate', new_medical_certificate_path %>
