<div class="modal-header">
  <h5 class="modal-title">Certificado Médico</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-3">
      
      <label style="font-size: 1rem;text-transform: uppercase; font-weight: bold;">
        Nombre:
      </label>
      <br/>
      <label style="font-size: 1rem;color: rgba(147, 159, 173, 0.84);font-weight: bold;">
        <%= @medical_certificate.patient.full_name %>  
      </label>
      <br/>
      <label style="font-size: 1rem;text-transform: uppercase;font-weight: bold;">
        Correo Electrónico:
      </label>
      <br/>
      <label style="font-size: 1rem;color: rgba(147, 159, 173, 0.84);font-weight: bold;">
        <%= @medical_certificate.patient.email %>  
      </label>
      <br/>

      <%= simple_form_for :mailer, url: users_path do |f| %>
        <%= f.input :email, as: :string, :label => "Correo Electrónico" %>
        <button type="button" class="btn btn-outline-primary">
          <i class="material-icons mr-1">email</i> Enviar
        </button>
      <% end %>
    </div>
    <div class="col-md-9">
      <iframe src="<%= medical_certificate_path(@medical_certificate.id, :format => "pdf") %>#view=FitH" style="right:0; top:0; bottom:0; width:100%;height: 75vh;background: rgb(50, 54, 57);"></iframe>
    </div>
  </div>
  
</div>

<div class="modal-footer">
  <div class="actions">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
      <i class="material-icons mr-1">close</i> Cerrar
    </button>
    <button type="button" class="btn btn-outline-primary">
      <i class="material-icons mr-1">print</i> Imprimir
    </button>
  </div>
</div>
