<%= simple_form_for(@task, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <%= form.input :project_id, :as => :hidden, :value => @task.project_id %>
      <%= form.input :number, :as => :hidden, :value => @task.number%>
      <%= form.input :status, :as => :hidden, :value => @task.status%>
      
      <div class="col-md-12">
        <label class="form-control-label select required" for="patient_company_id">Plan de acción <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center mb-2">
            <i class="material-icons mr-1">featured_play_list</i>
            <div class="text-body"><strong><%= @task.project.name %></strong></div>
        </div>
      </div>

      <div class="col-md-6">
        <%= form.input :name %>
      </div>

      <div class="col-md-6">
        <%= form.input :owner_id, collection: @patients, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-3">
        <%= form.input :start_date, as: :string , input_html: {class: 'date-selector'} %>    
      </div>

      <div class="col-md-3">
        <%= form.input :due_date, as: :string , input_html: {class: 'date-selector'} %>    
      </div>

      <div class="col-md-6">
        <%= form.input :progress %>
      </div>

      <div class="col-md-12">
        <%= form.input :description %>
      </div>
      
    </div>
  </div>

  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });

  $("#task_progress").ionRangeSlider({
    min: 0,
    max: 100,
    step: 10
  });

</script>



