<div class="layout-login-centered-boxed__form card">
  <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-2 navbar-light">
    <a href="#" class="navbar-brand flex-column mb-2 align-items-center mr-0" style="min-width: 0">
      <span class="material-icons mb-3" style="font-size: 48px">group_work</span>
      <span>Nexus 45001</span>
    </a>
    <div class="alert alert-primary" role="alert">
      <strong>Usuario:</strong> admin & <strong>Contraseña:</strong> 123456
    </div>

  </div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <label class="form-control-label string optional text-label" for="user_login">Usuario</label>
      <div class="input-group input-group-merge">
        <input type="text" class="form-control form-control-appended" autofocus="autofocus" autocomplete="login" required="" name="user[login]" id="user_login" placeholder="Nombre de usuario" value="admin">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="material-icons">person</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label string optional text-label" for="user_password">Contraseña</label>
      <div class="input-group input-group-merge">
        <input type="password" class="form-control form-control-appended" required="" name="user[password]" id="user_password" placeholder="Contraseña de usuario" value="123456">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="material-icons">lock_outline</span>
          </div>
        </div>
      </div>
    </div>
<!-- 
    <%= f.input :login,
                required: false,
                autofocus: true,
                :label_html => {:class => "text-label"},
                input_html: { autocomplete: "login", value: "admin"}  %>


    <%= f.input :password,
                required: false,
                :label_html => {:class => "text-label"},
                input_html: { autocomplete: "current-password", value: "123456" } %> -->

    <div class="form-group">
      <%= f.button :submit, "Iniciar sesión", :class => "btn btn-block btn-primary" %>
    </div>
    <div class="form-group">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? && false %>
    </div>
    <%= render "users/shared/links" if false %>

    <%if alert.present? %>
      <div class="alert alert-soft-success d-flex" role="alert">
      <i class="material-icons mr-3" style="color: #dc3545 !important">check_circle</i>
        <div class="text-body"><%= alert %></div>
      </div>
    <%end %>
  <% end %>
</div>

<div class="footer-login">
  Nexus 45001 - Software de Seguridad y Salud Ocupacional
</div>






