<%= simple_nested_form_for(@medical_record, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <p style="margin-bottom: 0" class="text-muted">Información Empleado</p>
        <hr/>
      </div>

      <%= form.fields_for :patient, :wrapper => false do |patient_form| %>
        <div class="col-md-6">
          <!-- <%= patient_form.input :ci%> -->
          <%= patient_form.input :id, collection: @all_patients, label_method: lambda { |p| "#{p.ci}"}, prompt: "Seleccione opción", label: "Cédula/Pasaporte", input_html: {class: 'select_tag_2'} %>
          <%= patient_form.input :ci, as: :hidden %>    
        </div>  

        <div class="col-md-6">
          <%= patient_form.input :ci_type, collection: @ci_types, prompt: "Seleccione opción", input_html: {class: 'select_2_d'} %>
        </div>  

        <div class="col-md-6">
          <%= patient_form.input :name%> 
        </div>  
        <div class="col-md-6">
          <%= patient_form.input :last_name%>    
        </div>  

        <div class="col-md-6">
          <%= patient_form.input :company_id, collection: @all_companies, prompt: "Seleccione opción", input_html: {class: 'select_2_d'} %>
        </div>
        <div class="col-md-6">
          <%= patient_form.input :area_id, collection: @areas, prompt: "Seleccione opción", input_html: {class: 'select_2_d'} %>
        </div>

        <div class="col-md-6">
          <%= patient_form.input :position_id, collection: @positions, prompt: "Seleccione opción", input_html: {class: 'select_2_p'} %>
        </div>
        <div class="col-md-6">
          <%= patient_form.input :birth_date,as: :string , input_html: {class: 'date-selector'} %>    
        </div>
      <% end %>

      <div class="col-md-12">
        <p style="margin-bottom: 0" class="text-muted">Información Evaluación Medica</p>
        <hr/>
      </div>


      <div class="col-md-6">
        <%= form.input :medical_type_id, collection: @medical_types, label: false, prompt: "Seleccione opción", input_html: {class: 'select_2_d'} %>
      </div>

      <div class="col-md-6">
        <%= form.input :date ,as: :string , input_html: {class: 'date-time-selector'} %>    
        <%= form.input :doctor_id, collection: @doctors, label_method: lambda { |p| "#{p.name}"}, prompt: "Seleccione opción", input_html: {class: 'select_2_d'} %>
        <%= form.input :patient_id, as: :hidden %>
      </div>

      

      <div class="col-md-12">
        <p style="margin-bottom: 0" class="text-muted">Exámenes generales y específicos de acuerdo al Riesgo Y Puesto de Trabajo</p>
        <hr/>
      </div>

      <div class="col-md-12">
        <%= form.link_to_add "Añadir Exámen<i class='material-icons'>add_circle</i>".html_safe, :medical_record_exams, :data => { :target => "#medical_record_exams" } %> 
        <table class="table med-record mb-0 thead-border-top-0" id="medical_record_exams">
          <tr>
            <th style="min-width: 30%">EXAMEN</th>
            <th class="text-center">FECHA</th>
            <th class="text-center">RESULTADO</th>
            <th></th>
          </tr>
          <%- counter = 1%>
          <%= form.fields_for :medical_record_exams, @medical_record.medical_record_exams.sort_by(&:id) , :wrapper => false do |exam_form| %>
            <tr class="fields">
              <td style="min-width: 30%">
                <%= exam_form.input :exam_id, collection: @exams, label: false, input_html: {class: 'select_2_d', :style => "width: 100%;"}%>
              </td>
              <td><%= exam_form.input :date, as: :string, label: false, input_html: {class: 'date-selector'} %> </td>
              <td><%= exam_form.input :result, label: false %> </td>
              <td>
                <%= exam_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe %>
              </td>
            </tr>
            <%- counter += 1%>
          <% end %>
        </table>
      </div>

      <div class="col-md-12">
        <div id="text_medical_type_id_0" class="text_medical_type" style="display: none;">
          <p><strong class="headings-color">Evaluación Preocupacional</strong></p>
          <div class="text-muted">Son aquellas actividades que se realizan para determinar las condiciones de salud física, mental y social del trabajador antes de su contratación, en función de las condiciones de trabajo a las que estaría expuesto, acorde con los requerimientos de la tarea y perfil del puesto de trabajo. El objetivo es determinar la aptitud del trabajador para desempeñar en forma eficiente las labores sin perjuicio de su salud.</div>  
        </div>

        <div id="text_medical_type_id_1" class="text_medical_type" style="display: block;">
          <p><strong class="headings-color">Evaluación Periódica</strong></p>
          <div class="text-muted">Consiste en evaluaciones médicas de la salud de los trabajadores al menos una vez al año con la finalidad de realizar el monitoreo de los efectos en la salud del trabajador por la exposición a factores de riesgo a los que se encuentra expuesto.</div>  
        </div>

        <div id="text_medical_type_id_2" class="text_medical_type" style="display: none;">
          <p><strong class="headings-color">Evaluación Reintegro</strong></p>
          <div class="text-muted">Consiste en evaluaciones médicas para reincorporar al trabajador al desempeño de una actividad laboral después de ausencia prolongada generalmente por motivos de salud.</div>  
        </div>

        <div id="text_medical_type_id_3" class="text_medical_type" style="display: none;">
          <p><strong class="headings-color">Evaluación Retiro</strong></p>
          <div class="text-muted">Es aquella que se debe realizar al trabajador cuando se termina la relación laboral. Su objetivo es valorar y registrar las condiciones de salud en las que el trabajador se desvincula del centro de trabajo, en relación a los factores de riesgo a los que estuvo expuesto.</div> 
        </div>
        
      </div>

    </div>
  </div>

  <%= @medical_record.errors.full_messages %>

  <div class="modal-footer">
    <div class="actions">
      <%= form.submit "Crear", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  
    $('select.select_2_d').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    });

    // Select to get patient info
    $('select.select_tag_2').select2({
      tags: true,
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    }).on('select2:select', function (evt) {
      if (evt.params.data.element){
        patient_id = evt.params.data.element.value;
        ci = null
        console.log(patient_id);
      }else{
        patient_id = null;
        ci = evt.params.data.text
        console.log("usuario nuevo");
        console.log();
      }
      load_with_patient(patient_id, ci, null);
    });


    $('select.select_2_p').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('#modal .modal-body')
    }).on('select2:select', function (evt) {
      patient_id = $("#medical_record_patient_id").val();
      ci = null
      position_id = null
      if (evt.params.data.element){
        position_id = evt.params.data.element.value;
      }
      if (patient_id && position_id){
        load_with_patient(patient_id, ci, position_id);  
      }
      
    });


    $(".date-time-selector").flatpickr({
      enableTime: true,
      altInput: true,
      altFormat: "F j, Y H:i",
      dateFormat: "Y-m-d H:i",
    });

    $(".date-selector").flatpickr({
      altInput: true,
      enableTime: false,
      dateFormat: "Y-m-d",
    });



    function load_with_patient(patient_id, ci, position_id){
      const modal_holder_selector = '#modal-holder';
      const modal_selector = '.modal';
      var location = "/medical_records/new";  
      if (patient_id){
        location = location + "?patient_id=" + patient_id;  
        if (position_id){
          location = location + "&position_id=" + position_id;  
        }
      } else{
        if (ci){
          location = location + "?ci=" + ci;  
        } 
      }
      // Load modal dialog from server
      $.get(
        location,
        data => { $('.modal-backdrop').remove(); $(modal_holder_selector).html(data).find(modal_selector).modal(); }
      );
      return false;
    }

    $(".medical_record_medical_type_id .form-check-input.radio_buttons").click(function() {
      // console.log($(this).val());
      $(".text_medical_type").hide();
      $("#text_medical_type_id_" + $(this).val()).show();
    });
  
  
</script>

