<% if medical_records.any? %>
  <% if patient_filter.present? || status_filter.present? || medical_type_filter.present? || doctor_filter.present? || year_filter.present? %>
    <span class="badge badge-light">Filtrado por: </span>
  <% end %>
  <% if patient_filter.present? %>
    <span class="badge badge-secondary">
      EMPLEADO 
      <a id="patient_filter" class="remove-filter" href="#" onclick="remove_patient_filter()">x</a>
    </span>
  <% end %>
  <% if status_filter.present? %>
    <span class="badge badge-secondary">
      ESTADO 
      <a id="status_filter" class="remove-filter" href="#" onclick="remove_status_filter()">x</a>
    </span>
  <% end %>
  <% if medical_type_filter.present? %>
    <span class="badge badge-secondary">
      TIPO EVALUACIÓN 
      <a id="medical_type_filter" class="remove-filter" href="#" onclick="remove_medical_type_filter()">x</a>
    </span>
  <% end %>
  <% if doctor_filter.present? %>
    <span class="badge badge-secondary">
      DOCTOR 
      <a id="doctor_filter" class="remove-filter" href="#" onclick="remove_doctor_filter()">x</a>
    </span>
  <% end %>
  <% if year_filter.present? %>
    <span class="badge badge-secondary">
      AÑO 
      <a id="year_filter" class="remove-filter" href="#" onclick="remove_year_filter()">x</a>
    </span>
  <% end %>
  <% medical_records.each do |r| %>
    <p class="text-dark-gray d-flex align-items-center mt-3">
      <i class="material-icons icon-muted mr-2">event</i>
      <strong><%= r.first.strftime("%A, %-d %b %Y") %></strong>
    </p>
    <% r.last.each do |i| %>
      <div class="row align-items-center projects-item mb-1">
        <div class="col-sm-auto mb-1 mb-sm-0">
          <div class="text-dark-gray"><%= i.date.strftime("%I:%M %p") %></div>
        </div>
        <div class="col-sm">
          <div class='card m-0 <%= "medical_type_#{i.medical_type_id}" %>'>
            <div class="px-4 py-3">
              <!-- <a href="#" class="text-dark-gray"><%= select_array(@medical_types, i.medical_type_id) %></a>
              <i class="material-icons icon-muted icon-20pt ml-2">folder</i> -->
              <!-- <div class="d-flex align-items-center">
              </div> -->
              
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="d-flex align-items-center">
                    <% if i.legacy_id.present? && !i.legacy_id.blank? %>
                      <% if i.edit? || i.comments? %>
                        <a href="<%= medical_record_path(i.id) %>" class="text-body"><strong class="text-15pt mr-2"><%= "##{i.id_to_s} - #{i.exams.first.name.upcase}" %> </strong></a>
                      <% else %>
                        <a class="text-body"><strong class="text-15pt mr-2"><%= "##{i.id_to_s} - #{i.exams.first.name.upcase}" %> </strong></a>
                      <% end %>
                    <% else %>
                      <a href="<%= medical_record_path(i.id) %>" class="text-body"><strong class="text-15pt mr-2"><%= "#{i.generate_code} - #{select_array(@medical_types, i.medical_type_id)}" %> </strong></a>
                    <% end %>
                    <% if i.finished? %>
                      <span class="badge badge-secondary">Finalizado</span>
                    <% else %>
                      <span class="badge badge-primary">Abierto</span>
                      <% if i.comments? || !i.comments.blank? %>
                        &nbsp;<span class="badge badge-danger">Tiene Novedades</span>
                      <% end %>
                    <% end %>
                    <span class="badge {{ badge_class }}"></span>
                  </div>
                </div>

                <div class="col-md-4">
                  <small class="text-dark-gray mr-2">Empleado</small>
                  <a href="<%= patient_path(i.patient.id) %>" class="d-flex align-items-center" data-modal="true">
                    <span class="avatar avatar-xxs avatar-online mr-2">
                      <%= show_avatar(i.patient) %>
                    </span>
                    <%= i.patient.full_name %>
                  </a>
                </div>

                <div class="col-md-4">
                  <small class="text-dark-gray mr-2">Puesto de trabajo</small>
                  <%- if i.patient.position.present? %>
                    <a href="<%= position_path(i.patient.position.id) %>" class="d-flex align-items-center"  data-modal="true">
                      <!-- <span class="avatar avatar-xxs avatar-online mr-2">
                        <%= show_avatar(i.patient) %>
                      </span> -->
                      <%= i.patient.position.name %>
                    </a>
                  <%- else %>
                    <%= t("label.blank") %>
                  <%- end %>
                  
                </div>

                <div class="col-md-4">
                  <small class="text-dark-gray mr-2">Doctor responsable</small>
                  <% if i.doctor.present? %>
                    <a href="<%= user_path(i.doctor) %>" class="d-flex align-items-center" data-modal="true">
                      <span class="avatar avatar-xxs avatar-online mr-2">
                        <%= show_avatar(i.doctor) %>
                      </span>
                      <%= i.doctor.name %>
                    </a>
                  <% else %>
                    Sin asignar
                  <% end %>
                  
                </div>

                

              </div>


            </div>
          </div>
        </div>
      </div>  
    <% end %>
  <% end %>
<% else %>
  <p class="text-dark-gray d-flex align-items-center mt-3">
    <i class="material-icons icon-muted mr-2">cancel</i>
    <strong>No existe resultados</strong>
  </p>
<% end %>