<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> EVALUACIÓN MÉDICA DE RETIRO</div></h4>
  </div>
  <div class="card-body">
    <!-- retirement_comments -->
    <div class="row">
      <div class="col-md-12">
        <div class="custom-control custom-switch">
          <%= form.check_box :retirement_evaluation_carried_out, :class => "custom-control-input" %>
          <%= form.label :retirement_evaluation_carried_out, :class => "custom-control-label" %>
        </div>
      </div>
    </div>
    <!-- retirement_comments -->
    <div class="row">
      <div class="col-md-12">
        <%= form.input :retirement_comments %>
      </div>
    </div>
  </div>
</div>