<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> ANTECEDENTES FAMILIARES (DETALLAR EL PARENTESCO)</div></h4>
  </div>
  <div class="card-body">
    <% if @initial_history.present? %>
      <div class="row" style="margin-left:0;margin-right:0;">
        <%- counter = 1%>
        <% @initial_history.medical_record_family_histories.sort_by(&:id).each do |family_history| %>
          <div class="col-md-2 mb-3 select-check">
            <span class="select-check">
              <%= "#{counter}." %>
              <%= select_array(@family_histories.map{|t| [t.name, t.id.to_s]}, family_history.family_history_id) %>
            </span>
          </div>
          <div class="col-md-1 mb-3 text-center align-self-center">
            <%= family_history.active ? 'X' : '' %>
          </div>
        <%- counter += 1%>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <strong><%= MedicalRecord.human_attribute_name("family_history_description") %></strong><br>
          <%= @initial_history.family_history_description %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <%- counter = 1%>
        <%= form.fields_for :medical_record_family_histories, @medical_record.medical_record_family_histories.sort_by(&:id) , :wrapper => false do |family_history_form| %>

          <div class="col-md-2 mb-3">
            <span class="select-check">
              <%= "#{counter}." %>
              <%= select_array(@family_histories.map{|t| [t.name, t.id.to_s]}, family_history_form.object.family_history_id) %>
            </span>
          </div>

          <div class="col-md-1 mb-3" >
            <div class="custom-control custom-switch">
              <%= family_history_form.check_box :active, :class => "custom-control-input" %>
              <%= family_history_form.label :active, :class => "custom-control-label" %>
            </div>
          </div>
        <%- counter += 1%>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= form.input :family_history_description %>
        </div>
      </div>
    <% end %>
  </div>
</div>