<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> FIRMA DEL USUARIO</div></h4>
  </div>
  <div class="card-body">
    <!-- Company -->
    <div class="row">
      <div class="col-md-12">
      	<p class="text-muted"><%= "#{@patient.ci}-#{@patient.full_name}" %></p>
      </div>
    </div>
  </div>
</div>