<%= form.fields_for :patient, :wrapper => false do |patient_form| %>
  <div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-12">
        <div class="card-header card-header-small bg-white">
          <h4 class=" card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> DATOS DEL ESTABLECIMIENTO - EMPRESA Y EMPLEADO</div></h4>
        </div>
      </div> 
      <div class="col-lg-12 card-form__body card-body">
        <div class="row">
          <div class="col-md-3">
            <strong class="text-body">NOMBRE DE LA EMPRESA</strong><br>
            <%= @patient.company.name %>
          </div>

          <div class="col-md-1">
            <strong class="text-body">RUC</strong><br>
            <%= @patient.company.ruc %>
          </div>

          <div class="col-md-1">
            <strong class="text-body">CIIU</strong><br>
            
          </div>
          <div class="col-md-3">
            <strong class="text-body"> ESTABLECIMIENTO DE SALUD</strong><br>
            Prueba
          </div>

          <div class="col-md-2">
            <strong class="text-body">NRO HISTORIA CLI</strong><br>
            <%= "##{@medical_record.patient.id_to_s}" %>
          </div>

          <div class="col-md-2">
            <strong class="text-body">  NRO ARCHIVO</strong><br>
            <%= @medical_record.id %>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-2">
            <strong class="text-body">PRIMER APELLIDO</strong><br>
            <%= @patient.last_name %>
          </div>

          <div class="col-md-2">
            <strong class="text-body">SEGUNDO APELLIDO</strong><br>
            <%= @patient.last_name_1 %>
          </div>

          <div class="col-md-2">
            <strong class="text-body">PRIMER NOMBRE</strong><br>
            <%= @patient.name %>
          </div>
          <div class="col-md-2">
            <strong class="text-body">SEGUNDO NOMBRE</strong><br>
            <%= @patient.name_1 %>
          </div>

          <div class="col-md-2">
            <strong class="text-body">SEXO</strong><br>
            <%= @patient.gender == 1 ? "M" : "F" %>
          </div>

          <div class="col-md-2">
            <strong class="text-body">PUESTO DE TRABAJO</strong><br>
            <%= @patient.position.present? ? @patient.position.code : "Sin asignar" %>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>