<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> ANTECEDENTES DE TRABAJO</div></h4>
  </div>
  <div class="card-body">
    <!-- EMPLOYMENT HISTORIES -->
    <div class="row">
      <div class="col-md-12">
        <strong class="text-body">Nuevo Antecedente de Empleo Anterior</strong>
        <%= form.link_to_add "<i class='material-icons'>add_circle</i>".html_safe, :medical_record_employment_histories, :data => { :target => "#medical_record_employment_histories" } %>
        <div class="row" id="medical_record_employment_histories">
        <%= form.fields_for :medical_record_employment_histories, @medical_record.medical_record_employment_histories.sort_by(&:id) , :wrapper => false do |employment_history_form| %>
          <div class="col-md-12 fields" style="margin-bottom: 5px;">
            <div class="row">
              <div class="col-md-4">
                <%= employment_history_form.input :company_name %>
              </div>
              <div class="col-md-4">
                <%= employment_history_form.input :job %>
              </div>
              <div class="col-md-4">
                <%= employment_history_form.input :activities %>
              </div>
              <div class="col-md-3">
                <%= employment_history_form.input :job_time %>
              </div>
              <div class="col-1 align-self-center">
                Riesgo
              </div>
              <div class="col-md-4 align-self-center">
                <div class="row">
                  <div class="col">
                    <div class="custom-control custom-switch">
                      <%= employment_history_form.check_box :physical_risk, :class => "custom-control-input" %>
                      <%= employment_history_form.label :physical_risk, :class => "custom-control-label" %>
                    </div>
                  </div>
                  <div class="col">
                    <div class="custom-control custom-switch">
                      <%= employment_history_form.check_box :mechanical_risk, :class => "custom-control-input" %>
                      <%= employment_history_form.label :mechanical_risk, :class => "custom-control-label" %>
                    </div>
                  </div>
                  <div class="col">
                    <div class="custom-control custom-switch">
                      <%= employment_history_form.check_box :chemical_risk, :class => "custom-control-input" %>
                      <%= employment_history_form.label :chemical_risk, :class => "custom-control-label" %>
                    </div>
                  </div>
                  <div class="col">
                    <div class="custom-control custom-switch">
                      <%= employment_history_form.check_box :biological_risk, :class => "custom-control-input" %>
                      <%= employment_history_form.label :biological_risk, :class => "custom-control-label" %>
                    </div>
                  </div>
                  <div class="col">
                    <div class="custom-control custom-switch">
                      <%= employment_history_form.check_box :ergonomic_risk, :class => "custom-control-input" %>
                      <%= employment_history_form.label :ergonomic_risk, :class => "custom-control-label" %>
                    </div>
                  </div>
                  <div class="col">
                    <div class="custom-control custom-switch">
                      <%= employment_history_form.check_box :psychosocial_risk, :class => "custom-control-input" %>
                      <%= employment_history_form.label :psychosocial_risk, :class => "custom-control-label" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <%= employment_history_form.input :comments %>
              </div>
              <div class="col-1">
                <%= employment_history_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe %>
              </div>
            </div>
            <hr>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <!-- EMPLOYMENT HISTORIES -->
    <div class="row">
      <div class="col-md-12">
        <strong class="text-body">Accidentes de Trabajo (Descripción)</strong>
        <%= form.fields_for :medical_record_accident_deseases, @medical_record.medical_record_accident_deseases.sort_by(&:id) , :wrapper => false do |accident_desease_form| %>
          <div class="col-md-12 fields" style="margin-bottom: 5px;">
             <div class="row">
              <div class="col-md-12">
                <strong><%= accident_desease_form.object.accident_type %></strong>
              </div>
              <div class="col-md-6">
                <%= accident_desease_form.input :qualified %>
              </div>
              <div class="col-md-3">
                <%= accident_desease_form.input :qualified_reason %>
              </div>
              <div class="col-md-3">
                <%= accident_desease_form.input :quelified_date %>
              </div>
            </div>
             <div class="row">
              <div class="col-md-12">
                <%= accident_desease_form.input :comments %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


