<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> DATOS DEL PROFESIONAL</div></h4>
  </div>
  <div class="card-body">
    <!-- Company -->
    <div class="row">
      <div class="col-md-12">
      	<p class="text-muted">CERTIFICO QUE LO ANTERIORMENTE EXPRESADO EN RELACIÓN A MI ESTADO DE SALUD ES VERDAD. SE ME HA INFORMADO LAS MEDIDAS PREVENTIVAS A TOMAR PARA DISMINUIR O MITIGAR LOS RIESGOS RELACIONADOS CON MI ACTIVIDAD LABORAL.</p>
      </div>
      <div class="col-md-2">
      	<strong class="headings-color">FECHA</strong><br>
				2019/10/07
      </div>
      <div class="col-md-2">
      	<strong class="headings-color">HORA</strong><br>
				12:00
      </div>
      <div class="col-md-3">
      	<strong class="headings-color">NOMBRES Y APELLIDOS</strong><br>
				<%= @medical_record.doctor.name %>
      </div>
      <div class="col-md-2">
      	<strong class="headings-color">CÓDIGO</strong><br>
				<%= @medical_record.doctor.id %>
      </div>
      <div class="col-md-3">
      	<strong class="headings-color">FIRMA Y SELLO</strong><br>
				
      </div>
    </div>
  </div>
</div>
