<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> VALORACIÓN TRAUMATOLÓGICA</div></h4>
  </div>
  <div class="card-body">
    <!-- OPHTHALMOLYTIC OBSERVATIONS -->
    <div class="row">
      <div class="col-md-12">
        <strong class="text-body">TIPO DE INFORME</strong><br>
        <%= form.input :trauma_type, collection: @trauma_types, label: false, input_html: {class: 'select_2', :style => "width: 100%;"} %>
      </div>
    </div>
    <br>
    <!-- ANAMNESIS -->
    <div class="row">
      <div class="col-md-12">
        <strong class="text-body">ANAMNESIS (puesto de trabajo actual - no aplica para preocupacionales)</strong><br>
        <br>
        <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
          <tr>
            <td>
              <%= form.label :sitting_posture %>
            </td>
            <td>
              <%= form.input :sitting_posture, label: false, input_html: { min: 1, max: 100 } %>
            </td>
            <td>
              <%= form.label :manual_heavy_cargo %>
            </td>
            <td>
              <div class="custom-control custom-switch">
                <%= form.check_box :manual_heavy_cargo, label: false, :class => "custom-control-input" %>
                <%= form.label :manual_heavy_cargo, "SI/NO", :class => "custom-control-label" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :standing_posture %>
            </td>
            <td>
              <%= form.input :standing_posture, label: false, input_html: { min: 1, max: 100 } %>
            </td>
            <td>
              <%= form.label :avg_wieght %>
            </td>
            <td>
              <%= form.input :avg_wieght, label: false, input_html: { min: 1 } %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :forced_posture %>
            </td>
            <td>
              <div class="custom-control custom-switch">
                <%= form.check_box :forced_posture, label: false, :class => "custom-control-input" %>
                <%= form.label :forced_posture, "SI/NO", :class => "custom-control-label" %>
              </div>
            </td>
            <td>
              <%= form.label :y_distance %>
            </td>
            <td>
              <%= form.input :y_distance, label: false, input_html: { min: 1 } %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :repetitive_movements %>
            </td>
            <td>
              <div class="custom-control custom-switch">
                <%= form.check_box :repetitive_movements, label: false, :class => "custom-control-input" %>
                <%= form.label :repetitive_movements, "SI/NO", :class => "custom-control-label" %>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <!-- OPHTHALMOLYTIC VISUAL ACUITY NEAR  -->
    <div class="row" style="display: none;">
      <div class="col-md-12">
        <strong class="text-body">AGUDEZA VISUAL CERCA</strong><br>
        <br>
        <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
          <tr>
            <th class="text-center">CORECCIÓN</th>
            <th class="text-center">OJO DERECHO</th>
            <th class="text-center">OJO IZQUIERDO</th>
          </tr>
          <tr class="fields">
            <td class="text-center">
              <div class="custom-control custom-switch">
                <%= form.check_box :near_correction, label: false, :class => "custom-control-input" %>
                <%= form.label :near_correction, :class => "custom-control-label" %>
              </div>
            </td>
            <td><%= form.input :near_left_eye, label: false %> </td>
            <td><%= form.input :near_right_eye, label: false %> </td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <!-- CURRENT ILNESS -->
    <div class="row">
      <div class="col-md-12">
        <strong class="text-body">ENFERMEDAD ACTUAL</strong><br>
        <%= form.input :current_disease, label: false %>
      </div>
    </div>
    <br>
    <!-- PHYSICAL EXAM -->
    <div class="row">
      <div class="col-md-12">
        <strong class="text-body">EXAMEN FÍSICO</strong>
        <br>
        <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
          <tr>
            <td>
              <%= form.label :dorsal_kyphosis %>
            </td>
            <td>
              <div class="custom-control custom-switch">
                <%= form.check_box :dorsal_kyphosis, label: false, :class => "custom-control-input" %>
                <%= form.label :dorsal_kyphosis, "SI/NO", :class => "custom-control-label" %>
              </div>
            </td>
            <td>
              <%= form.label :cervical_lordosis_curvature %>
            </td>
            <td>
              <%= form.input :cervical_lordosis_curvature, collection: @trauma_curvature_types, label: false, input_html: {class: 'select_2', :style => "width: 250px;"} %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :lumbar_kyphosis %>
            </td>
            <td>
              <div class="custom-control custom-switch">
                <%= form.check_box :lumbar_kyphosis, label: false, :class => "custom-control-input" %>
                <%= form.label :lumbar_kyphosis, "SI/NO", :class => "custom-control-label" %>
              </div>
            </td>
            <td>
              <%= form.label :dorsal_kyphosis_curvature %>
            </td>
            <td>
              <%= form.input :dorsal_kyphosis_curvature, collection: @trauma_curvature_types, label: false, input_html: {class: 'select_2', :style => "width: 250px;"} %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :dorsal_scoliosis %>
            </td>
            <td>
              <div class="custom-control custom-switch">
                <%= form.check_box :dorsal_scoliosis, label: false, :class => "custom-control-input" %>
                <%= form.label :dorsal_scoliosis, "SI/NO", :class => "custom-control-label" %>
              </div>
            </td>
            <td>
              <%= form.label :lumbar_kyphosis_curvature %>
            </td>
            <td>
              <%= form.input :lumbar_kyphosis_curvature, collection: @trauma_curvature_types, label: false, input_html: {class: 'select_2', :style => "width: 250px;"} %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :lumbar_scoliosis %>
            </td>
            <td>
              <div class="custom-control custom-switch">
                <%= form.check_box :lumbar_scoliosis, label: false, :class => "custom-control-input" %>
                <%= form.label :lumbar_scoliosis, "SI/NO", :class => "custom-control-label" %>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <br>
  </div>
</div>