<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> CONSTANTES VITALES Y ANTROPOMETRÍA</div></h4>
  </div>
  <div class="card-body">
    <!-- Company -->
    <div class="row">
      <div class="col-md-12">
       <!-- 
        <%= form.link_to_add "<i class='material-icons'>add_circle</i>".html_safe, :medical_record_vital_constants, :data => { :target => "#medical_record_vital_constants" } %> -->

        <div class="row">
        	<div class="col-md-6">
        		<div class="row">
        			<div class="col-md-8 nested_title_card">
		        		CONSTANTE
		        	</div>
		        	<div class="col-md-4 nested_title_card">
		        		VALOR
		        	</div>
        		</div>
        	</div>
        	<div class="col-md-6">
        		<div class="row">
        			<div class="col-md-8 nested_title_card">
		        		CONSTANTE
		        	</div>
		        	<div class="col-md-4 nested_title_card">
		        		VALOR
		        	</div>
        		</div>
        	</div>
        </div>

        <div class="row">
        <%- counter = 1%>
        <%= form.fields_for :medical_record_vital_constants, @medical_record.medical_record_vital_constants.sort_by(&:id) , :wrapper => false do |vital_constant_form| %>
      		<div class="col-md-6 fields" style="margin-bottom: 5px;">
		        <div class="row">
		          <!-- <td>
		            <%= vital_constant_form.input :vital_constant_id, collection: @vital_constants, label: false, input_html: {class: 'select_2', :style => "width: 100%;", disabled: "disabled"}%>
		          </td> -->
		          <div class="col-md-8">
		            <%= "#{counter}." %>
		            <%= select_array(@vital_constants.map{|t| [t.name, t.id.to_s]}, vital_constant_form.object.vital_constant_id) %>
		          </div>
		          <div class="col-md-4">
		          	<%= vital_constant_form.input :value, label: false %>
							</div>
		          <!-- <td>
		            <%= vital_constant_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe %>
		          </td> -->
		        </div>
		      </div>
	        <%- counter += 1%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>