<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0">RECOMENDACIONES</div></h4>
  </div>
  <div class="card-body">
    <!-- retirement_comments -->
    <div class="row">
      <div class="col-md-12">
        <%= form.input :aptitude_recomendations, label: false %>
      </div>
    </div>
  </div>
</div>