<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> EXAMEN FÍSICO REGIONAL</div></h4>
  </div>
  <div class="card-body">

    <!-- Company -->
    <div class="row">
      <div class="col-md-12">

        <%- new_region_name = "" %>
        <%- old_region_name = "" %>
        
        <div class="row">
          <div class="col-md-4 fields" style="padding: 15px; border-bottom: 1px solid #ccc">
            <%= form.fields_for :medical_record_physical_exams, @medical_record.medical_record_physical_exams.sort_by(&:id) , :wrapper => false do |physical_exam_form| %>
              <%- new_region_name = physical_exam_form.object.region %> 
              
              <% if new_region_name != old_region_name && old_region_name != "" %>
                </div>
                <div class="col-md-4 fields" style="padding: 15px; border-bottom: 1px solid #ccc">
              <% end %>

              <div class="row">
                <div class="col-md-4">
                  <%= new_region_name if new_region_name != old_region_name %>
                  <%- old_region_name = new_region_name if new_region_name != old_region_name %>
                </div>
                <div class="col-md-6">
                  <%= physical_exam_form.object.physical_exam_id %>
                  <%= select_array(@physical_exams.map{|t| [t.name, t.id.to_s]}, physical_exam_form.object.physical_exam_id) %>
                </div>
                <div class="col-md-2">
                  <div class="custom-control custom-switch">
                    <%= physical_exam_form.check_box :active, :class => "custom-control-input" %>
                    <%= physical_exam_form.label :active, :class => "custom-control-label" %>
                  </div>
                </div>
              </div> 
            <% end %>
          </div>
          <div class="col-md-4 fields" style="padding: 15px; border-bottom: 1px solid #ccc"></div>
          <div class="col-md-4 fields" style="padding: 15px; border-bottom: 1px solid #ccc"></div>
        </div>
      </div>
    </div>

    <br/>
    <div class="row">
      <div class="col-md-12">
        <%= form.input :exam_description %>
      </div>
    </div>

  </div>
</div>

