<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> VALORACIÓN OFTALMOLÓGICA</div></h4>
  </div>
  <div class="card-body">
    <%= form.simple_fields_for :spe_ophthalmolytic, :wrapper => false do |spe_ophthalmolytic_form| %>
      <!-- OPHTHALMOLYTIC OBSERVATIONS -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">OBSERVACIONES</strong>
          <%= spe_ophthalmolytic_form.input :ophthalmolytic_obs %>
        </div>
      </div>
      <!-- OPHTHALMOLYTIC VISUAL ACUITY FAR  -->
      <div class="row mt-3">
        <div class="col-md-12">
          <strong class="text-body">AGUDEZA VISUAL LEJOS</strong>
          <table class="table med-record mt-2 thead-border-top-0" id="medical_record_toxic_habits">
            <tr>
              <th class="text-center">CORECCIÓN</th>
              <th class="text-center">OJO IZQUIERDO</th>
              <th class="text-center">OJO DERECHO</th>
            </tr>
            <tr class="fields">
              <td class="text-center">
                <div class="custom-control custom-switch">
                  <%= spe_ophthalmolytic_form.check_box :far_correction, label: false, :class => "custom-control-input" %>
                  <%= spe_ophthalmolytic_form.label :far_correction, :class => "custom-control-label" %>
                </div>
              </td>
              <td><%= spe_ophthalmolytic_form.input :far_left_eye, label: false %> </td>
              <td><%= spe_ophthalmolytic_form.input :far_right_eye, label: false %> </td>
            </tr>
          </table>
        </div>
      </div>
      

      <!-- OPHTHALMOLYTIC VISUAL ACUITY NEAR  -->
      <div class="row mt-3">
        <div class="col-md-12">
          <strong class="text-body">AGUDEZA VISUAL CERCA</strong>
          <table class="table med-record mt-2 thead-border-top-0" id="medical_record_toxic_habits">
            <tr>
              <th class="text-center">CORECCIÓN</th>
              <th class="text-center">OJO IZQUIERDO</th>
              <th class="text-center">OJO DERECHO</th>
            </tr>
            <tr class="fields">
              <td class="text-center">
                <div class="custom-control custom-switch">
                  <%= spe_ophthalmolytic_form.check_box :near_correction, label: false, :class => "custom-control-input" %>
                  <%= spe_ophthalmolytic_form.label :near_correction, :class => "custom-control-label" %>
                </div>
              </td>
              <td><%= spe_ophthalmolytic_form.input :near_left_eye, label: false %> </td>
              <td><%= spe_ophthalmolytic_form.input :near_right_eye, label: false %> </td>
            </tr>
          </table>
        </div>
      </div>
      <br>
      <!-- OPHTHALMOLYTIC TONOMETRY  -->
      <div class="row mt-3">
        <div class="col-md-12">
          <strong class="text-body">TONOMETRÍA</strong>
          <table class="table med-record mt-2 thead-border-top-0" id="medical_record_toxic_habits">
            <tr>
              <th class="text-center">OJO IZQUIERDO</th>
              <th class="text-center">OJO DERECHO</th>
            </tr>
            <tr class="fields">
              <td class="pl-0 py-2"><%= spe_ophthalmolytic_form.input :tonometry_left_eye, label: false %> </td>
              <td class="pr-0 py-2"><%= spe_ophthalmolytic_form.input :tonometry_right_eye, label: false %> </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- OPHTHALMOLYTIC COLOR TEST  -->
      <div class="row mt-3">
        <div class="col-md-12">
          <strong class="text-body">TEST DE COLORES</strong><br>
          <table class="table med-record mt-2 thead-border-top-0" id="medical_record_toxic_habits">
            <tr>
              <th class="text-center">OJO IZQUIERDO</th>
              <th class="text-center">OJO DERECHO</th>
            </tr>
            <tr class="fields">
              <td class="px-0 py-2"><%= spe_ophthalmolytic_form.input :color_test_left_eye, label: false %> </td>
              <td class="pr-0 py-2"><%= spe_ophthalmolytic_form.input :color_test_right_eye, label: false %> </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- OPHTHALMOLYTIC PERIMETRY -->
      <div class="row mt-3">
        <div class="col-md-12">
          <strong class="text-body">CAMPIMETRÍA POR CONFRONTACIÓN</strong><br>
          <table class="table med-record mt-2 thead-border-top-0" id="medical_record_toxic_habits">
            <tr>
              <th class="text-center">OJO IZQUIERDO</th>
              <th class="text-center">OJO DERECHO</th>
            </tr>
            <tr class="fields">
              <td class="px-0 py-2"><%= spe_ophthalmolytic_form.input :perimetry_left_eye, label: false %> </td>
              <td class="pr-0 py-2"><%= spe_ophthalmolytic_form.input :perimetry_right_eye, label: false %> </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- OPHTHALMOLYTIC STEREOPSIS -->
      <div class="row mt-3">
        <div class="col-md-12">
          <strong class="text-body">ESTEREOPSIS</strong><br>
          <table class="table med-record mt-2 thead-border-top-0" id="medical_record_toxic_habits">
            <tr>
              <th class="text-center">OJO IZQUIERDO</th>
              <th class="text-center">OJO DERECHO</th>
            </tr>
            <tr class="fields">
              <td class="px-0 py-2"><%= spe_ophthalmolytic_form.input :stereopsis_left_eye, label: false %> </td>
              <td class="pr-0 py-2"><%= spe_ophthalmolytic_form.input :stereopsis_right_eye, label: false %> </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- OPHTHALMOLYTIC OTHERS -->
      <div class="row mt-3">
        <div class="col-md-12">
          <strong class="text-body">OTROS</strong>
          <%= spe_ophthalmolytic_form.input :ocular_movements, as: :text %><br>
          <%= spe_ophthalmolytic_form.input :biomicroscopy, as: :text %><br>
          <%= spe_ophthalmolytic_form.input :eye_background, as: :text %>
        </div>
      </div>
    <% end %>
  </div>
</div>