<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> ANTECEDENTES PERSONALES </div></h4>
  </div>
  <div class="card-body">

    <% if @initial_history.present? %>
      <!-- CLINICAL HISTORY -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">ANTECEDENTES CLÍNICOS Y QUIRÚRGICOS</strong><br>
          <%= @initial_history.clinical_history %>
        </div>
      </div>
      <br>
      <% if @medical_record.medical_type_id.present? && @medical_record.medical_type_id == 0 %>
        <!-- OBSTETRIC GINECO BACKGROUND -->
        <div class="row">
          <div class="col-md-12">
            <strong class="text-body">ANTECEDENTES GINECO OBSTÉTRICOS</strong>
            <br>
            <div class="row align-items-center mb-2">
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("menarche") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.menarche %>
              </div>
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("cycles") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.cycles %>
              </div>
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("last_menstruation_date") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.last_menstruation_date %>
              </div>
            </div>
            <div class="row align-items-center mb-2">
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("pregnancies") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.pregnancies %>
              </div>
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("labors") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.labors %>
              </div>
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("caesarean") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.caesarean %>
              </div>
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("abortions") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.abortions %>
              </div>
            </div>
            <div class="row align-items-center mb-2">
              <div class="col-sm col1">
                Hijos<br>
                <div class="row align-items-center mb-2">
                  <div class="col-sm col1">
                    <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("living_children") %></strong><br/>
                    <%= @initial_history.medical_record_obstetric_gineco_background.living_children %>
                  </div>
                  <div class="col-sm col1">
                    <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("dead_children") %></strong><br/>
                    <%= @initial_history.medical_record_obstetric_gineco_background.dead_children %>
                  </div>
                </div>
              </div>
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("active_sex_life") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.active_sex_life ? 'SI' : 'NO' %>
              </div>
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("family_planning") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.family_planning ? 'SI' : 'NO' %>
              </div>
              <div class="col-sm col1">
                <strong><%= MedicalRecordObstetricGinecoBackground.human_attribute_name("family_planning_type") %></strong><br/>
                <%= @initial_history.medical_record_obstetric_gineco_background.family_planning_type %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- TOXIC HABITS -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">HÁBITOS TÓXICOS</strong> 
          <br>
          <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
            <tr class="header-table">
              <th>CONSUMOS NOCIVOS</th>
              <th class="text-center">SI</th>
              <th class="text-center">NO</th>
              <th class="text-center">TIEMPO DE CONSUMO</th>
              <th class="text-center">CANTIDAD</th>
              <th class="text-center">EX CONSUMIDOR</th>
              <th class="text-center">TIEMPO DE ABSTINENCIA</th>
            </tr>
            <% @initial_history.medical_record_toxic_habits.sort_by(&:id).each do |task| %>
            <tr class="fields">
              <td>
                <%= select_array(@toxic_habits.map{|t| [t.name, t.id.to_s]}, task.toxic_habit_id) %>
              </td>
              <td class="text-center">
                <%= task.active ? 'X' : '' %>
              </td>
              <td class="text-center">
                <%= task.active ? '' : 'X' %>
              </td>
              <td><%= task.time %></td>
              <td><%= task.quantity %></td>
              <td class="text-center">
                <div class="custom-control custom-switch">
                  <%= task.ex_consumer ? 'SI' : 'NO' %>
                </div>    
              </td>
              <td><%= task.abstinence_time %></td>
            </tr>
            <% end %>
          </table>
          
        </div>
      </div>
      <br>
      <!-- LIFESTYLES -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">ESTILO DE VIDA</strong> 
          <br>
          <table class="table med-record mb-0 thead-border-top-0" id="medical_record_lifestyles">
            <tr class="header-table">
              <th>CONSUMOS NOCIVOS</th>
              <th class="text-center">SI</th>
              <th class="text-center">NO</th>
              <th class="text-center">¿CUÁL?</th>
              <th class="text-center">TIEMPO / CANTIDAD</th>
              <!-- <th></th> -->
            </tr>
            <% @initial_history.medical_record_lifestyles.sort_by(&:id).each do |lifestyle| %>
            <tr class="fields">
              <td>
                <%= select_array(@lifestyles.map{|t| [t.name, t.id.to_s]}, lifestyle.lifestyle_id) %>
              </td>
              <td class="text-center">
                <%= lifestyle.active ? 'X' : '' %>
              </td>
              <td class="text-center">
                <%= lifestyle.active ? '' : 'X'%>
              </td>
              
              <td><%= lifestyle.description %> </td>
              <td><%= lifestyle.time %> </td>
            </tr>
            <% end %>
          </table>
          
        </div>
      </div>
      <br/>
      <!-- INCIDENT -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">INCIDENTES</strong><br/>
          <%= @initial_history.incident %>
        </div>
      </div>
      <br/>
      <!-- WORK ACCIDENTS -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body"> ACCIDENTES DE TRABAJO (DESCRIPCIÓN)</strong><br/>
          <%= @initial_history.work_accidents %>
        </div>
      </div>
      <br/>
      <!-- OCCUPATIONAL DISEASES -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body"> ENFERMEDADES PROFESIONALES</strong><br/>
          <%= @initial_history.occupational_diseases %>
        </div>
      </div>
    <% else %>
      <!-- CLINICAL HISTORY -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">ANTECEDENTES CLÍNICOS Y QUIRÚRGICOS</strong><br>
          <%= form.input :clinical_history %>
        </div>
      </div>
      <br>
      <!-- OBSTETRIC GINECO BACKGROUND -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">ANTECEDENTES GINECO OBSTÉTRICOS</strong>
          <br>
          <%= form.simple_fields_for :medical_record_obstetric_gineco_background, :wrapper => false do |obstetric_gineco_background_form| %>
            <div class="row align-items-center mb-2">
              <div class="col-sm col1">
                <%= obstetric_gineco_background_form.input :menarche %>
              </div>
              <div class="col-sm col1">
                <%= obstetric_gineco_background_form.input :cycles %>
              </div>
              <div class="col-sm col1">
                <%= obstetric_gineco_background_form.input :last_menstruation_date %>
              </div>
            </div>
            <div class="row align-items-center mb-2">
              <div class="col-sm col1">
                <%= obstetric_gineco_background_form.input :pregnancies %>
              </div>
              <div class="col-sm col1">
                <%= obstetric_gineco_background_form.input :labors %>
              </div>
              <div class="col-sm col1">
                <%= obstetric_gineco_background_form.input :caesarean %>
              </div>
              <div class="col-sm col1">
                <%= obstetric_gineco_background_form.input :abortions %>
              </div>
            </div>
            <div class="row align-items-center mb-2">
              <div class="col-sm col1">
                Hijos<br>
                <div class="row align-items-center mb-2">
                  <div class="col-sm col1">
                    <%= obstetric_gineco_background_form.input :living_children %>
                  </div>
                  <div class="col-sm col1">
                    <%= obstetric_gineco_background_form.input :dead_children %>
                  </div>
                </div>
              </div>
              <div class="col-sm col1">
                <div class="custom-control custom-switch">
                  <%= obstetric_gineco_background_form.check_box :active_sex_life, :class => "custom-control-input" %>
                  <%= obstetric_gineco_background_form.label :active_sex_life, :class => "custom-control-label" %>
                </div>
              </div>
              <div class="col-sm col1">
                <div class="custom-control custom-switch">
                  <%= obstetric_gineco_background_form.check_box :family_planning, :class => "custom-control-input" %>
                  <%= obstetric_gineco_background_form.label :family_planning, :class => "custom-control-label" %>
                </div>
              </div>
              <div class="col-sm col1">
                <%= obstetric_gineco_background_form.input :family_planning_type %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- TOXIC HABITS -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">HÁBITOS TÓXICOS</strong> 
          <!-- 
          <%= form.link_to_add "<i class='material-icons'>add_circle</i>".html_safe, :medical_record_toxic_habits, :data => { :target => "#medical_record_toxic_habits" } %> -->
          <br>
          <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
            <tr class="header-table">
              <th>CONSUMOS NOCIVOS</th>
              <th class="text-center">NO/SI</th>
              <th class="text-center">TIEMPO DE CONSUMO</th>
              <th class="text-center">CANTIDAD</th>
              <th class="text-center">EX CONSUMIDOR</th>
              <th class="text-center">TIEMPO DE ABSTINENCIA</th>
              <!-- <th></th> -->
            </tr>
            <%= form.fields_for :medical_record_toxic_habits, @medical_record.medical_record_toxic_habits.sort_by(&:id) , :wrapper => false do |task_form| %>
            <tr class="fields">
              <!-- <td>
                <%= task_form.input :toxic_habit_id, collection: @toxic_habits, label: false, input_html: {class: 'select_2', :style => "width: 100%;", disabled: "disabled"}%>
              </td> -->
              <td>
                <%= select_array(@toxic_habits.map{|t| [t.name, t.id.to_s]}, task_form.object.toxic_habit_id) %>
              </td>
              <td class="text-center">
                <div class="custom-control custom-switch">
                  <%= task_form.check_box :active, :class => "custom-control-input" %>
                  <%= task_form.label :active, :class => "custom-control-label" %>
                </div>
              </td>
              <td><%= task_form.input :time, label: false %> </td>
              <td><%= task_form.input :quantity, label: false %> </td>
              <td class="text-center">
                <div class="custom-control custom-switch">
                  <%= task_form.check_box :ex_consumer, label: false, :class => "custom-control-input" %>
                  <%= task_form.label :ex_consumer, label: false, :class => "custom-control-label" %>
                </div>    
              </td>
              <td><%= task_form.input :abstinence_time, label: false %></td>
              <!-- <td>
                <%= task_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe %>
              </td> -->
            </tr>
            <% end %>
          </table>
          
        </div>
      </div>
      <br>
      <!-- LIFESTYLES -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">ESTILO DE VIDA</strong> 
          <!-- 
          <%= form.link_to_add "<i class='material-icons'>add_circle</i>".html_safe, :medical_record_lifestyles, :data => { :target => "#medical_record_lifestyles" } %> -->
          <br>
          <table class="table med-record mb-0 thead-border-top-0" id="medical_record_lifestyles">
            <tr class="header-table">
              <th>CONSUMOS NOCIVOS</th>
              <th class="text-center">NO/SI</th>
              <th class="text-center">¿CUÁL?</th>
              <th class="text-center">TIEMPO / CANTIDAD</th>
              <!-- <th></th> -->
            </tr>
            <%= form.fields_for :medical_record_lifestyles, @medical_record.medical_record_lifestyles.sort_by(&:id) , :wrapper => false do |lifestyle_form| %>
            <tr class="fields">
              <!-- <td>
                <%= lifestyle_form.input :lifestyle_id, collection: @lifestyles, label: false, input_html: {class: 'select_2', :style => "width: 100%;", disabled: "disabled"}%>
              </td> -->
              <td>
                <%= select_array(@lifestyles.map{|t| [t.name, t.id.to_s]}, lifestyle_form.object.lifestyle_id) %>
              </td>
              <td class="text-center">
                <div class="custom-control custom-switch">
                  <%= lifestyle_form.check_box :active, :class => "custom-control-input" %>
                  <%= lifestyle_form.label :active, :class => "custom-control-label" %>
                </div>
              </td>
              
              <td><%= lifestyle_form.input :description, label: false %> </td>
              <td><%= lifestyle_form.input :time, label: false %> </td>
              <!-- <td>
                <%= lifestyle_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe %>
              </td> -->
            </tr>
            <% end %>
          </table>
          
        </div>
      </div>
      <br/>
      <!-- INCIDENT -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body">INCIDENTES</strong> 
          <%= form.input :incident %>
        </div>
      </div>
      <br/>
      <!-- WORK ACCIDENTS -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body"> ACCIDENTES DE TRABAJO (DESCRIPCIÓN)</strong> 
          <%= form.input :work_accidents %>
        </div>
      </div>
      <br/>
      <!-- OCCUPATIONAL DISEASES -->
      <div class="row">
        <div class="col-md-12">
          <strong class="text-body"> ENFERMEDADES PROFESIONALES</strong>
          <%= form.input :occupational_diseases %>
        </div>
      </div>
    <% end %>

    
  </div>
</div>