<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> DIAGNÓSTICO</div></h4>
  </div>
  <div class="card-body">
    <!-- Company -->
    <div class="row">
      <div class="col-md-12">
        <strong class="text-body">Nuevo Diagnostico</strong>
        <%= form.link_to_add "<i class='material-icons'>add_circle</i>".html_safe, :medical_record_diagnostics, :data => { :target => "#medical_record_diagnostics" } %>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9 nested_title_card">
                Código - Diagnostico
              </div>
              <div class="col-md-1 nested_title_card">
                PRE
              </div>
              <div class="col-md-1 nested_title_card">
                DEF
              </div>
              <div class="col-md-1 nested_title_card">
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="medical_record_diagnostics">
        <%= form.fields_for :medical_record_diagnostics, @medical_record.medical_record_diagnostics.sort_by(&:id) , :wrapper => false do |diagnostic_form| %>
          <div class="col-md-12 fields" style="margin-bottom: 5px;">
            <div class="row">
              <div class="col-md-9">
                <%= diagnostic_form.input :diagnostic_id, collection: @diagnostics.map{|t| [t.full_name, t.id.to_s]}, label: false, input_html: {class: 'select_2', :style => "width: 100%;"}%>
              </div>
              
              <div class="col-md-2">
                
                <%= diagnostic_form.input :pre, as: :radio_buttons,
                            collection: [['PRE', true], ['DEF', false]],
                            readonly: nil, wrapper: :vertical_collection_inline, :label => false %>

              </div>
              <div class="col-md-1">
                <%= diagnostic_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


