<h4>RESERVADO PARA CERTIFICADO DE APTITUD</h4>
<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0">CONDICIONES DE SALUD AL MOMENTO DEL RETIRO</div></h4>
  </div>
  <div class="card-body">
    <!-- retirement_comments -->
    <div class="row">
      <div class="col-md-9">
        <label>Después de la valoración médica ocupacional se certifica las condiciones de salud al momento del retiro:</label>
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-switch">
          <%= form.check_box :retirement_satisfaction, :class => "custom-control-input" %>
          <%= form.label :retirement_satisfaction, :class => "custom-control-label" %>
        </div>
      </div>
    </div>
    <!-- retirement_comments -->
    <div class="row">
      <div class="col-md-12">
        <label>OBSERVACIONES RELACIONADAS CON LAS CONDICIONES DE SALUD AL MOMENTO DEL RETIRO:</label><br>
        <%= form.input :retirement_comments, label: false %>
      </div>
    </div>
  </div>
</div>