<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> APTITUD MÉDICA PARA EL TRABAJO</div></h4>
  </div>
  <div class="card-body">
    <!-- Company -->
    <div class="row">
      <div class="col-md-12">
        <%= form.input :aptitude, as: :radio_buttons, collection: [["APTO", 1], ["APTO EN OBSERVACIÓN", 2], ["APTO CON LIMITACIONES", 3], ["NO APTO", 4]], wrapper: :vertical_collection_inline %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <%= form.input :aptitude_obs %>
      </div>

      <div class="col-md-12">
        <%= form.input :aptitude_limit, as: :text %>
      </div>
    </div>
  </div>
</div>