<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> RESULTADOS DE EXÁMENES GENERALES Y ESPECÍFICOS DE ACUERDO AL RIESGO Y PUESTO DE TRABAJO (IMAGEN, LABORATORIO Y OTROS)</div></h4>
  </div>
  <div class="card-body">
    <!-- Company -->
    <div class="row">
      <div class="col-md-12">
        <strong class="text-body">Nuevo Resultado</strong>
        <%= form.link_to_add "<i class='material-icons'>add_circle</i>".html_safe, :medical_record_exams, :data => { :target => "#medical_record_exams" } %> 

        <table class="table med-record mb-0 thead-border-top-0" id="medical_record_exams">
          <tr class="header-table">
            <th style="width: 40%">EXAMEN</th>
            <th class="text-center">FECHA</th>
            <th class="text-center">RESULTADO</th>
            <th class="text-center"></th>
            <!-- <th></th> -->
          </tr>
          <%- counter = 1%>
          <%= form.fields_for :medical_record_exams, @medical_record.medical_record_exams.sort_by(&:id) , :wrapper => false do |exam_form| %>
          <tr class="fields">
             <td>
              <%= exam_form.input :exam_id, collection: @exams, label_method: lambda { |p| "#{p.code} #{p.name}"}, label: false, input_html: {class: 'select_2', :style => "width: 100%;"}%>
            </td> 
            <!-- <td>
              <%= "#{counter}." %>
              <%= select_array(@exams.map{|t| [t.name, t.id.to_s]}, exam_form.object.exam_id) %>
            </td> -->
            <td><%= exam_form.input :date, as: :string, label: false, input_html: {class: 'date-selector', value: DateTime.now.strftime("%Y-%m-%d")} %> </td>
            
            <td><%= exam_form.input :result, label: false %> </td>
            <td>
              <%= exam_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe %>
            </td>
            
          </tr>
          <%- counter += 1%>
          <% end %>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-3">
        <strong class="text-body">Examenes importados de EcuaAmerican</strong>
        <br/>
        <% if @patient.exam_patients.any? %>
          <table class="table mt-2">
            <% @patient.exam_patients.group_by(&:exam).each do |exam| %>
              <tr>
                <td colspan="4">
                  <strong><%= "#{exam[0].name}"%></strong>
                </td>
              </tr>
              <tr class="text-muted">
                <td>
                  <strong>DETERMINACIÓN</strong>
                </td>
                <td>
                  <strong>RESULTADO</strong>
                </td>
                <td>
                  <strong>UNIDAD</strong>
                </td>
                <td>
                  <strong>VAL REFERENCIA</strong>
                </td>
              </tr>
              <% exam[1].each do |determination| %>  
                <tr>
                  <td>
                    <%= determination["determination"] %>
                  </td>
                  <td>
                    <%= determination["result"] %>
                  </td>
                  <td>
                    <%= determination["unit"] %>
                  </td>
                  <td>
                    <%= determination["ref_value"] %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% else %>
          <strong class="text-muted">Sin registros</strong>
        <% end %>

      </div>
    </div>

  </div>
</div>