<div class="card">
  <div class="card-header card-header-small bg-white">
    <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> REVISIÓN DE ÓRGANOS Y SISTEMAS</div></h4>
  </div>
  <div class="card-body">

  	<div class="row align-items-center">
  		<%- counter = 1%>
    	<%= form.fields_for :medical_record_system_revisions, @medical_record.medical_record_system_revisions.sort_by(&:id) , :wrapper => false do |system_revision_form| %>
		    <div class="col-sm col1">
		    	<div class="row align-items-center mb-2">
		    		<div class="col-md-8">
		    			<span class="select-check">
			    			<%= "#{counter}." %>
			      		<%= select_array(@system_revisions.map{|t| [t.name, t.id.to_s]}, system_revision_form.object.system_revision_id) %>		
			      	</span>
		    		</div>
		    		<div class="col-md-4">
		    			<div class="custom-control custom-switch">
	              <%= system_revision_form.check_box :active, :class => "custom-control-input" %>
	              <%= system_revision_form.label :active, :class => "custom-control-label" %>
	            </div>
		    		</div>
		    	</div>
		    </div>
		    <%- counter += 1%>
		    <%=  "</div><div class='row'>".html_safe if counter == 6 %>
		  <% end %>
   	</div>
   	
   	<div class="row">
      <div class="col-md-12">
        <%= form.input :revision_description %>
      </div>
    </div>

  </div>
</div>