<div class="modal-header">
  <h5 class="modal-title">Auditoria Evaluación Médica</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= simple_form_for(@medical_record, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <input type="hidden" name="modal" value="1">
  <div class="modal-body">

    <% if false %>
      <iframe src="<%= result_file_patient_record_medical_check_path(@medical_record.patient_id , @medical_record.id, :format => "pdf") %>#view=FitH" style="right:0; top:0; bottom:0; width:100%;height: 70vh;background: rgb(50, 54, 57);"></iframe>
    <% end %>

    <iframe src="<%= @pdf_url_demo %>" style="right:0; top:0; bottom:0; width:100%;height: 65vh;background: rgb(50, 54, 57);"></iframe>

    <%= form.input :comments %>

  </div>



  <div class="modal-footer">
    <div class="actions">
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
        <i class="material-icons mr-1">close</i> Cerrar
      </button>
      

      <button type="submit" value="comments" name="medical_record[status]" class="btn btn-primary">
        <i class="material-icons mr-1">save</i> Guadar con Novedad
      </button>

      <button type="submit" value="audited" name="medical_record[status]" class="btn btn-success">
        <i class="material-icons mr-1">check</i> Terminar
      </button>

    </div>
  </div>
<% end  %>