<div class="container-fluid page__container medical_record_form">
  <%= simple_form_for(@medical_record, remote: true, html: { method: :put }) do |form| %>
    <div class="row" id="to_sticky-container">
      <div class="col-md-12" id="to_sticky">
        <div class="page__heading d-flex align-items-center">
          <div class="flex evaluation_type_text_audit">
            <h3 class="m-0">TIPO EVALUACIÓN: <%= @medical_type_to_s %></h3>
            <p style="margin-bottom: 0" class="text-muted show-sticky">
              <%= "#{@patient.full_name_ci}, #{@patient.company.name} - #{@patient.position.present? ? @patient.position.name : ''}" %>
            </p>

            <span class="badge badge-light" id="counterdown"></span>

          </div>
          
          <button id="auto_save_from" class="btn btn-primary ml-3">
            Guardar novedades
          </button>
          <button id="save_from" class="btn btn-success ml-3">
            Aprobado
          </button>

        </div>
        <div class="progress" style="width: 100%; height: 2px">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 2px"></div>
        </div>
          
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="position:relative;">
        <%- alph = ('a'..'q').to_a %>
        <%- last_index = 0 %>
        <% @available_sections.each_with_index do |section, index| %>
          <%- secuence = alph[index] %>
          <%- last_index = index %>

          <% if section == 'a' %>
            <div class="card card-form">
              <div class="row no-gutters">
                <div class="col-lg-12">
                  <div class="card-header card-header-small bg-white">
                    <h4 class=" card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> DATOS DEL ESTABLECIMIENTO - EMPRESA Y EMPLEADO</div></h4>
                  </div>
                </div>
                <div class="col-lg-3 card-body">
                  <p><strong class="headings-color">Información Empleado</strong></p>
                    <div class="avatar avatar-xxl">
                      <img src="/images/user_image.png" alt="Avatar" class="avatar-img rounded" style="    width: 100%;">
                    </div>
                    <p class="text-muted">
                      <a href="<%= edit_patient_path(@patient) %>" data-modal="true">
                        Editar
                      </a>
                    </p>
                </div>
                <div class="col-lg-9 card-form__body card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <strong class="text-body">NOMBRE DE LA EMPRESA</strong><br>
                      <%= @patient.company.name %>
                    </div>

                    <div class="col-md-6">
                      <strong class="text-body">RUC</strong><br>
                      <%= @patient.company.code %>
                    </div>
                    <div class="col-md-6">
                      <strong class="text-body"> ESTABLECIMIENTO DE SALUD</strong><br>
                      Prueba
                    </div>

                    <div class="col-md-6">
                      <strong class="text-body"> NÚMERO DE HISTORIA CLÍNICA</strong><br>
                      <%= @medical_record.id %>
                    </div>

                    <div class="col-md-6">
                      <strong class="text-body">  NÚMERO DE ARCHIVO</strong><br>
                      <%= @medical_record.id %>
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-md-6">
                      <strong><%= Patient.human_attribute_name("last_name") %></strong><br>
                      <%= @patient.last_name %>
                    </div>

                    <div class="col-md-6">
                      <strong><%= Patient.human_attribute_name("last_name_1") %></strong><br>
                      <%= @patient.last_name_1 %>
                    </div>
                    <div class="col-md-6">
                      <strong><%= Patient.human_attribute_name("name") %></strong><br>
                      <%= @patient.name %>
                    </div>
                    <div class="col-md-6">
                      <strong><%= Patient.human_attribute_name("name_1") %></strong><br>
                      <%= @patient.name_1 %>
                    </div>
                    <div class="col-md-6">
                      <strong><%= Patient.human_attribute_name("gender") %></strong><br>
                      <%= select_array(@genders, @patient.gender) %>
                    </div>
                    <div class="col-md-6">
                      <strong><%= Patient.human_attribute_name("position_id") %></strong><br>
                      <%= select_array(@positions, @patient.position_id) %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'b' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> MOTIVO DE CONSULTA</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <strong><%= MedicalRecord.human_attribute_name("reason") %></strong><br>
                    <%= @medical_record.reason %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'c' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> ANTECEDENTES PERSONALES</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">ANTECEDENTES CLÍNICOS Y QUIRÚRGICOS</strong><br>
                    <%= select_array( @personal_histories.map{|h| [h.name, h.id.to_s]}, @medical_record.personal_history_ids.first ) %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">HÁBITOS TÓXICOS</strong> 
                    <br>
                    <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
                      <tr>
                        <th>CONSUMOS NOCIVOS</th>
                        <th class="text-center">SI/NO</th>
                        <th class="text-center">TIEMPO DE CONSUMO</th>
                        <th class="text-center">CANTIDAD</th>
                        <th class="text-center">EX CONSUMIDOR</th>
                        <th class="text-center">TIEMPO DE ABSTINENCIA</th>
                        <!-- <th></th> -->
                      </tr>
                      <% @medical_record.medical_record_toxic_habits.sort_by(&:id).each do |toxic| %>
                        <tr class="fields">
                          <td>
                            <%= select_array(@toxic_habits.map{|t| [t.name, t.id.to_s]}, toxic.toxic_habit_id) %>
                          </td>
                          <td class="text-center">
                            <%= toxic.active ? 'SI' : 'NO' %>
                          </td>
                          <td><%= toxic.time %> </td>
                          <td><%= toxic.quantity %> </td>
                          <td class="text-center">
                            <%= toxic.ex_consumer ? 'SI' : 'NO' %>
                          </td>
                          <td><%= toxic.abstinence_time %></td>
                        </tr>
                      <% end %>
                    </table>
                    
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">ESTILO DE VIDA</strong> 
                    <br>
                    <table class="table med-record mb-0 thead-border-top-0" id="medical_record_lifestyles">
                      <tr>
                        <th>CONSUMOS NOCIVOS</th>
                        <th class="text-center">SI/NO</th>
                        <th class="text-center">¿CUÁL?</th>
                        <th class="text-center">TIEMPO / CANTIDAD</th>
                      </tr>
                      <% @medical_record.medical_record_lifestyles.sort_by(&:id).each do |lifestyle| %>
                        <tr class="fields">
                          <td>
                            <%= select_array(@lifestyles.map{|t| [t.name, t.id.to_s]}, lifestyle.lifestyle_id) %>
                          </td>
                          <td class="text-center">
                            <%= lifestyle.active ? 'SI' : 'NO' %>
                          </td>
                          
                          <td><%= lifestyle.description.html_safe %> </td>
                          <td><%= lifestyle.time %> </td>
                        </tr>
                      <% end %>
                    </table>
                    
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">INCIDENTES</strong> 

                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body"> ACCIDENTES DE TRABAJO (DESCRIPCIÓN)</strong> 
                    
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body"> ENFERMEDADES PROFESIONALES</strong>
                    
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'd' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> ANTECEDENTES FAMILIARES (DETALLAR EL PARENTESCO)</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <table class="table med-record mb-0 thead-border-top-0" id="medical_record_family_histories">
                      <tr>
                        <th>ANTECEDENTE</th>
                        <th class="text-center">SI/NO</th>
                        <th class="text-center">DESCRIPCIÓN</th>
                        <!-- <th></th> -->
                      </tr>
                      <%- counter = 1%>
                      <% @medical_record.medical_record_family_histories.each do |history| %>
                        <tr class="fields">
                          <td>
                            <%= "#{counter}." %>
                            <%= select_array(@family_histories.map{|t| [t.name, t.id.to_s]}, history.family_history_id) %>
                          </td>
                          <td class="text-center">
                            <%= history.active ? 'SI' : 'NO' %>
                          </td>
                          
                          <td><%= history.description.html_safe %> </td>
                        </tr>
                        <%- counter += 1%>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'e' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span>  FACTORES DE RIESGOS DEL PUESTO DE TRABAJO</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'f' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> ENFERMEDAD ACTUAL</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <%= @medical_record.current_disease %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'g' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> REVISIÓN DE ÓRGANOS Y SISTEMAS</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-5 nested_title_card">
                            ÓRGANOS Y SISTEMAS
                          </div>
                          <div class="col-md-2 nested_title_card">
                            SI/NO
                          </div>
                          <div class="col-md-5 nested_title_card">
                            DESCRIPCIÓN
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-5 nested_title_card">
                            ÓRGANOS Y SISTEMAS
                          </div>
                          <div class="col-md-2 nested_title_card">
                            SI/NO
                          </div>
                          <div class="col-md-5 nested_title_card">
                            DESCRIPCIÓN
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">

                      <%- counter = 1%>
                      <% @medical_record.medical_record_system_revisions.sort_by(&:id).each do |revision| %>
                        <div class="col-md-6 fields" style="margin-bottom: 5px;">
                          <div class="row">
                            <div class="col-md-5">
                              <%= "#{counter}." %>
                              <%= select_array(@system_revisions.map{|t| [t.name, t.id.to_s]}, revision.system_revision_id) %>
                            </div>
                            <div class="col-md-2">
                              <%= revision.active ? 'SI' : 'NO' %>
                            </div>
                            
                            <div class="col-md-5">
                              <%= revision.description.html_safe %>
                            </div>
                          </div>
                        </div>
                        <%- counter += 1%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'h' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> CONSTANTES VITALES Y ANTROPOMETRÍA</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-8 nested_title_card">
                            CONSTANTE
                          </div>
                          <div class="col-md-4 nested_title_card">
                            VALOR
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-8 nested_title_card">
                            CONSTANTE
                          </div>
                          <div class="col-md-4 nested_title_card">
                            VALOR
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                    <%- counter = 1 %>
                    <% @medical_record.medical_record_vital_constants.sort_by(&:id).each do |vital| %>
                      <div class="col-md-6 fields" style="margin-bottom: 5px;">
                        <div class="row">
                          <div class="col-md-8">
                            <%= "#{counter}." %>
                            <%= select_array(@vital_constants.map{|t| [t.name, t.id.to_s]}, vital.vital_constant_id) %>
                          </div>
                          <div class="col-md-4">
                            <%= vital.value %>
                          </div>
                        </div>
                      </div>
                      <%- counter += 1%>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'i' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> EXAMEN FÍSICO REGIONAL</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-2 nested_title_card">
                            REGIÓN
                          </div>
                          <div class="col-md-3 nested_title_card">
                            NOMBRE
                          </div>
                          <div class="col-md-1 nested_title_card">
                            SI/NO
                          </div>
                          <div class="col-md-6 nested_title_card">
                            DESCRIPCIÓN
                          </div>
                        </div>
                      </div>
                    </div>
                    <%- new_region_name = "" %>
                    <%- old_region_name = "" %>
                    
                    <div class="row">
                      <% @medical_record.medical_record_physical_exams.sort_by(&:id).each do |physical| %>
                        <%- new_region_name = physical.region %>
                        <div class="col-md-12 fields" style="margin-bottom: 5px;">
                          <% if new_region_name != old_region_name %>
                            <hr style="margin-bottom: 8px;margin-top: 8px;">
                          <% end %>
                          <div class="row">
                            <div class="col-md-2">
                              <%= new_region_name if new_region_name != old_region_name %>
                              <%- old_region_name = new_region_name if new_region_name != old_region_name %>
                            </div>
                            <div class="col-md-3">
                              <%= select_array(@physical_exams.map{|t| [t.name, t.id.to_s]}, physical.physical_exam_id) %>
                            </div>
                            <div class="col-md-1">
                              <%= physical.active ? 'SI' : 'NO' %>
                            </div>
                            <div class="col-md-6">
                              <%= physical.description.html_safe %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'j' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> RESULTADOS DE EXÁMENES GENERALES Y ESPECÍFICOS DE ACUERDO AL RIESGO Y PUESTO DE TRABAJO (IMAGEN, LABORATORIO Y OTROS)</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <table class="table med-record mb-0 thead-border-top-0" id="medical_record_exams">
                      <tr>
                        <th>EXAMEN</th>
                        <th class="text-center">FECHA</th>
                        <th class="text-center">RESULTADO</th>
                        <!-- <th></th> -->
                      </tr>
                      <%- counter = 1%>
                      <% @medical_record.medical_record_exams.sort_by(&:id).each do |exam| %>
                        <tr class="fields">
                          <td>
                            <%= "#{counter}." %>
                            <%= select_array(@exams.map{|t| [t.name, t.id.to_s]}, exam.exam_id) %>
                          </td>
                          <td><%= exam.date.strftime(@date_format) %> </td>
                          <td><%= exam.result %> </td>
                        </tr>
                        <%- counter += 1%>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'k' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> DIAGNÓSTICO</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-10 nested_title_card">
                            Código - Diagnostico
                          </div>
                          <div class="col-md-1 nested_title_card">
                            PRE
                          </div>
                          <div class="col-md-1 nested_title_card">
                            DEF
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row" id="medical_record_diagnostics">
                      <% @medical_record.medical_record_diagnostics.sort_by(&:id).each do |diagnostic| %>
                        <div class="col-md-12 fields" style="margin-bottom: 5px;">
                          <div class="row">
                            <div class="col-md-10">
                              <%= select_array( @diagnostics.map{|d| [d.full_name, d.id.to_s]}, diagnostic.diagnostic_id ) %>
                            </div>
                            <div class="col-md-2">
                              <%= diagnostic.pre ? 'PRE' : 'DEF' %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'l' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> APTITUD MÉDICA PARA EL TRABAJO</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <strong><%= MedicalRecord.human_attribute_name("aptitude") %></strong><br>
                    <%= select_array([["APTO", 1], ["APTO EN OBSERVACIÓN", 2], ["APTO CON LIMITACIONES", 3], ["NO APTO", 4]], @medical_record.aptitude) %>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12">
                    <strong><%= MedicalRecord.human_attribute_name("aptitude_obs") %></strong><br>
                    <%= @medical_record.aptitude_obs.html_safe %>
                  </div>

                  <div class="col-md-12">
                    <strong><%= MedicalRecord.human_attribute_name("aptitude_limit") %></strong><br>
                    <%= @medical_record.aptitude_limit.html_safe %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'm' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> RECOMENDACIONES Y/O TRATAMIENTO</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <%= @medical_record.recommendations.html_safe %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'n' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> DATOS DEL PROFESIONAL</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-muted">CERTIFICO QUE LO ANTERIORMENTE EXPRESADO EN RELACIÓN A MI ESTADO DE SALUD ES VERDAD. SE ME HA INFORMADO LAS MEDIDAS PREVENTIVAS A TOMAR PARA DISMINUIR O MITIGAR LOS RIESGOS RELACIONADOS CON MI ACTIVIDAD LABORAL.</p>
                  </div>
                  <div class="col-md-2">
                    <strong class="headings-color">FECHA</strong><br>
                    2019/10/07
                  </div>
                  <div class="col-md-2">
                    <strong class="headings-color">HORA</strong><br>
                    12:00
                  </div>
                  <div class="col-md-3">
                    <strong class="headings-color">NOMBRES Y APELLIDOS</strong><br>
                    <%= @medical_record.doctor.name %>
                  </div>
                  <div class="col-md-2">
                    <strong class="headings-color">CÓDIGO</strong><br>
                    <%= @medical_record.doctor.id %>
                  </div>
                  <div class="col-md-3">
                    <strong class="headings-color">FIRMA Y SELLO</strong><br>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'o' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> FIRMA DEL USUARIO</div></h4>
              </div>
              <div class="card-body">
                <!-- Company -->
                <div class="row">
                  <div class="col-md-12">

                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if section == 'p' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> VALORACIÓN OFTALMOLÓGICA</div></h4>
              </div>
              <div class="card-body">
                <!-- OPHTHALMOLYTIC OBSERVATIONS -->
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">OBSERVACIONES</strong><br>
                    <%= @medical_record.ophthalmolytic_obs %>
                  </div>
                </div>
                <br>
                <!-- OPHTHALMOLYTIC VISUAL ACUITY FAR  -->
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">AGUDEZA VISUAL LEJOS</strong><br>
                    <br>
                    <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
                      <tr>
                        <th class="text-center">CORECCIÓN</th>
                        <th class="text-center">OJO DERECHO</th>
                        <th class="text-center">OJO IZQUIERDO</th>
                      </tr>
                      <tr class="fields">
                        <td class="text-center">
                          <div class="custom-control custom-switch">
                            <%= @medical_record.far_correction ? 'SI' : 'NO' %>
                          </div>
                        </td>
                        <td><%= @medical_record.far_left_eye %> </td>
                        <td><%= @medical_record.far_right_eye %> </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- OPHTHALMOLYTIC VISUAL ACUITY NEAR  -->
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">AGUDEZA VISUAL CERCA</strong><br>
                    <br>
                    <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
                      <tr>
                        <th class="text-center">CORECCIÓN</th>
                        <th class="text-center">OJO DERECHO</th>
                        <th class="text-center">OJO IZQUIERDO</th>
                      </tr>
                      <tr class="fields">
                        <td class="text-center">
                          <div class="custom-control custom-switch">
                            <%= @medical_record.near_correction ? 'SI' : 'NO' %>
                          </div>
                        </td>
                        <td><%= @medical_record.near_left_eye %> </td>
                        <td><%= @medical_record.near_right_eye %> </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <br>
              </div>
            </div>
          <% end %>

          <% if section == 'p' %>
            <div class="card">
              <div class="card-header card-header-small bg-white">
                <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> VALORACIÓN TRAUMATOLÓGICA</div></h4>
              </div>
              <div class="card-body">
                <!-- OPHTHALMOLYTIC OBSERVATIONS -->
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">TIPO DE INFORME</strong><br>
                    <%= select_array(@trauma_types, @medical_record.trauma_type) %>
                  </div>
                </div>
                <br>
                <!-- ANAMNESIS -->
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">ANAMNESIS (puesto de trabajo actual - no aplica para preocupacionales)</strong><br>
                    <br>
                    <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
                      <tr>
                        <td>
                          <strong><%= Patient.human_attribute_name("sitting_posture") %></strong>
                        </td>
                        <td>
                          <%= @medical_record.sitting_posture %>
                        </td>
                        <td>
                          <strong><%= Patient.human_attribute_name("manual_heavy_cargo") %></strong>
                        </td>
                        <td>
                          <div class="custom-control custom-switch">
                            <%= @medical_record.manual_heavy_cargo ? 'SI' : 'NO' %>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong><%= Patient.human_attribute_name("standing_posture") %></strong>
                        </td>
                        <td>
                          <%= @medical_record.standing_posture %>
                        </td>
                        <td>
                          <strong><%= Patient.human_attribute_name("avg_wieght") %></strong>
                        </td>
                        <td>
                          <%= @medical_record.avg_wieght %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong><%= Patient.human_attribute_name("forced_posture") %></strong>
                        </td>
                        <td>
                          <div class="custom-control custom-switch">
                            <%= @medical_record.forced_posture ? 'SI' : 'NO' %>
                          </div>
                        </td>
                        <td>
                          <strong><%= Patient.human_attribute_name("y_distance") %></strong>
                        </td>
                        <td>
                          <%= @medical_record.y_distance %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong><%= Patient.human_attribute_name("repetitive_movements") %></strong>
                        </td>
                        <td>
                          <div class="custom-control custom-switch">
                            <%= @medical_record.repetitive_movements ? 'SI' : 'NO' %>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <br>
                <!-- OPHTHALMOLYTIC VISUAL ACUITY NEAR  -->
                <div class="row" style="display: none;">
                  <div class="col-md-12">
                    <strong class="text-body">AGUDEZA VISUAL CERCA</strong><br>
                    <br>
                    <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
                      <tr>
                        <th class="text-center">CORECCIÓN</th>
                        <th class="text-center">OJO DERECHO</th>
                        <th class="text-center">OJO IZQUIERDO</th>
                      </tr>
                      <tr class="fields">
                        <td class="text-center">
                          <div class="custom-control custom-switch">
                            <%= @medical_record.near_correction ? 'SI' : 'NO' %>
                          </div>
                        </td>
                        <td><%= @medical_record.near_left_eye %> </td>
                        <td><%= @medical_record.near_right_eye %> </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <br>
                <!-- CURRENT ILNESS -->
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">ENFERMEDAD ACTUAL</strong><br>
                    <%= @medical_record.current_disease %>
                  </div>
                </div>
                <br>
                <!-- PHYSICAL EXAM -->
                <div class="row">
                  <div class="col-md-12">
                    <strong class="text-body">EXAMEN FÍSICO</strong>
                    <br>
                    <table class="table med-record mb-0 thead-border-top-0" id="medical_record_toxic_habits">
                      <tr>
                        <td>
                          <strong><%= Patient.human_attribute_name("dorsal_kyphosis") %></strong>
                        </td>
                        <td>
                          <div class="custom-control custom-switch">
                            <%= @medical_record.dorsal_kyphosis ? 'SI' : 'NO' %>
                          </div>
                        </td>
                        <td>
                          <strong><%= Patient.human_attribute_name("cervical_lordosis_curvature") %></strong>
                        </td>
                        <td>
                          <%= select_array(@trauma_curvature_types, @medical_record.cervical_lordosis_curvature) %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong><%= Patient.human_attribute_name("lumbar_kyphosis") %></strong>
                        </td>
                        <td>
                          <div class="custom-control custom-switch">
                            <%= @medical_record.lumbar_kyphosis ? 'SI' : 'NO' %>
                          </div>
                        </td>
                        <td>
                          <strong><%= Patient.human_attribute_name("dorsal_kyphosis_curvature") %></strong>
                        </td>
                        <td>
                          <%= select_array(@trauma_curvature_types, @medical_record.dorsal_kyphosis_curvature) %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong><%= Patient.human_attribute_name("dorsal_scoliosis") %></strong>
                        </td>
                        <td>
                          <div class="custom-control custom-switch">
                            <%= @medical_record.dorsal_scoliosis ? 'SI' : 'NO' %>
                          </div>
                        </td>
                        <td>
                          <strong><%= Patient.human_attribute_name("lumbar_kyphosis_curvature") %></strong>
                        </td>
                        <td>
                          <%= select_array(@trauma_curvature_types, @medical_record.lumbar_kyphosis_curvature) %>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong><%= Patient.human_attribute_name("lumbar_scoliosis") %></strong>
                        </td>
                        <td>
                          <div class="custom-control custom-switch">
                            <%= @medical_record.lumbar_scoliosis ? 'SI' : 'NO' %>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <br>
              </div>
            </div>
          <% end %>
        <% end %>

        <%- secuence = alph[last_index] %>
        <div class="card">
          <div class="card-header card-header-small bg-white">
            <h4 class="card-header__title"><div class="text-label" style="margin-bottom: 0"><span class="section_label"><%= secuence.upcase %>.</span> NOVEDADES DE AUDITORÍA</div></h4>
          </div>
          <div class="card-body">
            <!-- Company -->
            <div class="row">
              <div class="col-md-12">
                <strong><%= MedicalRecord.human_attribute_name("comments") %></strong><br>
                <%= form.input :comments %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <%= form.submit 'Guardar Novedades', :id => "auto_save_record",  name: "medical_record[status]", value: :comments, :class => "btn btn-success ml-3", :style => "display: none;"%>
    
    <%= form.submit 'redirect', :id => "save_record_redirect", name: "medical_record[status]", value: :audited, :class => "btn btn-success ml-3", :style => "display: none;" %>
  <% end %>
</div>


<script type="text/javascript">

  $( "#auto_save_from" ).click(function(e) {
    e.preventDefault();
    $("#auto_save_record").click();
  });

  $( "#save_from" ).click(function(e) {
    e.preventDefault();
    $("#save_record_redirect").click();
  });


  
</script>


