console.log("saved!!!");
<% if @medical_record.errors.messages.any? %>
  <% @medical_record.errors.messages.each do |message| %>
    <% message.last.each do |em| %>
      toastr.error('<%= MedicalRecord.human_attribute_name(message.first.to_s) %>: <%= em.html_safe %>');
      $('#medical_record_comments').addClass('is-invalid')
    <% end %>
  <% end %>
<% end %>
setTimeout(function(){
  if($('.modal-backdrop.fade.show').length == 0) {
    var backdrop = $('<div class="modal-backdrop fade show"></div>');
    $('body').append(backdrop);
  }
}, 5);