$("#records_spinner").hide();
$("#container-timeline").html("<%= escape_javascript(render partial: 'record_items', locals: { medical_records: @medical_records, patient_filter: @patient_filter, status_filter: @status_filter, medical_type_filter: @medical_type_filter, doctor_filter: @doctor_filter, year_filter: @year_filter } ) %>"); 
$("#container-timeline").show();