<div class="control-page">
  <div class="controls-list">
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">arrow_upward</i>
        Exportar
      <% end %>
      <%= link_to new_medical_record_path, :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">add</i>
        Nuevo
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4">
  
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="page__heading d-flex align-items-center">
        <div class="flex">
          <h3 class="m-0">Evaluaciones por Empleado</h3>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <div class="card card-form d-flex flex-column flex-sm-row">
        <div class="card-form__body card-body-form-group flex">
          <%= simple_form_for(medical_records_path, remote: true, method: :get, html: { id: "load_records" }) do |f| %>
          <%= f.input :audit , as: :hidden, input_html: {value: params[:audit]} %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="filter_name">Empleado</label>
                  <%= f.input :patient_id, collection: @all_patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="filter_name">Estado</label>
                  <%= f.input :status_id, collection: @medical_status, label: false, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="filter_buckets">Tipo Evaluación</label><br>
                <%= f.input :medical_type_id, collection: @medical_types, label: false, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="filter_name">Doctor</label>
                  <%= f.input :doctor_id, collection: @doctors, label: false, label_method: lambda { |p| "#{p.name}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="filter_date">Año</label>
                <%= f.input :year, collection: 2010..2020, label: false, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
            </div>
          </div>
            <%= f.submit "Send", id: "send_load_records", style: "display:none;" %>
          <% end %>
        </div>
        <button id="refresh" class="btn bg-white border-left border-top border-top-sm-0 rounded-top-0 rounded-top-sm rounded-left-sm-0"><i class="material-icons text-primary">refresh</i></button>
      </div>
      <div id="records_spinner" class="is-loading is-loading-lg">Loading content</div>
      <div id="container-timeline"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $( document ).ready(function() {
    $('select.select_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap",
      dropdownParent: $('body')
    });
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });

  load_timeline();

  function load_timeline(){
    console.log("Load time line")
    $("#container-timeline").hide();
    $("#records_spinner").show();
    $("#send_load_records").click();
  }

  $(".select_2").change(function() {
    load_timeline();    
  });

  $("#refresh").click(function() {
    load_timeline();    
  });


  function remove_patient_filter(){
    $("#_medical_records_patient_id").prop("selectedIndex", 0);
    $("#_medical_records_patient_id").trigger('change');
  }

  function remove_status_filter(){
    $("#_medical_records_status_id").prop("selectedIndex", 0);
    $("#_medical_records_status_id").trigger('change');
  }

  function remove_medical_type_filter(){
    $("#_medical_records_medical_type_id").prop("selectedIndex", 0);
    $("#_medical_records_medical_type_id").trigger('change');
  }

  function remove_doctor_filter(){
    $("#_medical_records_doctor_id").prop("selectedIndex", 0);
    $("#_medical_records_doctor_id").trigger('change');
  }

  function remove_year_filter(){
    $("#_medical_records_year").prop("selectedIndex", 0);
    $("#_medical_records_year").trigger('change');
  }

  
</script>
