<div class="modal-header">
  <h5 class="modal-title">Nueva Evaluación</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= render 'form', medical_record: @medical_record %>

