<div class="container-fluid page__container medical_record_form">
  <%= simple_nested_form_for(@medical_record, remote: true, html: { method: :put }) do |form| %>
    <%#= form.input :status, as: :hidden, input_html: {value: form.object.status} %>
    <div class="row" id="to_sticky-container">
      <div class="col-md-12" id="to_sticky">
        <div class="page__heading d-flex align-items-center">
          <div class="flex evaluation_type_text">
            <h3 class="m-0">TIPO EVALUACIÓN: <%= @medical_type_to_s %></h3>
            <p style="margin-bottom: 0" class="text-muted show-sticky">
              <%= "#{@patient.full_name_ci}, #{@patient.company.name} - #{@patient.position.present? ? @patient.position.name : ''}" %>
            </p>
            <span class="badge badge-light" id="counterdown">Guardado automatico: 01:00</span>

          </div>
          
          <button id="auto_save_from" class="btn btn-primary ml-3">
            Guardar cambios
          </button>
          <button id="save_from" class="btn btn-success ml-3">
            Teminar Evaluación
          </button>
        </div>
        <div class="progress" style="width: 100%; height: 2px">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 2px"></div>
        </div>
          
      </div>
              
    </div>

    <div class="row">
      <div class="col-md-12">
        <% alph = ('a'..'o').to_a %>
        <% @available_sections.each_with_index do |section, index| %>
          <%= render 'section_'+section, form: form, secuence: alph[index] %>
        <% end %>

      </div>
    </div>
    <%= form.submit 'Teminar Evaluación', :id => "auto_save_record",  name: "medical_record[status]", value: :edit, :class => "btn btn-success ml-3", :style => "display: none;"%>
    <%= form.submit 'redirect', :id => "save_record_redirect", name: "medical_record[status]", value: :finished, :class => "btn btn-success ml-3", :style => "display: none;" %>
  <% end %>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $(".progress-bar").css("width", "0%")
    var medical_record_id = <%= @medical_record.id %>;
    $('select.select_personal_history_ids').select2({
      tags: true,
      tokenSeparators: [','],
      createTag: function (tag) {
        return {
            id: tag.term,
            text: tag.term,
            tag: true,
            newTag: true
        };
      }
    }).on('select2:select', function (evt) {
        var select2Element = $(this);
        if (evt.params.data.newTag == true){
          $.ajax({
            type: "POST",
            url: "/new_personal_history",
            data: {
              personal_history: {
                name: evt.params.data.text,
                medical_record_id: medical_record_id
              }
            },
            success: function(data) {
              option_selected = select2Element.find('option[value="'+evt.params.data.text+'"]')
              option_selected.attr("value", data.personal_history_id);              
              return false;
            },
            error: function(data) {
              return alert("Problemas con la conexión del sistema");
            }
          });
        }
    }).on('select2:unselect', function (evt) {
        // console.log(evt);
        // console.log(evt.params.data.element.value);
        $.ajax({
          type: "POST",
          url: "/remove_personal_history",
          data: {
            personal_history: {
              personal_history_id: evt.params.data.element.value,
              medical_record_id: medical_record_id
            }
          },
          success: function(data) {
            console.log(data)
            return false;
          },
          error: function(data) {
            return alert("Problemas con la conexión del sistema");
          }
        });
    });

    $('select.select_2').select2({
      language: {
        noResults: function () {
          return "No se encontró resultados";
        }
      },
      placeholder: function(){
        $(this).data('placeholder');
      },
      containerCssClass: ':all:',
      theme: "bootstrap"
    });

    $(".date-selector").flatpickr({
      enableTime: false,
      dateFormat: "Y-m-d",
    });    

  });
</script>

<script type="text/javascript">
  var total = 60000;
  var counter = 0;
  var counterdown = total / 1000;
  // Auto Save
  var auto_save = setInterval(function () {
    // $(".edit_medical_record").submit();
    $(".progress-bar").css("width", "0%");
    $("#auto_save_record").click();
    
    counter = 0;
    counterdown = total / 1000;
    $("#counterdown").html("Cambios guardados");
  },total); 

  var myInterval = setInterval(function () {
    ++counter;
    --counterdown;
    seg = total / 1000;
    procentage = (counter * 100) / seg;
    $(".progress-bar").css("width", procentage + "%");
    $("#counterdown").html("Guardado automatico: " + secondsTimeSpanToHMS(counterdown));
  }, 1000);

  function secondsTimeSpanToHMS(s) {
    var h = Math.floor(s/3600); //Get whole hours
    s -= h*3600;
    var m = Math.floor(s/60); //Get remaining minutes
    s -= m*60;
    // return h+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and seconds
    return (m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and seconds
  }

  // to stop the counter
  // clearInterval(myInterval);

  // clearInterval(auto_save);

  $( "#auto_save_from" ).click(function(e) {
    e.preventDefault();
    $("#auto_save_record").click();
    counter = 0
    counterdown = total / 1000;
    $("#counterdown").html("Cambios guardados");
  });

  $( "#save_from" ).click(function(e) {
    e.preventDefault();
    $("#save_record_redirect").click();
  });


  
</script>


