<% if @medical_record.errors.messages.any? %>
  <% @medical_record.errors.messages.each do |message| %>
    <% message.last.each do |em| %>
      toastr.error('<%= MedicalRecord.human_attribute_name(message.first.to_s) %>: <%= em.html_safe %>');
    <% end %>
  <% end %>
<% elsif @redirect %>
	console.log("redirect");
	url = "<%= @redirect_url %>";
	window.location.href = url; 
<% else %>
	console.log("saved!!!");
  <% this_form = nil %>
  <% simple_nested_form_for(@medical_record) do |form| %>
    <% this_form = form%>
  <% end %>
  <% @sections.each do |sec| %>
    $('#section_container_<%= sec %>').html('<%= j render("/medical_records/section_#{sec}", form: this_form, secuence: sec).html_safe %>');
  <% end %>
  $('.section_label').each(function(i, e){
    $(e).text(String.fromCharCode(97 + i) + ".");
  });
<% end %>

$('select.select_2').select2({
  language: {
    noResults: function () {
      return "No se encontró resultados";
    }
  },
  placeholder: function(){
    $(this).data('placeholder');
  },
  containerCssClass: ':all:',
  theme: "bootstrap"
});