<%= simple_form_for(@recipe, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <%= form.input :medical_record_id, :as => :hidden %>
      <%= form.input :patient_id, :as => :hidden %>
      <%= form.input :doctor_id, :as => :hidden %>

      <% if @recipe.patient.present? %>
        <div class="col-md-12">
          <div class="row">
            
            <div class="col-md-2">
              <strong>Nombre Trabajador: </strong> 
            </div>
            <div class="col-md-4">
              <%= @recipe.patient.full_name %>
            </div>

            <div class="col-md-2">
              <strong>Cédula/Pasaporte: </strong> 
            </div>
            <div class="col-md-4">
              <%= @recipe.patient.ci %>
            </div>

            <div class="col-md-2">
              <strong>Edad: </strong> 
            </div>
            <div class="col-md-4">
              <%= @recipe.patient.age %>
            </div>

            <div class="col-md-2">
              <strong>Sexo: </strong> 
            </div>
            <div class="col-md-4">
              <%= @recipe.patient.gender %>
            </div>

            <div class="col-md-2">
              <strong>Correo electrónico: </strong> 
            </div>
            <div class="col-md-4">
              <%= @recipe.patient.email %>
            </div>

            <div class="col-md-2">
              <strong>Puesto de Trabajo: </strong> 
            </div>
            <div class="col-md-4">
              <%= @recipe.patient.position.present? ? @recipe.patient.position.name : "Sin Asignar" %>
            </div>

          </div>
        </div>

      <% end %>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <%= form.input :medicines, :input_html => { :rows => 4 } %>
          </div>
          <div class="col-md-12">
            <%= form.input :diagnostic_description, :input_html => { :rows => 4 } %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <%= form.input :indications, :input_html => { :rows => 10 } %>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>
