<%= simple_form_for(@user, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <div class="modal-body">
    <div class="row">
     
      <div class="col-md-6">
        <%= f.input :login %>    
      </div>

      <div class="col-md-6">
      	<%= f.label user.new_record? ? "Nueva contraseña" : "Editar contraseña?" %>
        <span class="change_password"><%= check_box_tag("change_password") %></span>
        <% if user.new_record? %> 
	        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
	      <% else %> 
	        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :disabled => true %>
	      <% end %> 
      </div>


      <div class="col-md-12">
        <%= f.input :name %>    
      </div>

      <div class="col-md-12">
        <%= f.input :email %>
      </div>

      <% unless @user.role_ids.include?(1) %>
	      <div class="col-md-12">
	        <%= f.input :role_ids, collection: @roles, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
	      </div>
	    <% end %>


			<div class="col-md-12">
        <%= f.input :active %>
      </div>

      <input type="hidden" name="url" id="url" value="">

     <!--  <div class="col-md-12">
        <%= f.input :photo %>
      </div> -->
    </div>

   

  </div>
    

  <div class="modal-footer">
    <div class="actions">
      <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
      <%= f.submit "Enviar", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });

  $("#url").val(window.location.pathname);

  $("#change_password").click(function() {
	  if ($(this).is(":checked")){
	    $("#user_password").removeAttr("disabled");
	  }else{
	    $("#user_password").attr("disabled", "disabled");
	  }
	});
</script>

