<div class="control-page">
  <div class="controls-list">
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">print</i>
        Imprimir
      <% end %>
      <%= link_to new_user_path, :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">add</i>
        Nuevo
      <% end %>
  </div>
</div>
<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table id="users" class="display table table-striped table-bordered" style="width: 100%"></table>
        </div>
      </div>
    </div>
  </div>
</div>

