<div class="modal-header">
  <h5 class="modal-title">Información Usuario</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-3">
      <div class="avatar avatar-xxl">
        <img src="/images/user_image.png" alt="Avatar" class="avatar-img rounded" style="width: 100%;">
      </div>
      <!-- <p class="text-muted">Edit your account details and settings.</p> -->
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <strong><%= User.human_attribute_name("login") %></strong><br/>
          <%= @user.login %>
        </div>

        <div class="col-md-6">
          <strong><%= User.human_attribute_name("name") %></strong><br/>
          <%= @user.name %>
        </div>
        <div class="col-md-6">
          <strong><%= User.human_attribute_name("email") %></strong><br/>
          <%= @user.email %>
        </div>

        <div class="col-md-6">
          <strong><%= User.human_attribute_name("last_sign_in_at") %></strong><br/>
          <%= @user.last_sign_in_at.present? ? time_ago_in_words(@user.last_sign_in_at) : "No disponible" %>
        </div>

        <div class="col-md-6">
          <strong><%= User.human_attribute_name("roles") %></strong><br/>
          <%= @user.roles.any? ? @user.roles.map{|r| r.name}.join(", ") : "Sin asignar" %>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="actions">
    <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
  </div>
</div>
