<div class="actions">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
    <i class="material-icons mr-1">close</i> Cerrar
  </button>
  <%= button_tag  class: 'btn btn-outline-primary' do %>
    <i class='material-icons mr-1'>save</i> Guardar
  <% end %>
</div>