<div class="container-fluid page__container">
  <div class="row">

    <div class="col-lg-12 col-md-12">

      <h1 class="mb-1 mt-3">Bienvenido a Nexus-45001</h1>
      <p class="mb-5">
        Software de Seguridad y Salud Ocupacional
      </p>
      
      <div class="card card-form">
        <div class="row no-gutters">
          <div class="col-lg-4 card-body">
            <h3><strong class="headings-color"><%= @company.name %></strong></h3>

            <img src="/images/ecua-american-logo.png" style="max-width: 100%">
            
            <!-- <p class="text-muted mb-0">Where we will send you the money.</p> -->

          </div>
          <div class="col-lg-8 card-form__body card-body">
            <div class="form-group d-flex flex-column">

              <p>
                ISO 45001 es la norma internacional para los Sistemas de Gestión de Seguridad y Salud en el Trabajo, publicada por la Organización Internacional de Normalización (ISO).
                <br/>
                <code><a href="/pdfs/acuerdo-ministerial-0341-2019.pdf" target="_blank">Acuerdo Ministerial 0341-2019</a></code>
                <br/>
                <code><a href="/normativa_sso_ec/acuerdo_ministerial_MDT_2020_001.pdf" target="_blank">Acuerdo Ministerial 001-2020</a></code>
                
              </p>

              <div>
                contact@frontted.com
              </div>

            </div>

            <div class="form-group m-0">
              <a href="#" class="btn btn-light">Editar</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-large bg-white">
            <h4 class="card-header__title">Accesos directos</h4>
        </div>
        <div class="card-body links-card">
          <!-- <p>Alternate styles for alerts with softer background color by replacing classes like <code>.alert-primary</code> with <code>.alert-soft-primary</code>. Alerts can also contain additional HTML elements like icons and paragraphs.</p> -->

          <div class="row">
            <div class="col-lg-3 col-md-4 card-group-row__col align-items-center mb-3">
              <a href="/companies" class="text-dark">
                <i class="material-icons icon-18pt material-icon-border text-muted mr-2">business</i>
                <strong>Organización</strong>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 card-group-row__col align-items-center mb-3">
              <i class="material-icons icon-18pt material-icon-border text-muted mr-2">person</i>
              <a href="/patients" class="text-dark">
                  <strong>Talento Humano</strong>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 card-group-row__col align-items-center mb-3">
              <i class="material-icons icon-18pt material-icon-border text-muted mr-2">local_hospital</i>
              <a href="/medical_results" class="text-dark">
                  <strong>Vigilancia de la Salud</strong>
              </a>
            </div>

            <div class="col-lg-3 col-md-4 card-group-row__col align-items-center mb-3">
              <i class="material-icons icon-18pt material-icon-border text-muted mr-2">whatshot</i>
              <a href="#" class="text-dark">
                <strong>Gestión de Riesgos</strong>
              </a>
            </div>

            <div class="col-lg-3 col-md-4 card-group-row__col align-items-center mb-3">
              <i class="material-icons icon-18pt material-icon-border text-muted mr-2">folder</i>
              <a href="#" class="text-dark">
                  <strong>Gestor Documental</strong>
              </a>
            </div>


            <div class="col-lg-3 col-md-4 card-group-row__col align-items-center mb-3">
              <i class="material-icons icon-18pt material-icon-border text-muted mr-2">traffic</i>
              <a href="#" class="text-dark">
                <strong>Indicadores</strong>
              </a>
            </div>

            <!-- <div class="col-lg-3 col-md-4 card-group-row__col align-items-center mb-3">
              <i class="material-icons icon-18pt material-icon-border text-muted mr-2">timeline</i>
              <a href="#" class="text-dark">
                <strong>Planes de acción</strong>
              </a>
            </div> -->

            <!-- <div class="col-lg-3 col-md-4 card-group-row__col align-items-center mb-3">
              <i class="material-icons icon-18pt material-icon-border text-muted mr-2">assignment</i>
              <a href="#" class="text-dark">
                <strong>Reportes</strong>
              </a>
            </div> -->


            <div class="col-lg-3 col-md-4 card-group-row__col align-items-center mb-3">
              <i class="material-icons icon-18pt material-icon-border text-muted mr-2">settings</i>
              <a href="#" class="text-dark">
                <strong>Configuración</strong>
              </a>
            </div>
          </div>
        </div>
      </div>

      

      <div class="card">
        <div class="card-header card-header-large bg-white">
            <h4 class="card-header__title">Base Legal</h4>
        </div>
        <div class="card-body links-card">
          <!-- <p>Alternate styles for alerts with softer background color by replacing classes like <code>.alert-primary</code> with <code>.alert-soft-primary</code>. Alerts can also contain additional HTML elements like icons and paragraphs.</p> -->

          <div class="row">
            <div class="col-lg-12 col-md-12 card-group-row__col align-items-center mb-3">
              <ul>
                <li style="padding-bottom: 5px;">
                  <a href="/regulaciones/acuerdo-ministerial-no-mdt-2017-0135-instructivo-cumplimiento-obligaciones-empleadores">
                    Acuerdo Ministerial No. MDT-2017-0135 Instructivo  para el Cumplimiento de las Obligaciones de Empleadores - Art(s). 10
                  </a>                  
                  <p>Establece la obligatoriedad del resgistro de obligaciones en materia de seguridad y salud en el trabajo.</p>
                </li>
                <li style="padding-bottom: 5px;">
                  <a href="/regulaciones/constitucion-republica-ecuador">
                    Constitución de la República del Ecuador - Art(s). 326
                  </a>
                  <p>Indica que toda persona tendrá derecho a desarrollar sus labores en un ambiente adecuado y propicio, que garantice su salud, integridad, seguridad, higiene y bienestar.</p>

                </li>
                <li style="padding-bottom: 5px;">
                  <a href="/regulaciones/decision-acuerdo-cartagena-584">
                    Decisión del Acuerdo de Cartagena 584 - Art(s). 11</a>
                    <p>Establece la las empresas deben realizar la identificación, medición, evaluación y control de los riesgos laborales.</p>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      
    </div>
    
  </div>

<!--   <div class="row card-group-row">
    <div class="col-lg-4 col-md-6 card-group-row__col">
      <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
        <div class="flex">
          <div class="card-header__title text-muted mb-2">Emplados atendidos</div>
          <div class="text-amount">$12,920</div>
          <div class="text-stats text-success">31.5% <i class="material-icons">arrow_upward</i></div>
        </div>
        <div><i class="material-icons icon-muted icon-40pt ml-3">gps_fixed</i></div>
      </div>  
    </div>
    <div class="col-lg-4 col-md-6 card-group-row__col">
      <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
        <div class="flex">
          <div class="card-header__title text-muted mb-2">Empleados por atender</div>
          <div class="text-amount">$3,642</div>
          <div class="text-stats text-success">51.5% <i class="material-icons">arrow_upward</i></div>
        </div>
        <div><i class="material-icons icon-muted icon-40pt ml-3">monetization_on</i></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 card-group-row__col">
      <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
        <div class="flex">
          <div class="card-header__title text-muted mb-2">Nuevos empleados</div>
          <div class="text-amount">8,391</div>
          <div class="text-stats text-danger">3.5% <i class="material-icons">arrow_downward</i></div>
        </div>
        <div><i class="material-icons icon-muted icon-40pt ml-3">perm_identity</i></div>
      </div>
    </div>
  </div> -->

  <!-- <a href="/pdfs/acuerdo-ministerial-0341-2019.pdf" target="_blank">Acuerdo Ministerial 0341-2019</a> -->

  
  
  
  
</div>

