<p id="notice"><%= notice %></p>

<h1>Risk Evaluation Risks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @risk_evaluation_risks.each do |risk_evaluation_risk| %>
      <tr>
        <td><%= link_to 'Show', risk_evaluation_risk %></td>
        <td><%= link_to 'Edit', edit_risk_evaluation_risk_path(risk_evaluation_risk) %></td>
        <td><%= link_to 'Destroy', risk_evaluation_risk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Risk Evaluation Risk', new_risk_evaluation_risk_path %>
