<div class="control-page">
  <div class="controls-list">
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">print</i>
        Imprimir
      <% end %>
      <%= link_to new_patient_path, :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">add</i>
        Nuevo
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Fichas Médicas</h4>
        </div>
        <div class="card-body">
          <table id="patient_records" class="display table table-striped table-bordered" style="width: 100%"></table>
        </div>
      </div>
    </div>
  </div>

</div>