<div class="control-page">
  <div class="controls-list">
      <%= link_to patient_records_path, :class => "ml-3 float-l" do %>
        <i class="material-icons">arrow_back</i>
        Lista Fichas Medicas
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4 medical_record_form">
  <%= simple_nested_form_for(@medical_record, remote: true, html: { method: :put }) do |form| %>
    
    <div class="row" id="to_sticky-container">
      
      <div class="col-md-12" id="to_sticky">
        <div class="page__heading d-flex align-items-center mt-2 mb-0 p-0">
          
          <div class="flex">
            <h3 class="m-0">ANTECEDENTES</h3>
            <p style="margin-bottom: 0" class="text-muted show-sticky">
              <%= "#{@patient.full_name_ci}, #{@patient.company.name} - #{@patient.position.present? ? @patient.position.name : ''}" %>
            </p>
            <span class="badge badge-light" id="counterdown">Guardado automático: 01:00</span>
          </div>
                    
          <button id="auto_save_from" class="btn btn-primary ml-3">
            <i class="material-icons icon-16pt">save</i>
            Guardar cambios
          </button>

        </div>

        <div class="progress" style="width: 100%; height: 2px">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 2px"></div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">
        <% alph = ('a'..'o').to_a %>
        <% @available_sections.each_with_index do |section, index| %>
          <%= render 'medical_records/section_'+section, form: form, secuence: alph[index] %>
        <% end %>

      </div>
    </div>
    <%= form.submit 'Teminar Evaluación', :id => "auto_save_record",  name: "medical_record[status]", value: :edit, :class => "btn btn-success ml-3", :style => "display: none;"%>
    <%= form.submit 'redirect', :id => "save_record_redirect", name: "medical_record[status]", value: :finished, :class => "btn btn-success ml-3", :style => "display: none;" %>
  <% end %>




  <!-- <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Antecedentes Personales</h4>
        </div>
        <div class="card-body">
          
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Antecedentes Familiares</h4>
        </div>
        <div class="card-body">
          
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Hábitos</h4>
        </div>
        <div class="card-body">
          
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Actividades Extralaborales</h4>
        </div>
        <div class="card-body">
          
        </div>
      </div>
    </div>

  </div> -->

</div>

<script type="text/javascript">
  var total = 60000;
  var counter = 0;
  var counterdown = total / 1000;
  // Auto Save
  var auto_save = setInterval(function () {
    // $(".edit_medical_record").submit();
    $(".progress-bar").css("width", "0%");
    $("#auto_save_record").click();
    
    counter = 0;
    counterdown = total / 1000;
    $("#counterdown").html("Cambios guardados");
  },total); 

  var myInterval = setInterval(function () {
    ++counter;
    --counterdown;
    seg = total / 1000;
    procentage = (counter * 100) / seg;
    $(".progress-bar").css("width", procentage + "%");
    $("#counterdown").html("Guardado automatico: " + secondsTimeSpanToHMS(counterdown));
  }, 1000);

  function secondsTimeSpanToHMS(s) {
    var h = Math.floor(s/3600); //Get whole hours
    s -= h*3600;
    var m = Math.floor(s/60); //Get remaining minutes
    s -= m*60;
    // return h+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and seconds
    return (m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and seconds
  }

  // to stop the counter
  // clearInterval(myInterval);

  // clearInterval(auto_save);

  $( "#auto_save_from" ).click(function(e) {
    e.preventDefault();
    $("#auto_save_record").click();
    counter = 0
    counterdown = total / 1000;
    $("#counterdown").html("Cambios guardados");
  });

  $( "#save_from" ).click(function(e) {
    e.preventDefault();
    $("#save_record_redirect").click();
  });

</script>