<div class="control-page">
  <div class="controls-list">
      <%= link_to patient_records_path, :class => "ml-3 float-l" do %>
        <i class="material-icons">arrow_back</i>
        Lista Fichas Medicas
      <% end %>
      <%= link_to new_recipe_path(:patient_id => @patient.id), :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">add</i>
        Receta
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Recetas</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <% if @recipies.any? %>
                <div class="table-responsive border-bottom my-3" style="border: 1px solid #eee;">
                  <table class="table thead-border-top-0 mb-0">
                    <thead>
                      <tr>
                        <th style="width: 24px;">Nro</th>
                        <th style="width: 140px;">Fecha</th>
                        <th>Descipción</th>
                        <th>Médico</th>
                        
                        <th style="width: 24px;">Acciones</th>
                      </tr>
                    </thead>
                      <tbody>
                        <% @recipies.each do |mr| %>
                          <tr>
                            <td>
                              <strong class="text-15pt mr-2">
                                <%= mr.id_to_s %>
                              </strong>
                            </td>
                            <td><span class="text-muted"><%= mr.created_at.strftime(@date_time_format) %></span></td>
                            <td>
                              <%= mr.medicines %>
                            </td>
                            <td>

                              <% if mr.doctor.present? %>
                                <a href="<%= user_path(mr.doctor) %>" class="d-flex align-items-center" data-modal="true">
                                  <%= mr.doctor.name %>
                                </a>
                              <% else %>
                                Sin asignar
                              <% end %>
                            </td>
                            
                            <td style="text-align: center;">
                              <a href="<%= edit_recipe_path(mr.id) %>" data-modal="true" ><i class="material-icons">edit</i></a>
                              <a href="<%= recipe_path(mr.id) %>" data-modal="true" ><i class="material-icons">print</i></a>
                            </td>
                            <!-- <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td> -->
                          </tr>
                        <% end %>
                    </tbody>
                  </table>
                </div>
              <% else %>
                <div class="text-muted">Sin Registros</div>
              <% end %>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>

</div>