<div class="control-page">
  <div class="controls-list">
      <%= link_to patient_records_path, :class => "ml-3 float-l" do %>
        <i class="material-icons">arrow_back</i>
        Lista Fichas Medicas
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Resumen Laboral</h4>
        </div>
        <div class="card-body">
            
          <div class="row">

            <div class="col-md-12">
              <div class="list-group list-group-flush">
                 <div class="list-group-item bg-transparent d-flex align-items-center px-0 py-0">
                  <strong>Antecedentes</strong>
                  <!-- <div class="ml-auto">(1)</div> -->
                 </div>
              </div>
            </div>

            <div class="col-md-12">
              <% if @patient.medical_records.where(:initial => true).any? %>
                <div class="table-responsive border-bottom my-3" style="border: 1px solid #eee;">
                  <table class="table thead-border-top-0 mb-0">
                    <thead>
                      <tr>
                        <th>Descipción</th>
                        <th style="width: 140px;">Creado en</th>
                        <th style="width: 140px;">Actualizado en</th>
                      </tr>
                    </thead>
                      <tbody>
                        <% @patient.medical_records.where(:initial => true).each do |mr| %>
                          <tr>
                            <td>Antecedentes Registrados</td>
                            <td><small class="text-muted"><%= mr.created_at.strftime(@date_time_format) %></small></td>
                            <td><small class="text-muted"><%= mr.updated_at.strftime(@date_time_format) %></small></td>
                          </tr>
                        <% end %>
                    </tbody>
                  </table>
                </div>
              <% else %>
                <div class="text-muted">Sin Registros</div>
              <% end %>
            </div>


            <div class="col-md-12">
              <div class="list-group list-group-flush">
                 <div class="list-group-item bg-transparent d-flex align-items-center px-0 py-0">
                  <strong>Consultas Médicas</strong>
                  <!-- <div class="ml-auto">(1)</div> -->
                 </div>
              </div>
            </div>

            <div class="col-md-12">
              <% if @patient.medical_records.where(:initial => false).any? %>
                <div class="table-responsive border-bottom my-3" style="border: 1px solid #eee;">
                  <table class="table thead-border-top-0 mb-0">
                    <thead>
                      <tr>
                        <th>Descipción</th>
                        <th>Médico</th>
                        <th style="width: 37px;">Estado</th>
                        <th style="width: 140px;">Fecha</th>
                        <th style="width: 24px;"></th>
                      </tr>
                    </thead>
                      <tbody>
                        <% @patient.medical_records.where(:initial => false).each do |mr| %>
                          <tr>
                            <td>
                              <strong class="text-15pt mr-2">
                                <%= mr.record_name %>
                              </strong>
                              <br>
                              <strong>
                                Diagnósticos
                              </strong>
                              <% if mr.diagnostics.any? %>
                                  <ul class="mt-2">
                                    <% mr.diagnostics.each do |d| %>
                                      <li>
                                        <%= "#{d.code} - #{d.name}" %>
                                      </li>
                                    <% end %>
                                  </ul>
                              <% else %>  
                                <div class="text-muted">Sin Registros</div>
                              <% end %>

                            </td>
                            <td>
                              <% if mr.doctor.present? %>
                                <a href="<%= user_path(mr.doctor) %>" class="d-flex align-items-center" data-modal="true">
                                  <%= mr.doctor.name %>
                                </a>
                              <% else %>
                                Sin asignar
                              <% end %>
                            </td>
                            <td>
                              <% if mr.finished? %>
                                <span class="badge badge-secondary">Finalizado</span>
                              <% else %>
                                <span class="badge badge-primary">Abierto</span>
                              <% end %>
                            </td>
                            <td><small class="text-muted"><%= mr.created_at.strftime(@date_time_format) %></small></td>
                            <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                          </tr>
                        <% end %>
                    </tbody>
                  </table>
                </div>
              <% else %>
                <div class="text-muted">Sin Registros</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>