<div class="control-page">
  <div class="controls-list">
      <%= link_to patient_records_path, :class => "ml-3 float-l" do %>
        <i class="material-icons">arrow_back</i>
        Lista Fichas Medicas
      <% end %>
      <%= link_to new_patient_record_medical_check_path, :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">add</i>
        Nuevo
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Consultas Médicas</h4>
        </div>
        <div class="card-body">
          <div class="row align-items-center mb-2">
            <div class="col-sm-12 align-self-center">
              <div class="btn-group">
                <button type="button" class="btn btn-light medical-type-btn" data-id="all">Todos</button>
                <% @medical_types.each do |medical_type| %>
                  <button type="button" class="btn btn-light medical-type-btn" style="color:<%= medical_type[2] %>;" data-id="<%= medical_type[1] %>"><%= medical_type[0].gsub('Medicina Ocupacional - ', '') %></button>
                <% end %>
              </div>
            </div>
          </div>
          <% if @medical_records.any? %>
            <% @medical_records.each do |r| %>
              <p class="text-dark-gray d-flex align-items-center mt-3">
                <i class="material-icons icon-muted mr-2">event</i>
                <strong><%= r.first.strftime("%Y") %></strong>
              </p>
              <% r.last.each do |i| %>
                <div class="row align-items-center projects-item mb-1 medical-type-item-<%= i.medical_type_id %>">
                  <div class="col-sm-auto mb-1 mb-sm-0">
                    <div class="text-dark-gray"><%= i.date.strftime("%-d %b %I:%M %p") %></div>
                  </div>
                  <div class="col-sm">
                    <div class='card m-0 <%= "medical_type_#{i.medical_type_id}" %>' style="border-left:3px solid <%= @medical_types.select {|mt| mt[1].to_i == i.medical_type_id }.first[2] %>">
                      <div class="px-4 py-3">

                        
                        <div class="row align-items-center">
                          <div class="col-md-7">
                            <div class="d-flex align-items-center">


                              <% if i.legacy_id.present? && !i.legacy_id.blank? %>
                                <% if i.edit? || i.comments? %>
                                  <a href="<%= patient_record_medical_check_path(@patient.id, i.id) %>" class="text-body"><strong class="text-15pt mr-2"><%= i.record_name %> </strong></a>
                                <% elsif i.audited? || i.finished? %>
                                  <strong class="text-15pt mr-2 text-muted"><%= i.record_name %> </strong>
                                <% else %>
                                  <a class="text-body"><strong class="text-15pt mr-2"><%= i.record_name %> </strong></a>
                                <% end %>
                              <% else %>

                                <% if i.audited? || i.finished? %>
                                  <strong class="text-15pt mr-2 text-muted"><%= i.record_name %> </strong>
                                <% else %>
                                  <a href="<%= patient_record_medical_check_path(@patient.id, i.id) %>" class="text-body"><strong class="text-15pt mr-2"><%= i.record_name %> </strong></a>
                                <% end %>

                              <% end %>

                              <% if i.finished? %>
                                <span class="badge badge-secondary">
                                  Finalizado
                                  <i class="material-icons icon-16pt">check</i>
                                </span>
                              <% elsif i.audited? %>
                                <span class="badge badge-success">
                                  Aprobado
                                  <i class="material-icons icon-16pt">lock</i>
                                </span>
                              <% else %>
                                <span class="badge badge-primary">
                                  Abierto
                                  <i class="material-icons icon-16pt ml-1">edit</i>
                                </span>
                                <% if i.comments? || !i.comments.blank? %>
                                  &nbsp;<span class="badge badge-danger">Tiene Novedades</span>
                                <% end %>
                              <% end %>

                            </div>

                          </div>

                          <div class="col-md-5" style="text-align: right;">
                            <% if i.medical_certificates.any? %>
                              <%= link_to '<i class="material-icons icon-16pt">content_paste</i> P. Médico'.html_safe , medical_certificate_path(i.medical_certificates.last.id), class: "btn btn-sm btn-info",  data: { modal: true } %>
                            <% end %>

                            <% if i.recipes.any? %>
                              <%= link_to '<i class="material-icons icon-16pt">content_paste</i> Receta'.html_safe , recipe_path(i.recipes.last.id), class: "btn btn-sm btn-info ml-1",  data: { modal: true } %>
                            <% end %>

                            <% if i.medical_type_id <= 3 %>
                              <%= link_to '<i class="material-icons icon-16pt">picture_as_pdf</i> Aptitud'.html_safe , preview_patient_record_medical_check_path(@patient.id , i.id, :certificate => true), class: "btn btn-sm btn-primary ml-1",  data: { modal: true } %>
                            <% end %>

                            <%= link_to '<i class="material-icons icon-16pt">picture_as_pdf</i> Ver'.html_safe , preview_patient_record_medical_check_path(@patient.id , i.id), class: "btn btn-sm btn-success ml-1",  data: { modal: true } %>

                          </div>

                          <div class="col-md-4">
                            <small class="text-dark-gray mr-2">Empleado</small>
                            <a href="<%= patient_path(i.patient.id) %>" class="d-flex align-items-center" data-modal="true">
                              <span class="avatar avatar-xxs avatar-online mr-2">
                                <%= show_avatar(i.patient) %>
                              </span>
                              <%= i.patient.full_name %>
                            </a>
                          </div>

                          <div class="col-md-4">
                            <small class="text-dark-gray mr-2">Puesto de trabajo</small>
                            <%- if i.patient.position.present? %>
                              <a href="<%= position_path(i.patient.position.id) %>" class="d-flex align-items-center"  data-modal="true">
                                <!-- <span class="avatar avatar-xxs avatar-online mr-2">
                                  <%= show_avatar(i.patient) %>
                                </span> -->
                                <%= i.patient.position.name %>
                              </a>
                            <%- else %>
                              <br/>
                              <%= t("label.blank") %>
                            <%- end %>
                            
                          </div>

                          <div class="col-md-4">
                            <small class="text-dark-gray mr-2">Doctor responsable</small>
                            <% if i.doctor.present? %>
                              <a href="<%= user_path(i.doctor) %>" class="d-flex align-items-center" data-modal="true">
                                <span class="avatar avatar-xxs avatar-online mr-2">
                                  <%= show_avatar(i.doctor) %>
                                </span>
                                <%= i.doctor.name %>
                              </a>
                            <% else %>
                              Sin asignar
                            <% end %>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
              <% end %>
            <% end %>
          <% else %>
            <p class="text-dark-gray d-flex align-items-center mt-3">
              <i class="material-icons icon-muted mr-2">cancel</i>
              <strong>No existe resultados</strong>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.medical-type-btn').click(function(e) {
    e.preventDefault();
    let current_medical_type_id = $(this).data('id');
    let medical_type_class = ".medical-type-item-" + current_medical_type_id;
    let medical_record_count = $('.projects-item').length;
    if (current_medical_type_id == 'all') {
      $('.projects-item').fadeIn();
    } else {
      $('.projects-item').each(function(i, e){
        $(e).fadeOut();
        if (i+1 === medical_record_count) {
          console.log('Showing: ' + medical_type_class);
          $(medical_type_class).fadeIn();
        }
      });
    }
  })
</script>