<div class="modal-header">
  <h5 class="modal-title">Vista Previa</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <% if @certificate || @mo_result %>
    <iframe src="<%= preview_patient_record_medical_check_path(@patient.id , @medical_record.id, :certificate => params[:certificate], :format => "pdf") %>" style="right:0; top:0; bottom:0; width:100%;height: 75vh;background: rgb(50, 54, 57);"></iframe>
  <% elsif @pdf_url_demo %>
    <iframe src="<%= @pdf_url_demo %>" style="right:0; top:0; bottom:0; width:100%;height: 75vh;background: rgb(50, 54, 57);"></iframe>
  <% else %>
    <iframe src="<%= result_file_patient_record_medical_check_path(@patient.id , @medical_record.id, :format => "pdf") %>" style="right:0; top:0; bottom:0; width:100%;height: 75vh;background: rgb(50, 54, 57);"></iframe>
  <% end %>

  

</div>

<div class="modal-footer">
  <div class="actions">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
      <i class="material-icons mr-1">close</i> Cerrar
    </button>
    <% if @can_finish %>
      <button id="save_from" class="btn btn-success">
        Terminar Evaluacíon      
      </button>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $( "#save_from" ).click(function(e) {
    e.preventDefault();
    $("#save_record_redirect").click();
  });
</script>