<%= simple_form_for(@project, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <%= form.input :company_id, :as => :hidden, :value => @company.id %>
      <%= form.input :created_by_id, :as => :hidden, :value => current_user.id %>
      
      <div class="col-md-12">
        <%= form.input :name %>
      </div>

      <div class="col-md-6">
        <%= form.input :object %>
      </div>

      <div class="col-md-6">
        <%= form.input :scope %>
      </div>

      <div class="col-md-6">
        <%= form.input :owner_id, collection: @patients, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-6">
        <%= form.input :due_date, as: :string , input_html: {class: 'date-selector'} %>    
      </div>

      <div class="col-md-6">
        <%= form.input :project_type_id, collection: @type_project, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center mb-2">
            <i class="material-icons mr-1">business</i>
            <div class="text-body"><strong><%= @company.name %></strong></div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>



