<div class="control-page">
  <div class="controls-list">
      <%= link_to projects_path, :class => "ml-3 float-l" do %>
        <i class="material-icons">arrow_back</i>
        Regresar a Lista
      <% end %>

      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">print</i>
        Imprimir
      <% end %>
      <%= link_to new_task_path(:project_id => @project.id), :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">playlist_add</i>
        Nueva Tarea
      <% end %>
      
  </div>
</div>

<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-form">
        <div class="row no-gutters">
          <div class="col-lg-12">
            <div class="card-header card-header-small bg-white">
              <h4 class=" card-header__title"><div class="text-label" style="margin-bottom: 0"><%= @project.name %></div></h4>
            </div>
          </div>
          <div class="col-lg-12 card-form__body card-body">

            <div class="row">
              <div class="col-md-6">
                <strong class="text-body">NOMBRE DE LA EMPRESA</strong><br>
                <%= @project.company.name %>
              </div>

              <div class="col-md-6">
                <strong class="text-body">RESPONSABLE</strong><br>
                <%= @project.owner.full_name %>
              </div>
              <div class="col-md-6">
                <strong class="text-body">CREADO POR</strong><br>
                <%= @project.created_by.name %>
              </div>

              <div class="col-md-6">
                <strong class="text-body"> FECHA DE EVALUACIÓN</strong><br>
                <%= @project.due_date.strftime(@date_format) %>
              </div>

              <% if @project.object.present? %>
                <div class="col-md-12">
                  <strong class="text-body"> DESCRIPCIÓN</strong><br>
                  <%= @project.object %>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>

      <div class="card card-form">
        <div class="card-header-tab card-header">
          <div class="card-header-title text-capitalize font-weight-normal">
            <i class="material-icons">list</i>
            Lista de Tareas
          </div>
        </div>

                  
        <div class="scroll-area-sm-2">
          <perfect-scrollbar class="ps-show-limits">
            <div style="position: static;" class="ps ps--active-y">
              <div class="ps-content">
                <ul class=" list-group list-group-flush">
                  <% @project.tasks.order(:number).each do |task| %>
                    <li class="list-group-item">
                      <!-- <div class="todo-indicator bg-warning"></div> -->
                      <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                          
                          <div class="widget-content-left mr-4 ml-2">
                            <span style="font-size: 18px;"><%= task.number %></span>
                          </div>
                         
                          <div class="widget-content-left" style="width: 40%;">
                            <div class="widget-heading"><%= task.name %>
                              <span class="badge <%= task.status_class_color %> ml-2"><%= task.status_to_s %></span>
                            </div>
                            <div class="widget-subheading"><i>Responsable: <%= task.owner.full_name %></i></div>
                          </div>
                          
                          <div class="widget-content-right mr-2"> 
                            <div class="dashboard-location-tabs__tab active" data-toggle="tab" role="tab" aria-selected="true" style="width: 150px">
                              <div><strong>Progreso</strong></div>
                              <div class="d-flex align-items-center">
                                <div class="flex mr-2">
                                  <div class="progress" style="height: 6px;">
                                    <div class="progress-bar" role="progressbar" style="width: <%= task.progress %>%;" aria-valuenow="<%= task.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </div>
                                <div><%= task.progress %>%</div>
                              </div>
                            </div>
                          </div>

                          <div class="widget-content-right"> 
                            <%= link_to '<i class="material-icons icon-24pt">edit</i>'.html_safe , edit_task_path(task.id),  data: { modal: true } %>
                            <%= link_to '<i class="material-icons icon-24pt">playlist_add_check</i>'.html_safe , edit_task_path(task.id),  data: { modal: true } %>
                            <%= link_to '<i class="material-icons icon-24pt">attachment</i>'.html_safe , edit_task_path(task.id) %>
                          </div>
                          
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
              
      </div>

      </div>

    </div>
  </div>
</div>
        
