<%= simple_form_for(@company, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <%= form.input :legacy_id, :as => :hidden %>
      
      <div class="col-md-9">
        <%= form.input :code %>
      </div>
      <div class="col-md-3">
        <%= link_to import_nl_source_companies_path, id: "import_nl_source_link", class: "btn btn-md btn-outline-info import-btn", remote: true do %>
          <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">cloud_download</i>
          Importar
        <% end %>
      </div>
      <div class="col-md-6">
        <%= form.input :name %>
      </div>

      <div class="col-md-6">
        <%= form.input :ruc %>
      </div>

      <div class="col-md-12">
        <%= form.input :address %>
      </div>
      
      <div class="col-md-6">
        <%= form.input :mission %>
      </div>

      <div class="col-md-6">
        <%= form.input :vision %>
      </div>


      <div class="col-md-12">
        <p><strong class="headings-color">Datos de Contacto</strong></p>
      </div>

      <div class="col-md-6">
        <%= form.input :email %>
      </div>      

      <div class="col-md-6">
        <%= form.input :phone %>
      </div>      

      <div class="col-md-12">
        <%= form.input :contact_name %>
      </div>      

      <div class="col-md-12">
        <%= form.input :active %>
      </div>
      

    </div>
  </div>
  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

