<div class="control-page">
  <div class="controls-list">
<!-- 
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">print</i>
        Imprimir
      <% end %>
       -->
      <%= link_to new_company_path, :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">add</i>
        Nuevo
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Lista de Empresas</h4>
        </div>
        <div class="card-body">
          <table id="companies" class="display table table-striped table-bordered" style="width: 100%"></table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card" >
        <div class="card-body">
          <div class="form-group">
            <label for="filter_buckets" style="margin-right: 10px">Empresa actual</label>
            <%= form_tag("/save_current_company", {:method => :post}) do %>
              <%= select_tag 'company_id', options_for_select(@companies.collect{ |u| [u.name, u.id] }, @company.id), :class => "custom-select", :style => "width: 40%" %>            
              <%= submit_tag 'Guardar', :class => "btn btn-success ml-3" %>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

