<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @company.code %>
</p>

<p>
  <strong>Active:</strong>
  <%= @company.active %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @company.mission %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @company.vision %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @company.logo %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
