<%= simple_form_for(@patient, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  
  <div class="modal-body">
    <div class="row">

      <%= f.input :legacy_id, :as => :hidden %>
      <%= f.input :company_id, :as => :hidden, :value => @company.id %>


      <div class="col-md-3">
        <div class="avatar avatar-xxl">
          <img src="/images/user_image.png" alt="Avatar" class="avatar-img rounded" style="width: 100%;">
        </div>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            <%= f.input :ci %>    
          </div>
          <div class="col-md-3">
            <%= link_to import_nl_patient_patients_path, id: "import_nl_patient_link", class: "btn btn-md btn-outline-info import-btn", remote: true do %>
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">cloud_download</i>
              Importar
            <% end %>
          </div>

          <div class="col-md-6">
            <%= f.input :ci_type, collection: @ci_types, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>

          <div class="col-md-6">
            <%= f.input :name %>    
          </div>

          <div class="col-md-6">
            <%= f.input :last_name %>    
          </div>

          <div class="col-md-6">
            <%= f.input :name_1 %>    
          </div>

          <div class="col-md-6">
            <%= f.input :last_name_1 %>    
          </div>

          <div class="col-md-6">  
            <%= f.input :gender, collection: @genders, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-6">
            <%= f.input :birth_date,as: :string , input_html: {class: 'date-selector'} %>    
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-header card-header-tabs-basic nav p-0 mt-3" role="tablist">
          <a href="#activity_all" class="active" data-toggle="tab" role="tab" aria-controls="activity_all" aria-selected="true">Organización</a>
          
          <a href="#activity_emails" data-toggle="tab" role="tab" aria-controls="activity_emails" aria-selected="true" class="">Médica</a>

          <a href="#demografica" data-toggle="tab" role="tab" aria-controls="demografica" aria-selected="true" class="">Demográfica</a>
          
          <a href="#activity_purchases" data-toggle="tab" role="tab" aria-controls="activity_purchases" aria-selected="true" class="">Contacto</a>

          <a href="#activity_quotes" data-toggle="tab" role="tab" aria-controls="activity_quotes" aria-selected="true" class="">Administación</a>
        </div>

        <div class="list-group tab-content list-group-flush">
          
          
          <div class="tab-pane fade active show" id="activity_all">
            <div class="row">
              <div class="col-md-6">
                <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
                <div class="company-label d-flex align-items-center">
                    <i class="material-icons mr-1">business</i>
                    <div class="text-body"><strong><%= @company.name %></strong></div>
                </div>
              </div>
              <div class="col-md-6">
                <%= f.input :area_id, collection: @areas, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
              <div class="col-md-6">
                <%= f.input :position_id, collection: @positions, label_method: lambda { |p| "#{p.code} - #{p.name}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
              <div class="col-md-6">
                <%= f.input :profession, collection: @professions, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>

              <div class="col-md-6">
                <%= f.input :work_center_id, collection: @work_centers, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>

              <div class="col-md-3">
                <%= f.input :date_in, as: :string , input_html: {class: 'date-selector'} %>    
              </div>

              <div class="col-md-3">
                <%= f.input :date_out, as: :string , input_html: {class: 'date-selector'} %>    
              </div>
            </div>
          </div>

          <div class="tab-pane" id="activity_emails">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :blood_type, collection: @blood_types, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
              <div class="col-md-6">
                <%= f.input :civil_status, collection: @civil_states, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>

              <div class="col-md-6">
                <%= f.input :height %>
              </div>

              <div class="col-md-6">
                <%= f.input :weight %>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="demografica">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :nationality, collection: @countries, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
              <div class="col-md-6">
                <%= f.input :province, collection: @provinces, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
              <div class="col-md-6">
                <%= f.input :city, collection: @cities, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
              </div>
              <div class="col-md-12">
                <%= f.input :direction %>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="activity_purchases">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :phone_1 %>
              </div>
              <div class="col-md-6">
                <%= f.input :phone_2 %>
              </div>
              <div class="col-md-6">
                <%= f.input :email %>
              </div>
              
            </div>
          </div>
          

          <div class="tab-pane" id="activity_quotes">
            <%= f.input :active %>
            <%= f.input :description %>
          </div>

        </div>
      </div>
    </div>

  </div>
    
  <input type="hidden" name="url" id="url" value="">

  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $("#url").val(window.location.pathname);

  $(".date-selector").flatpickr({
    altInput: true,
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>
