<div class="control-page">
  <div class="controls-list">
      <%= link_to reports_patients_path, :class => "ml-3" do %>
        <i class="material-icons">insert_chart</i>
        Reportes
      <% end %>
      <%= link_to print_patients_path, :class => "ml-3", :target => "_blank" do %>
        <i class="material-icons">print</i>
        Imprimir
      <% end %>
      <%= link_to new_patient_path, :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">add</i>
        Nuevo
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4" id="page_container_work">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Lista de Trabajadores</h4>
        </div>
        <div class="card-body">
          <table id="patients" class="display table table-striped table-bordered" style="width: 100%"></table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div id="chartGender" style="height: 370px; width: 100%;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div id="chartAge" style="height: 370px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $( document ).ready(function() {
    var chart = new CanvasJS.Chart("chartGender", {
      animationEnabled: true,
      title:{
        text: "Por género",
        horizontalAlign: "left"
      },
      data: [{
        type: "doughnut",
        startAngle: 15,
        innerRadius: 75,
        indexLabelFontSize: 14,
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
        dataPoints: [
          { y: <%= @none_count %>, label: "ND" },
          { y: <%= @male_count %>, label: "Hombres" },
          { y: <%= @female_count %>, label: "Mujeres" }
        ]
      }]
    });

    chart.render();

    var chart_2 = new CanvasJS.Chart("chartAge", {
      theme: "light1", // "light2", "dark1", "dark2"
      animationEnabled: false, // change to true    
      title:{
        text: "Por Estado civil"
      },
      data: [
      {
        // Change type to "bar", "area", "spline", "pie",etc.
        type: "column",
        dataPoints: [
          { label: "Soltero",  y: <%= @sol_count %>  },
          { label: "Casado", y: <%= @cas_count %>  },
          { label: "Divorsiado", y: <%= @div_count %>  },
          { label: "Separado",  y: <%= @sep_count %>  },
          { label: "Viudo",  y: <%= @viu_count %>  },
          { label: "ND",  y: <%= @n_count  %>  }
        ]
      }
      ]
    });
    chart_2.render();
  });
</script>