<div class="control-page">
  <div class="controls-list">
      <%= link_to reports_patients_path, :class => "ml-3" do %>
        <i class="material-icons">insert_chart</i>
        Reportes
      <% end %>
      <%= link_to print_patients_path, :class => "ml-3", :target => "_blank" do %>
        <i class="material-icons">print</i>
        Imprimir
      <% end %>
      <%= link_to new_patient_path, :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">add</i>
        Nuevo
      <% end %>
  </div>
</div>

<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Reportes de Trabajadores</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <%= render_report 'users_by_age' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>