<div class="modal-header">
  <h5 class="modal-title">Información Trabajador</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-3">
      <div class="avatar avatar-xxl">
        <img src="/images/user_image.png" alt="Avatar" class="avatar-img rounded" style="    width: 100%;">
      </div>
      <!-- <p class="text-muted">Edit your account details and settings.</p> -->
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("ci_type") %></strong><br/>
          <%= select_array(@ci_types, @patient.ci_type) %>
        </div>

        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("ci") %></strong><br/>
          <%= @patient.ci %>
        </div>
        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("name") %></strong><br/>
          <%= @patient.name %>
        </div>

        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("last_name") %></strong><br/>
          <%= @patient.last_name %>
        </div>

        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("gender") %></strong><br/>
          <%= select_array(@genders, @patient.gender) %>
        </div>

        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("age") %></strong><br/>
          <%= @patient.age %>
        </div>

        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("phone_1") %></strong><br/>
          <%= @patient.phone_1.present? ? @patient.phone_1 : t("label.blank") %>
        </div>

        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("email") %></strong><br/>
          <%= @patient.email.present? ? @patient.email : t("label.blank") %>
        </div>

        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("company_id") %></strong><br/>
          <%= @patient.company.name %>
        </div>

        <div class="col-md-6">  
          <strong><%= Patient.human_attribute_name("area_id") %></strong><br/>
          <% if @patient.area.present? %>
            <%= @patient.area.name %>
          <% else %>
            N/D
          <% end %>
        </div>

        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("position_id") %></strong><br/>
          <% if @patient.position.present? %>
            <%= @patient.position.name %>
          <% else %>
            N/D
          <% end %>
          
        </div>

        <div class="col-md-6">
          <strong><%= Patient.human_attribute_name("profession") %></strong><br/>
          <%= select_array(@professions, @patient.profession) %>
        </div>
      </div>
    </div>
  </div>
  <hr/>


  <div class="row">
    <div class="col-md-12">
      <div class="card-header card-header-tabs-basic nav" role="tablist">
        <a href="#medical_data" class="active" data-toggle="tab" role="tab" aria-controls="medical_data" aria-selected="true">Seguimiento Médico</a>
        <a href="#risk_data" data-toggle="tab" role="tab" aria-controls="risk_data" aria-selected="true" class="">Gestión de Riesgos</a>
      </div>

      <div class="list-group tab-content list-group-flush">
        <div class="tab-pane fade active show" id="medical_data">
          <div class="row">
            <div class="col-md-12">
              
              <% if @patient.medical_records.where(:initial => false).any? %>
                <ul>
                <% @patient.medical_records.where(:initial => false).order(date: :desc).each do |mr| %>
                  <li>

                    <strong class="text-15pt mr-2"><%= mr.record_name %> </strong>

                    <%= mr.date.strftime("%-d %b %I:%M %p") %>
                    
                    <% if mr.finished? %>
                      <span class="badge badge-secondary">Finalizado</span>
                    <% elsif mr.audited? %>
                      <span class="badge badge-success">Aprobado</span>
                    <% else %>
                      <span class="badge badge-primary">Abierto</span>
                      <% if mr.comments? || !mr.comments.blank? %>
                        &nbsp;<span class="badge badge-danger">Tiene Novedades</span>
                      <% end %>
                    <% end %>

                  </li>
                <% end %>
                </ul>
              <% else %>
                <span class="text-muted">Sin registros</span>
              <% end %>

            </div>
          </div>
        </div>
        <div class="tab-pane" id="risk_data">
          <div class="row">
            <div class="col-md-12">
              <span class="text-muted">Sin registros</span>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
</div>

<div class="modal-footer">
  <div class="actions">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
      <i class="material-icons mr-1">close</i> Cerrar
    </button>
    <button type="button" class="btn btn-outline-primary">
      <i class="material-icons mr-1">print</i> Imprimir
    </button>
  </div>
</div>