<li>
	<%= link_to edit_area_path(area.id), :class => "", data: { modal: true } do %>
    
    <%= "#{area.name} - #{area.code}"  %>
    <hr/>
    <div class="d-flex align-items-center mt-1 manager-container">
    	<% if area.user_id %>
	      <span class="avatar avatar-xxs avatar-online mr-2">
	        <div class="avatar-circle">
	 					<span class="initials">
	   					KA
	 					</span>
					</div>
	      </span>
	      <%= area.mananger.full_name %>
	    <% else %>
	    	<span class="text-muted">Sin responsable</span>
	    <% end %>
    </div>

  <% end %>

	<% if area.areas.any? %>
		<ul>
			<% area.areas.order(:name).each do |area| %>
				<%= render "area_item", area: area %>
			<% end %>
		</ul>
	<% end %>
</li>
