<%= simple_form_for(@area, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <%= form.input :company_id, :as => :hidden, :value => @company.id %>
      <div class="col-md-12">
        <%= form.input :name %>
      </div>
      <div class="col-md-6">
        <%= form.input :code %>
      </div>

      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center">
            <i class="material-icons mr-1">business</i>
            <div class="text-body"><strong><%= @company.name %></strong></div>
        </div>
      </div>
      
      <div class="col-md-12">
        <%= form.input :description %>
      </div>

      <% if @area.parent_id != 0 %>
        <div class="col-md-12">
          <%= form.input :parent_id, collection: @areas, label_method: lambda { |p| "#{p.name} #{p.code}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
        </div>
      <% end %>

      <div class="col-md-12">
        <%= form.input :user_id, collection: @all_patients, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-12">
        <%= form.input :active %>
      </div>
      
    </div>
  </div>
  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>


<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    altInput: true,
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>

