<% if order.nro_order.present? %>
  <div class="row">

    <div class="col-md-12 mb-2" style="color: #51A7C5">    
      <i class="mr-1 material-icons">person</i>
      <strong>Información del Paciente</strong>
    </div>
    
    <div class="col-md-4 mb-2">
      <div class="text-label mb-0">Paciente</div>
      <strong><%= order.patient["full_name"] %></strong>
    </div>

    <div class="col-md-4 mb-2">
      <div class="text-label mb-0">CI</div>
      <%= order.patient["ci"] %>
    </div>
    <div class="col-md-4 mb-2">
      <div class="text-label mb-0">Edad</div>
      <%= order.patient["age"] %>
    </div>

    <div class="col-md-4 mb-2">
      <div class="text-label mb-0">Sexo</div>
      <%= order.patient["gender"] == 1 ? "Masculino" : order.patient["gender"] == 2 ? "Femenino" : "No definido" %>
    </div>

    <div class="col-md-4 mb-2">
      <div class="text-label mb-0">Medico</div>
      <strong><%= order.doctor["nom_med"] %></strong>
    </div>

    <div class="col-md-4 mb-2">
      <div class="text-label mb-0">Origen</div>
      <strong><%= order.source["name"] %></strong>
    </div>
  </div>


  <div class="row">


    <div class="col-md-12 mb-2" style="color: #51A7C5">
      <i class="mr-1 material-icons">local_hospital</i>
      <strong>Valoraciónes de Especialidades</strong>
    </div>

    <div class="col-md-12">
      <div class="table-responsive mb-2" style="border: 1px solid #eee;">
        <table class="table simple-table mb-0 thead-border-top-0">
            <thead>
                <tr class="bg-light">
                    <th>#</th>
                    <th>Análisis</th>
                    <th>Servicio</th>
                    <th>Estado</th>
                    <th>Creado en</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
              <% if @requests.any? %>
                <% @requests.each do |r| %>
                  <tr>
                    <form>
                      <td><%= r[:idx] %></td>
                      <td><%= "#{r[:cod_ana]} #{r[:des_ana]}" %></td>

                      <td class="service">
                        <% if r[:cod_ana].present? && r[:cod_ana] != "1095" && r[:cod_ana] != "1098" && r[:cod_ana] != "1101" %>
                        
                          <%= r[:service].present? ? r[:service] : collection_select('medical_entry', "medical_service_id", @active_services.map { |ms| ms.exam.code == r[:cod_ana] ? ms : nil}.compact, :id, :name, {prompt: true}, {class: 'select_2', :style => "width: 100%;"}) %>
                        
                        <% else %>  

                        <% end %>
                      </td>
                      <td><%= r[:sts_pet] %></td>
                      <td><%= r[:created_at].strftime(@date_time_format) if r[:created_at] %></td>
                      <td>
                        <% if r[:is_saved] %>
                          <a href="<%= r[:pdf_url] %>" class="btn btn-dark btn-block" data-modal="true" >
                            <i class="material-icons mr-1">print</i> Orden
                          </a>
                        <% else %>
                          <a href="<%= r[:pdf_url] %>" class="create_entry btn btn-primary btn-block" confirm-text="Esta seguro(a) de generar orden?" data-modal="true" >
                            <i class="material-icons mr-1">open_in_new</i> Orden
                          </a>
                        <% end %>
                      </td>
                    </form>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="7">
                    <p class="text-dark-gray align-items-center mt-1 mb-1" style="text-align: center;">
                      <i class="material-icons icon-muted mr-2">cancel</i>
                      <strong>No existe resultados</strong>
                    </p>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>

    <% if @lab_request %>

      <div class="col-md-12 mb-2" style="color: #51A7C5">    
        <i class="mr-1 material-icons">featured_play_list</i>
        <strong>Informe de Laboratorio</strong>
      </div>

      <div class="col-md-9">
        <% if @lab_request[:service] && @lab_request[:service].any? %>
          <div class="table-responsive mb-2" style="border: 1px solid #eee;">
            <table class="table simple-table mb-0 thead-border-top-0">
              <tr class="text-muted">
                <td>
                  <strong>DETERMINACIÓN</strong>
                </td>
                <td>
                  <strong>RESULTADO</strong>
                </td>
                <td>
                  <strong>UNIDAD</strong>
                </td>
                <td>
                  <strong>VAL REFERENCIA</strong>
                </td>
              </tr>
              <% @lab_request[:service].each do |r| %>
                <tr>
                  <td colspan="4">
                    <strong><%= "#{r["cod_ana"]} #{r["nom_exam"]}" %></strong>
                  </td>
                </tr>
                <% r["determinations"].each do |dt| %>
                    <tr>
                      <td>
                        <%= dt["nom_det"] %>
                      </td>

                      <td>
                        <%= dt["res_det"]%>
                      </td>
                      
                      <td>
                        <%= dt["uni_det"] %>
                      </td>
                      <td>
                        <%= dt["val_ref"] %>
                      </td>
                    </tr>
                <% end %>
              <% end %>

            </table>
          </div>
        <% else %>

        <% end %>
        
      </div>

      <div class="col-md-3">
        <div class="text-muted mb-2">Si desear registrar resultados del Paciente</div>
        
        <%= link_to "<i class='material-icons mr-1'>open_in_new</i> Registar".html_safe, register_values_medical_entries_path(:nro_order => order.nro_order), class: "btn btn-primary btn-block", remote: true %>
      </div>
    <% end %>

  </div>
<% else %>
  <p class="text-dark-gray align-items-center mt-1 mb-1" style="text-align: center;">
    <i class="material-icons icon-muted mr-2">cancel</i>
    <strong>No existe resultados</strong>
  </p>

<% end %>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap"
  });
  $('select.select_2').on('select2:select', function (e) { 
    let create_entry = $(this).parent().parent().find('.create_entry');
    let new_url = addParameter(create_entry.prop('href'), "service_id", e.params.data.id);
    create_entry.prop('href', new_url);
  });
</script>

