<div class="row">
  <div class="col-md-4">
		<% if orders.any? %>
			<ul class="list-group">
				<% orders.each do |order_by_patient| %>
					<li class="list-group-item d-flex align-items-center" style="padding: 10px">
						<div class="">
							<strong>
								<i class="material-icons">person</i>
								<%= order_by_patient[:patient][:full_name] %>		
							</strong>	
						
							<% order_by_patient[:patient][:orders].each do |order| %>	
								<div class="mt-2 mb-2" style="margin-left: 20px; color: #51A7C5">
									<i class="material-icons">merge_type</i>
									<%= order[:nro_ord] %>
								</div>
								<% order[:requests].each do |request| %>
									<div style="margin-left: 20px; font-weight: normal;" class="mb-1">
										<% if request[:type] == "record" %>
											<i class="material-icons">local_hospital</i>
										<% elsif request[:type] == "laboratory" %>
											<i class="material-icons">featured_play_list</i>
										<% end %>

										<% if request[:pdf_url].present? %>
											<%= link_to request[:name], "#", :onclick => "load_pdf('#{request[:pdf_url]}#view=FitH'); return false;" %>
										<% else %>
											<%= request[:name] %>
										<% end %>
										

										<% if request[:status] == "finished" %>
											<span class="badge badge-secondary"><i class="material-icons icon-16pt">check</i></span>
										<% elsif request[:status] == "audited" %>
											<span class="badge badge-success"><i class="material-icons icon-16pt">lock</i></span>
										<% elsif request[:status] == "none" %>
											<span class="badge badge-secondary"><i class="material-icons icon-16pt">block</i></span>
										<% else %>
											<span class="badge badge-primary"><i class="material-icons icon-16pt ml-1">edit</i></span>
										<% end %>

									</div>
								<% end %>
							<% end %>	

						</div>
					</li>
				<% end %>
			</ul>
		<% else %>
			<div class="text-muted">Sin Registros</div>
		<% end %>
	</div>

	<div class="col-md-8">
    <div id="pdf_object" style="height: 65vh; background-color: #f8f9fc; text-align: center; border: 1px solid #e3e6f0; overflow: hidden; border-radius: 3px;">
      <img src="/images/pdf-preview.png" style="width: 20%; top: 25vh; position: relative; opacity: 0.3;">
    </div>
  </div>
</div>

<script type="text/javascript">
  function load_pdf(url){
    $("#pdf_object").html("<iframe style='width: 100%; height: 100%' src="+ url +"> </iframe>")
  }
</script>