<div class="modal-header">
  <h5 class="modal-title">Imprimir Orden</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="dynamic-content">
  <div class="modal-body">
    <div class="row">

      <div class="col-md-4">
        <div class="avatar avatar-xxl">
          <img class="navbar-brand-icon mb-2" src="/images/ecua-american-logo.png" style="width: 100%;" alt="Stack">
          <hr/>
          <strong>Usuario conectado:</strong>
          <br/>
          <%= current_user.name %>
          <br/>
          <strong>Orden:</strong>
          <br/>
          #<%= @medical_entry.id_to_s %>
          <br/>
          <strong>Paciente:</strong>
          <br/>
          <%= @medical_entry.patient.full_name %>
          <br/>
          <strong>CI:</strong>
          <br/>
          <%= @medical_entry.patient.ci %>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card" id="new_order" >
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-lg">
                <div class="badge badge-dark text-right" style="font-size: 14px;">Nextlab: #<%= @medical_entry.nro_ord %></div>
              </div>
              <div class="col-lg text-right">
                <div class="text-label">Ecua-American</div>
              </div>
            </div>            
              <div class="p-3">
                <div class="d-flex justify-content-center flex-column text-center my-3 navbar-light">
                  <a href="index.html" class="navbar-brand d-flex flex-column m-0" style="min-width: 0">
                    <span>ORDEN</span>
                  </a>
                  <div class="text-muted">#<%= @medical_entry.id_to_s %></div>
                </div>

                <div class="row mb-3">
                  <div class="col-lg">
                    <div class="text-label">PACIENTE</div>
                    <p class="mb-4">
                        <strong class="text-body"><%= @medical_entry.patient.full_name %></strong><br>
                        <%= @medical_entry.patient.ci %><br>
                        <%= @medical_entry.patient.age %><br>
                    </p>
                    <div class="text-label">Usuario</div>
                    <%= current_user.name %>
                  </div>

                  <div class="col-lg text-right">
                    <div class="text-label">ESPECIALIDAD</div>
                    <p class="mb-4">
                        <strong class="text-body"><%= @medical_entry.exam.name %></strong><br>
                        <% if @medical_entry.medical_service.present? %>
                          <%= @medical_entry.medical_service.name %><br>
                        <% end %>
                        PARTICULAR
                    </p>
                    <div class="text-label">Fecha</div>
                    <%= @medical_entry.created_at.strftime("%A, %-d %b %Y") %>
                  </div>
                </div>
                <!-- <p class="text-muted">We appreciate your business. Should you need us to add VAT or extra notes let us know!</p> -->
              </div>
          </div>
      </div>
        
      </div>

    </div>

  </div>
    
  <div class="modal-footer">
    <div class="actions">
      <a class="btn btn-light" data-dismiss="modal" onclick="load_order_after_print();">Cerrar</a>
    </div>
  </div>
</div>

<script src="/js/html2pdf.bundle.min.js"></script>
<script type="text/javascript">
  element = null;
  $( document ).ready(function() {
    element = $("#new_order").html();
    $("#new_order").hide();
    function generatePDF() {
      // Choose the element that our invoice is rendered in.
      // const element = document.getElementById("new_order");
      // Choose the element and save the PDF for our user.
      // html2pdf().from(element).toPdf();
      var opt = {
        margin:       0,
        filename:     'orden_ecua_american.pdf',
        // image:        { type: 'jpeg', quality: 0.50 },
        html2canvas:  { scale: 1 },
        jsPDF:        { unit: 'in', format: 'A6', orientation: 'landscape' }
      };

      html2pdf().set(opt).from(element).toPdf().get('pdf').then(function (pdf) {
        pdf.setProperties({ 
          title: "orden_ecua_american.pdf",
        });
        $("#new_order").html("<iframe style='height: 560px;' src="+ pdf.output('dataurl') +"></iframe>");
        $("#new_order").show();
      });
      
    }
    generatePDF();
  });

  function load_order_after_print() {
    $("#send_load_order").click();
  }

</script>



