<div class="control-page">
  <div class="controls-list">
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">compare_arrows</i>
        Comprobar conexión
      <% end %>
  </div>
</div>
<div class="container-fluid page__container pt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Ingresos por orden NextLab</h4>
        </div>
        <div class="card-body button-list mb-2">
          <%= simple_form_for(medical_entries_path, remote: true, method: :get, html: { id: "load_records" }) do |f| %>
            <div class="row">
              <div class="col-md-12">
              
                <div class="form-group numeric required medical_entries_order">
                  <label class="form-control-label numeric required" for="order">Orden Nro NEXTLAB <abbr title="required">*</abbr></label>
                  <input class="form-control numeric numeric required" type="number" step="any" name="[order]" id="_medical_entries_order">
                </div>
                

              </div>
              <div class="col-md-6">
                <%= button_tag type: 'submit', id: "send_load_order", :class => 'btn btn-secondary btn-block', autocomplete: "off", :onclick => "$('#order').css('opacity', '0.5').css('pointer-events','none') ;", data: { disable_with: "..."} do %>
                  <i class="fas fa-search fa-sm text-white-50"></i> Buscar
                <% end %>
              </div>
              <div class="col-md-6">
                <%= f.button :button, '<i class="fas fa-eraser fa-sm text-white-50"></i> Borrar'.html_safe, id: "reset_print_order", :type => 'reset', :class => 'btn btn-secondary btn-block' %>
              </div>
            </div>
            <hr/>
            <strong>Usuario: </strong><br/>
            <%= current_user.name %>
            <br/>
            <strong>IP: </strong><br/>
            <%= Rails.env.development? ? "127.0.0.1" : request.remote_ip %>
          <% end %>  
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Datos de la orden</h4>
        </div>

        <div class="card-body button-list mb-2">
          <div id="container-order-entry">
            <img class="navbar-brand-icon mb-2" src="/images/ecua-american-logo.png" style="width: 100%; opacity: .3" alt="Stack">
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <div class="mb-5"></div>
</div>

<script type="text/javascript">
  $(document).on("ajax:beforeSend", "#load_records", function() {
    $("#container-timeline").hide();
    $("#records_spinner").show();
  });

  $(".select_2").change(function() {
    $("#refresh_results").click();
  });
</script>