<div class="control-page">
  <div class="controls-list">
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">compare_arrows</i>
        Comprobar conexión
      <% end %>
  </div>
</div>
<div class="container-fluid page__container pt-4" style="max-width: 100%">

  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for(list_medical_entries_path, remote: true, method: :get, html: { id: "load_records" }) do |f| %>
        <div class="card card-form d-flex flex-column flex-sm-row">
        
          <div class="card-form__body card-body-form-group flex">
        
            <div class="row">

              <div class="col-sm-auto">
                <div class="form-group">
                  <label for="filter_name">Nro Orden</label>
                  <input id="nro_order" name="nro_order" type="text" class="form-control" placeholder="Orden NextLab">
                </div>
              </div>

              <div class="col-sm-auto">
                <div class="form-group">
                  <label for="filter_name">Cédula</label>
                  <input id="ci" type="text" name="ci" class="form-control" placeholder="Ingresar CI">
                </div>
              </div>

              <div class="col-sm-auto">
                <div class="form-group" style="width: 200px;">
                  <label for="filter_date">Desde</label>
                  <input id="from_date" type="text" name="from_date" class="form-control date-selector" placeholder="Seleacionar" value="<%= @from_date %>">
                </div>
              </div>

              <div class="col-sm-auto">
                <div class="form-group" style="width: 200px;">
                  <label for="filter_date">Hasta</label>
                  <input id="to_date" type="text" name="to_date" class="form-control date-selector" placeholder="Seleacionar" value="<%= @to_date %>">
                </div>
              </div>

              

              <!-- <div class="col-sm-auto">
                <div class="form-group">
                  <label for="filter_buckets">Empresa/Origen</label><br>
                  <select id="filter_buckets" class="custom-select" style="width: 150px;">
                    <option value="all">Any</option>
                    <option value="1">Deployed</option>
                    <option value="2">Concept</option>
                    <option value="3">Wireframe</option>
                  </select>
                </div>
              </div> -->

            </div>
          
          </div>
          <button class="btn bg-white border-left border-top border-top-sm-0 rounded-top-0 rounded-top-sm rounded-left-sm-0"><i class="material-icons text-primary">refresh</i></button>
        
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">
            Lista de Ingresos
            
            <div id="records_spinner" class="is-loading is-loading-lg" style="display: none; float: right; width: 16px; height: 16px;">Loading content</div>

          </h4>
        </div>
        <div class="card-body button-list mb-2">
          <div id="container-list-orders">
            <img class="navbar-brand-icon mb-2" src="/images/ecua-american-logo.png" style="width: 100%; opacity: .3" alt="Stack">
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="mb-5"></div>
</div>

<script type="text/javascript">
  $(document).on("ajax:beforeSend", "#load_records", function() {
    $("#container-timeline").hide();
    $("#records_spinner").show();
  });

  $(".select_2").change(function() {
    $("#refresh_results").click();
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>

