<%= simple_nested_form_for(@personal_protection_entry, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">


      <%= form.input :user_id, :as => :hidden, :value => current_user.id %>

      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Responsable <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center mb-2">
            <i class="material-icons mr-1">person</i>
            <div class="text-body"><strong><%= current_user.name %></strong></div>
        </div>
      </div>
      

      <%= form.input :company_id, :as => :hidden, :value => @company.id %>
    
      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center mb-2">
            <i class="material-icons mr-1">business</i>
            <div class="text-body"><strong><%= @company.name %></strong></div>
        </div>
      </div>


      <div class="col-md-6">
        <%= form.input :patient_id, collection: @patients, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>
      
      <div class="col-md-6">
        <%= form.input :date ,as: :string , input_html: {class: 'date-selector'} %>
      </div>

      <div class="col-md-6">
        <%= form.input :origin_work_center_id, collection: @work_centers, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-6">
        <%= form.input :destination_work_center_id, collection: @work_centers, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-6">
        <%= form.input :description %>
      </div>

      <div class="col-md-6">
        <%= form.input :signature %>
      </div>

      <div class="col-md-12">
        <p style="margin-bottom: 0" class="text-muted">Equipos de Protección <%= form.link_to_add "<i class='material-icons'>add_circle</i>".html_safe, :personal_protection_entry_personal_protections, :data => { :target => "#personal_protection_entry_personal_protections" } %></p>

        <hr/>
      </div>
    </div>

      

    <div class="row" id="personal_protection_entry_personal_protections">
      <div class="col-md-4">
        <strong>Equipo de Proteción</strong>
      </div>

      <div class="col-md-2">
        <strong>Cantidad</strong>
      </div>
      
      <div class="col-md-2">
        <strong>Fecha Max. Cambio</strong>
      </div>

      <div class="col-md-3">
        <strong>Observación</strong>
      </div>

      
      <div class="col-md-1">
        
      </div>


      <%= form.fields_for :personal_protection_entry_personal_protections, @personal_protection_entry.personal_protection_entry_personal_protections.sort_by(&:id) , :wrapper => false do |pp_entry_form| %>
        <div class="col-md-12 fields" style="margin-bottom: 5px;">
          <div class="row">
            <div class="col-md-4">
              <%= pp_entry_form.input :personal_protection_id, collection: @personal_protections, prompt: "Seleccione opción", :label => false, input_html: {class: 'select_2'} %>        
            </div>

            <div class="col-md-2">
              <%= pp_entry_form.input :quantity, :label => false %>
            </div>
            
            <div class="col-md-2">
              <%= pp_entry_form.input :max_date, as: :string, :label => false , input_html: {class: 'date-selector'} %>
            </div>
            
            <div class="col-md-3">
              <%= pp_entry_form.input :description, as: :string, :label => false %>
            </div>

            
            <div class="col-md-1">
              <%= pp_entry_form.link_to_remove "<i class='material-icons'>delete</i>".html_safe %>
            </div>
          </div>
        </div>
      <% end %>


    </div>
  </div>

  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>


<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    altInput: true,
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>
