<%= simple_form_for(@commission, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <%= form.input :company_id, :as => :hidden, :value => @company.id %>
      <div class="col-md-6">
        <div class="row">

          <div class="col-md-12">
            <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
            <div class="company-label d-flex align-items-center mb-2">
                <i class="material-icons mr-1">business</i>
                <div class="text-body"><strong><%= @company.name %></strong></div>
            </div>
          </div>

          
          <div class="col-md-12">
            <%= form.input :work_center_id, collection: @work_centers, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>

          <div class="col-md-6">
            <%= form.input :date, as: :string , input_html: {class: 'date-selector'} %>    
          </div>

          <div class="col-md-6">
            <%= form.input :nro_members %>
          </div>

          <div class="col-md-12 copasst-block">
            <%= form.input :president, as: :radio_buttons, collection: [["Por parte Empresa", "1"],["Por parte Trabajadores", "2"]], item_wrapper_class: 'form-check-inline' %>
          </div>

        </div>

      </div>

      <div class="col-md-6">
        <%= form.input :type_commission, as: :radio_buttons, collection: @type_commissions, item_wrapper_class: 'form-check-inline', input_html: {onclick: 'changeType();'} %>
        <div class="alert alert-soft-primary d-flex align-items-center" role="alert">
          <i class="material-icons mr-3">flag</i>
          <div class="text-body">
            1. <code>Comité(COPASST)</code> Si la empresa tiene uno o varios centros de trabajo con más de 15 trabajadores <br/>
            2. <code>Subcomités(SCOPASST)</code> En los centros de trabajo en los que laboren entre 10 y 15 personas (si son menos
            <br/>
            3. <code>Delegados(Delegado de Seg.)</code> Si la empresa tiene uno o varios centros de trabajo en la que laboren 10 o menos trabajadores
          </div>
        </div>

      </div>

    </div>
    
    <hr class="copasst-block" >

    <div class="row copasst-block">  
      <div class="col-md-12">
        <div class="text-label mb-2">Por parte de la Empresa</div>  
      </div>
    </div>

    <div class="row copasst-block">
      <div class="col-md-6">
        <p class="text-muted mb-2">Miembros Principales</p>
        <div class="row">
          <div class="col-md-8">
            <%= form.input :member_1, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Presidente/Secretario</label>  
            </div>
          </div>
          <div class="col-md-8">
            <%= form.input :member_2, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Primer Vocal</label>
            </div>
          </div>
          <div class="col-md-8">
            <%= form.input :member_3, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Segundo Vocal</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-2">Miembros Suplentes</p>
        <div class="row">
          <div class="col-md-8">
            <%= form.input :member_4, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Presidente/Secretario</label>
            </div>
          </div>
          <div class="col-md-8">
            <%= form.input :member_5, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Primer Vocal</label>
            </div>
          </div>
          <div class="col-md-8">
            <%= form.input :member_6, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Segundo Vocal</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-12">
        <div class="text-label mb-2">Por parte de los Trabajadores</div>  
      </div>
    </div>

    <div class="row delegate-block">
      <div class="col-md-8">
        <%= form.input :delagate, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>
      <div class="col-md-4">
        <div class="standar-label text-center align-items-center">
          <label>Delegado de seguridad</label>
        </div>
      </div>
    </div>

    <div class="row copasst-block">
      <div class="col-md-6">
        <p class="text-muted mb-2">Miembros Principales</p>
        <div class="row">
          <div class="col-md-8">
            <%= form.input :member_7, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Presidente/Secretario</label>
            </div>
          </div>
          <div class="col-md-8">
            <%= form.input :member_8, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Primer Vocal</label>
            </div>
          </div>
          <div class="col-md-8">
            <%= form.input :member_9, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Segundo Vocal</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-2">Miembros Suplentes</p>
        <div class="row">
          <div class="col-md-8">
            <%= form.input :member_10, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Presidente/Secretario</label>
            </div>
          </div>
          <div class="col-md-8">
            <%= form.input :member_11, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Primer Vocal</label>
            </div>
          </div>
          <div class="col-md-8">
            <%= form.input :member_12, collection: @patients, label: false, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
          </div>
          <div class="col-md-4">
            <div class="standar-label text-center align-items-center">
              <label>Segundo Vocal</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= form.input :active %>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    altInput: true,
    enableTime: false,
    dateFormat: "Y-m-d",
  });

  function changeType(){
    if ($("#commission_type_commission_3").is(":checked") ){
      
      $(".copasst-block").hide();
      $(".delegate-block").show();
      
    } else {

      $(".copasst-block").show();
      $(".delegate-block").hide();
    }
  }
  changeType();

</script>