<div class="modal-header">
  <h5 class="modal-title">Editar COPASST/SCOPASST</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="dynamic-content">
  <%= render partial: 'form', locals: {commission: @commission} %>
</div>