<div class="modal-header">
  <h5 class="modal-title">COPASST/SCOPASST</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="card card-a4" id="print-pdf">
    <div class="card-body">
      <div class="card-header-a4 card-body text-white mb-3">
        <div class="row justify-content-center">
          <div class="col-md-4 header-col-a4 ">
            
            <div class="px-3">
              <div class="d-flex justify-content-center flex-column text-center my-3 navbar-light">
                <img class="navbar-brand-icon" src="/images/ecua-american-logo.png" style="width: 100%;" alt="logo">
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="px-3">
              <div class="d-flex justify-content-center flex-column text-center my-3 navbar-light">
                <% if @commission.type_commission == 3 %>
                  <h3>ACTA DE NOMBRAMIENTO DE LOS TRABAJADORES AL DELEGADO DE SEGURIDAD Y SALUD </h3>
                <% else %>
                  <h3>ACTA DE CONSTITUCION DEL COMITE DE SEGURIDAD Y SALUD</h3>
                <% end %>
              </div>
            </div>
          </div>
        </div>    
      </div>

      <% if @commission.type_commission == 3 %>

        <div class="row mb-3">
          <div class="col-md-12">
            <p style="font-size: 14px; text-align: justify;">
              En las instalaciones de <%= @company.name %>, el día <%= @commission.date.strftime(@date_format) %>, se procedió a la lectura y probación del orden del día. 
            </p>
            <p style="font-size: 14px; text-align: justify;">
              Se procedió a nombrar a los representantes POR PARTE DE LOS TRABAJADORES para la conformación del Comité Paritario de Seguridad y Salud de la Empresa, quedando de la siguiente manera:
            </p>
          </div>

          <div class="col-md-12 text-center mb-3 mt-3">
            
            <p>DELEGADO(A)</p>

            <br/>
            ______________________________
            <br/>
            <%= @commission.get_delegate.full_name %>
            <br/>
            <%= @commission.get_delegate.ci %>

          </div>

          <div class="col-md-12">
            <p style="font-size: 14px; text-align: justify;">
              Firmas de los empleados que estuvieron presentes en la elección de sus representantes (al menos la mitad + 1)
            </p>
          </div>


          <div class="col-md-12 text-center">
            <div class="table-responsive">
              <table class="table border-bottom table-column-border mb-2">
                  <thead>
                      <tr class="bg-light">
                          <th style="width: 50%">Nombres y Apellidos</th>
                          <th style="width: 25%">CI</th>
                          <th style="width: 25%">Firma</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% 10.times.each do |i| %>
                      <tr>
                          <td></td>
                          <td></td>
                          <td style="height: 40px"></td>
                      </tr>
                    <% end %>  
                      
                  </tbody>
              </table>
            </div>

          </div>
        </div>


      <% else %>

        <div class="row mb-3">
          <div class="col-md-12">
            <p style="font-size: 14px; text-align: justify;">
              En las instalaciones de <%= @company.name %>, el día <%= @commission.date.strftime(@date_format) %>, se procedió a la lectura y probación del orden del día. 
            </p>
            <p style="font-size: 14px; text-align: justify;">
              Una vez reunidos representantes del empleador y de los empleados, se procede a nombrar del grupo de los principales al Presidente y Secretario del Comité que durarán un año en sus funciones pudiendo ser reelegidos indefinidamente. 
            </p>

            <div class="text-label">POR PARTE DE LA EMPRESA</div>

            <div class="table-responsive">
              <table class="table border-bottom table-column-border mb-2">
                  <thead>
                      <tr class="bg-light">
                          <th>Nombres Principales</th>
                          <th>CI</th>
                          <th>Función</th>
                          <th style="width: 280px">Firma</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% member_1 = @commission.member(1) %>
                      <% if member_1.present? %>
                        <tr>
                            <td><%= member_1.full_name %></td>
                            <td><%= member_1.ci %></td>
                            <td><%= @commission.president == 1 ? "Presidente" : "Secretario" %></td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>

                      <% member_2 = @commission.member(2) %>
                      <% if member_2.present? %>
                        <tr>
                            <td><%= member_2.full_name %></td>
                            <td><%= member_2.ci %></td>
                            <td>Primer Vocal</td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>

                      <% member_3 = @commission.member(3) %>
                      <% if member_3.present? %>
                        <tr>
                            <td><%= member_3.full_name %></td>
                            <td><%= member_3.ci %></td>
                            <td>Segundo Vocal</td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
            </div>

            <div class="table-responsive">
              <table class="table border-bottom table-column-border mb-2">
                  <thead>
                      <tr class="bg-light">
                          <th>Nombres Suplentes</th>
                          <th>CI</th>
                          <th>Función</th>
                          <th style="width: 280px">Firma</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% member_4 = @commission.member(4) %>
                      <% if member_4.present? %>
                        <tr>
                            <td><%= member_4.full_name %></td>
                            <td><%= member_4.ci %></td>
                            <td><%= @commission.president == 1 ? "Presidente" : "Secretario" %></td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>
                      <% member_5 = @commission.member(5) %>
                      <% if member_5.present? %>
                        <tr>
                            <td><%= member_5.full_name %></td>
                            <td><%= member_5.ci %></td>
                            <td>Primer Vocal</td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>
                      
                      <% member_6 = @commission.member(6) %>
                      <% if member_6.present? %>
                        <tr>
                            <td><%= member_6.full_name %></td>
                            <td><%= member_6.ci %></td>
                            <td>Segundo Vocal</td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>

                  </tbody>
              </table>
            </div>

            <div class="text-label">POR PARTE DE LOS TRABAJADORES</div>

            <div class="table-responsive">
              <table class="table border-bottom table-column-border mb-2">
                  <thead>
                      <tr class="bg-light">
                          <th>Nombres Principales</th>
                          <th>CI</th>
                          <th>Función</th>
                          <th style="width: 280px">Firma</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% member_7 = @commission.member(7) %>
                      <% if member_7.present? %>
                        <tr>
                            <td><%= member_7.full_name %></td>
                            <td><%= member_7.ci %></td>
                            <td><%= @commission.president == 2 ? "Presidente" : "Secretario" %></td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>
                      <% member_8 = @commission.member(8) %>
                      <% if member_8.present? %>
                        <tr>
                            <td><%= member_8.full_name %></td>
                            <td><%= member_8.ci %></td>
                            <td>Primer Vocal</td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>
                      <% member_9 = @commission.member(9) %>
                      <% if member_9.present? %>
                        <tr>
                            <td><%= member_9.full_name %></td>
                            <td><%= member_9.ci %></td>
                            <td>Segundo Vocal</td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
            </div>

            <div class="table-responsive">
              <table class="table border-bottom table-column-border mb-2">
                  <thead>
                      <tr class="bg-light">
                          <th>Nombres Suplentes</th>
                          <th>CI</th>
                          <th>Función</th>
                          <th style="width: 280px">Firma</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% member_10 = @commission.member(10) %>
                      <% if member_10.present? %>
                        <tr>
                            <td><%= member_10.full_name %></td>
                            <td><%= member_10.ci %></td>
                            <td><%= @commission.president == 2 ? "Presidente" : "Secretario" %></td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>
                      <% member_11 = @commission.member(11) %>
                      <% if member_11.present? %>
                        <tr>
                            <td><%= member_11.full_name %></td>
                            <td><%= member_11.ci %></td>
                            <td>Primer Vocal</td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>
                      <% member_12 = @commission.member(12) %>
                      <% if member_12.present? %>
                        <tr>
                            <td><%= member_12.full_name %></td>
                            <td><%= member_12.ci %></td>
                            <td>Segundo Vocal</td>
                            <td style="height: 40px"></td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
            </div>

          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-2">
          </div>
          <div class="col-md-3 text-center">
            ___________________
            <br/>
            Presidente
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-3 text-center">
            ___________________
            <br/>
            Secretario
          </div>
          <div class="col-md-2">
          </div>
        </div>

      <% end %>
      



    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="actions">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
      <i class="material-icons mr-1">close</i> Cerrar
    </button>
    <button type="button" class="btn btn-outline-primary" onclick="generatePDF();">
      <i class="material-icons mr-1">print</i> Imprimir
    </button>
  </div>
</div>

<script src="/js/html2pdf.bundle.min.js"></script>
<script type="text/javascript">
  
  function generatePDF() {
    // Choose the element that our invoice is rendered in.
    const element = document.getElementById("print-pdf");
    // Choose the element and save the PDF for our user.
    // html2pdf().from(element).toPdf();
    var opt = {
      margin:       0,
      filename:     'copasst.pdf',
      // image:        { type: 'jpeg', quality: 0.50 },
      html2canvas:  { scale: 1 },
      jsPDF:        { unit: 'in', format: 'A4', orientation: 'portrait' }
    };

    html2pdf().set(opt).from(element).toPdf().get('pdf').then(function (pdf) {
      pdf.setProperties({ 
        title: "copasst.pdf",
      });
      window.open(pdf.output('bloburl'), '_blank');
    });
    
  }

</script>




