<% if medical_results.any? %>
  <% medical_results.each do |r| %>
    <p class="text-dark-gray d-flex align-items-center mt-3">
      <i class="material-icons icon-muted mr-2">event</i>
      <strong><%= r.first.strftime("%A, %-d %b %Y") %></strong>
    </p>
    <% r.last.each_with_index do |i, index| %>
      <div class="row align-items-center projects-item mb-1">
        <div class="col-sm-auto mb-1 mb-sm-0">
          <div class="text-dark-gray"><%= i.date.strftime("%I:%M %p") %></div>
        </div>

        <div class="col-sm">
          <div class='card m-0 <%= "medical_type_#{i.medical_type_id}" %>'>
            <div class="px-4 py-3">
              <%= simple_nested_form_for(i.medical_record, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
                <div class="row ">
                  <%= form.input :legacy_id ,as: :hidden, input_html: { value: i.nro_order } %>
                  <div class="col-md-2">
                    <!-- <small class="text-dark-gray mr-2">Orden:</small> -->
                    <strong><%= i.nro_order %></strong>
                    <% if i[:evaluation_finished] %>
                      <span class="badge badge-success">Evaluación Completa</span>
                    <% else %>
                      <span class="badge badge-light-gray">Evaluación Incompleta</span>
                    <% end %>
                  </div>

                  <div class="col-md-5">
                    <small class="text-dark-gray mr-2">Empleado:</small>
                    <%= i.patient[:full_name] %>
                    <br/>
                    <small class="text-dark-gray mr-">CI/RUC:</small>
                    <%= i.patient[:ci] %>

                    <small class="text-dark-gray ml-3 mr-2">Edad:</small>
                    <%= i.patient[:age] %>
                    
                  </div>
                  
                  <div class="col-md-5">
                    <small class="text-dark-gray mr-2">Doctor</small>
                    <%= i.doctor["name"] %>
                    <br/>
                    <small class="text-dark-gray mr-2">Referencia</small>
                    <%= i["source"]["name"] %>
                  </div>

                  <div class="col-md-12 mt-3">
                    <% if i.requests.any? %>
                      
                      <div class="table-responsive mb-2" style="border: 1px solid #eee;">
                        <table class="table simple-table mb-0 thead-border-top-0">
                          <thead>
                            <tr>
                              <th style="width: 18px;">
                                <% if i[:show_check_all] %>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input js-toggle-check-all" checked="" data-target="#staff_<%= i.nro_order %>" id="customCheckAll_<%= index %>">
                                    <label class="custom-control-label" for="customCheckAll_<%= index %>"><span class="text-hide">Toggle all</span></label>
                                  </div>
                                <% end %>
                              </th>
                              <th>Código</th>
                              <th>Exámen</th>
                              <th>Tipo</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody class="list" id="staff_<%= i.nro_order %>">
                            <% i.requests.each do |r| %>
                              <tr>
                                <td>
                                  <% if r[:sta_pet] == "1" %> 
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input js-check-selected-row" checked="" id="custoCheck_<%= r[:cod_pet] %>" name="medical_record[request_ids][]" value="<%= r[:cod_pet] %>">
                                      <label class="custom-control-label" for="custoCheck_<%= r[:cod_pet] %>"><span class="text-hide">Check</span></label>
                                    </div>
                                  <% end %> 
                                </td>
                                <td>
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <span class="js-lists-values-employee-name"><%= r[:cod_pet] %></span>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="media align-items-center">
                                    <div class="media-body">
                                      <span class="js-lists-values-employee-name"><%= r[:analisis]["des_ana"] %></span>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <% if r[:analisis]["tipo_ana"]["nom_tipo"] == "Laboratorio" %>
                                    <span class="badge badge-warning"><%= r[:analisis]["tipo_ana"]["nom_tipo"] %></span>
                                  <% else %>
                                    <span class="badge badge-success"><%= r[:analisis]["tipo_ana"]["nom_tipo"] %></span>
                                  <% end %>
                                </td>
                                <td title="">
                                  <% if r[:sta_pet] == "0" %>
                                    <i class="mr-2 material-icons btn" data-toggle="tooltip" data-placement="top" title="Sin resultados aun.">
                                      block
                                    </i>
                                  <% elsif r[:sta_pet] == "1" %>
                                    <i class="mr-2 material-icons" data-toggle="tooltip" data-placement="top" title="Disponible">
                                      lock_open
                                    </i>
                                  <% elsif r[:sta_pet] == "2" %>
                                    <i class="mr-2 material-icons btn" data-toggle="tooltip" data-placement="top" title="Evaluación finalizada.">
                                      lock
                                    </i>
                                  <% elsif r[:sta_pet] == "3" %> 
                                    <i class="mr-2 material-icons btn" data-toggle="tooltip" data-placement="top" title="Evaluación en proceso.">
                                      edit
                                    </i>
                                  <% end %> 
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>

                      <button type="submit" class="btn btn-outline-primary btn-block" data-confirm="¿Está seguro?">
                        <i class="mr-2 material-icons">check_circle</i>
                        Generar Evaluación
                      </button>
                    <% end%>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>  

      </div>
    <% end %>
  <% end %>

<% else %>
  <p class="text-dark-gray d-flex align-items-center mt-3">
    <i class="material-icons icon-muted mr-2">cancel</i>
    <strong>No existe resultados</strong>
  </p>
<% end %>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>