<div class="control-page">
  <div class="controls-list">
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">compare_arrows</i>
        Imprimir
      <% end %>
  </div>
</div>
<div class="container-fluid page__container pt-4">
  <div class="row">

    <div class="col-md-12">
      <h2 class="mb-4"><strong>Patologías más prevalentes</strong></h2>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Patologías por relevancia (Barras)</h4>
        </div>
        <div class="card-body chart-auto-size">
          <%= render_report 'patient_diseases_bar', context_params: { year: "2020" }  %>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>

  
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Patologías por relevancia (%)</h4>
        </div>
        <div class="card-body chart-auto-size">
          <ul class="list-unstyled list-skills">
            <% @disease_data.each do |data| %>
              <li>
                <div class="flex"><%= data.first %></div>
                <div class="flex">
                  <div class="progress" style="height: 6px;">
                    <div class="progress-bar" role="progressbar" style="width: <%= data.last %>%;" aria-valuenow="<%= data.last %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="text-dark-gray"><strong><%= data.last %>%</strong></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Patologías por relevancia (Pastel)</h4>
        </div>
        <div class="card-body chart-auto-size">
          <%= render_report 'patient_diseases_pie', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-12">
      <h2 class="mb-4"><strong>Patologías agrupadas por sistemas</strong></h2>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Patologías por sistemas (Barras)</h4>
        </div>
        <div class="card-body chart-auto-size">
          <%= render_report 'patient_system_diseases_bar', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Patologías por sistemas (Pastel)</h4>
        </div>
        <div class="card-body chart-auto-size">
          <%= render_report 'patient_system_diseases_pie', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>



  </div>
</div>