<div class="control-page">
  <div class="controls-list">
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">compare_arrows</i>
        Imprimir
      <% end %>
  </div>
</div>
<div class="container-fluid page__container pt-4">
  <div class="row">

    <div class="col-md-6 card-group-row__col">
      <div class="card card-group-row__card">
        <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
          <div class="flex">
            <div class="card-header__title text-muted mb-2 d-flex">Total Masculino<span class="badge badge-primary ml-2"><%= @gender_data[:male_pecentage] %>%</span></div>
            <span class="h4 m-0"><%= @gender_data[:male] %><small class="text-muted"> / <%= @gender_data[:total] %></small> </span>
          </div>
          <div><i class="material-icons icon-muted icon-40pt ml-3">people</i></div>
        </div>
        <div class="progress" style="height: 3px;">
          <div class="progress-bar bg-primary" role="progressbar" style="width: <%= @gender_data[:male_pecentage] %>%;" aria-valuenow="<%= @gender_data[:male_pecentage] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6 card-group-row__col">
      <div class="card card-group-row__card">
        <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
          <div class="flex">
            <div class="card-header__title text-muted mb-2 d-flex">Total Femenino <span class="badge badge-warning ml-2"><%= @gender_data[:female_pecentage] %>%</span></div>
            <span class="h4 m-0"><%= @gender_data[:female] %> <small class="text-muted"> / <%= @gender_data[:total] %></small> </span>
          </div>
          <div><i class="material-icons icon-muted icon-40pt ml-3">people</i></div>
        </div>
        <div class="progress" style="height: 3px;">
          <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @gender_data[:female_pecentage] %>%;" aria-valuenow="<%= @gender_data[:female_pecentage] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h2 class="mb-4"><strong>Distribución por Género</strong></h2>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Distribución por Género (Pastel)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'patient_gender_pie', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Distribución por Género (Barras)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'patient_gender_bar', context_params: { year: "2020" }  %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h2 class="mb-4"><strong>Distribución por Grupo Etareo</strong></h2>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Distribución por Grupo Etareo (Pastel)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'patient_age_pie', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Distribución por Grupo Etareo (Barras)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'patient_age_bar', context_params: { year: "2020" }  %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Distribución por Grupo Etareo (Linea)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'patient_age_line', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Distribución por Grupo Etareo (Tabla)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'patient_age_table', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h2 class="mb-4"><strong>Distribución por Centro de Trabajo</strong></h2>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Distribución por Centro de Trabajo (Pastel)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'patient_work_center_pie', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Distribución por Centro de Trabajo (Barras)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'patient_work_center_bar', context_params: { year: "2020" }  %>
        </div>
      </div>
    </div>

  </div>
</div>