<div class="control-page">
  <div class="controls-list">
    <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
      <i class="material-icons">compare_arrows</i>
      Imprimir
    <% end %>
  </div>
</div>
<div class="container-fluid page__container pt-4">
  <div class="row">

    <div class="col-md-6 card-group-row__col">
      <div class="card card-group-row__card">
        <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
          <div class="flex">
            <div class="card-header__title text-muted mb-2 d-flex">Total Completos<span class="badge badge-primary ml-2"><%= @health_cycle_data[:complete_percentage] %>%</span></div>
            <span class="h4 m-0"><%= @health_cycle_data[:complete] %><small class="text-muted"> / <%= @health_cycle_data[:total] %></small> </span>
          </div>
          <div><i class="material-icons icon-muted icon-40pt ml-3">person</i></div>
        </div>
        <div class="progress" style="height: 3px;">
          <div class="progress-bar bg-primary" role="progressbar" style="width: <%= @health_cycle_data[:complete_percentage] %>%;" aria-valuenow="<%= @health_cycle_data[:complete_percentage] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6 card-group-row__col">
      <div class="card card-group-row__card">
        <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
          <div class="flex">
            <div class="card-header__title text-muted mb-2 d-flex">Total Incompletos <span class="badge badge-warning ml-2"><%= @health_cycle_data[:incomplete_percentage] %>%</span></div>
            <span class="h4 m-0"><%= @health_cycle_data[:incomplete] %> <small class="text-muted"> / <%= @health_cycle_data[:total] %></small> </span>
          </div>
          <div><i class="material-icons icon-muted icon-40pt ml-3">person</i></div>
        </div>
        <div class="progress" style="height: 3px;">
          <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @health_cycle_data[:incomplete_percentage] %>%;" aria-valuenow="<%= @health_cycle_data[:incomplete_percentage] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Cumplimiento por Centro de Trabajo (Barras)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'wc_cycle_bar', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Cumplimiento por Area (Barras)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'areas_cycle_bar', context_params: { year: "2020" }  %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Cumplimiento por Centro de Trabajo (%)</h4>
        </div>

        <div class="card-body">
          <ul class="list-unstyled list-skills">
            <% @work_centers_data.each do |wcd| %>
              <li>
                <div><%= wcd[:work_center] %></div>
                <div class="flex">
                  <div class="progress" style="height: 6px;">
                    <div class="progress-bar <%= wcd[:color_class] %>" role="progressbar" style="width: <%= wcd[:percentage] %>%;" aria-valuenow="<%= wcd[:percentage] %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="text-dark-gray"><strong><%= wcd[:percentage] %>%</strong></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Cumplimiento por Area (%)</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled list-skills">
            <% @areas_data.each do |area| %>
              <li>
                <div><%= area[:area] %></div>
                <div class="flex">
                  <div class="progress" style="height: 6px;">
                    <div class="progress-bar <%= area[:color_class] %>" role="progressbar" style="width: <%= area[:percentage] %>%;" aria-valuenow="<%= area[:percentage] %>" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="text-dark-gray"><strong><%= area[:percentage] %>%</strong></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    

  </div>
</div>