$("#records_spinner").hide();
$("#container-timeline").html("<%= escape_javascript(render partial: 'result_items', locals: { medical_results: @medical_results } ) %>"); 
$("#container-timeline").show();