<%= simple_form_for(@personal_protection, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <%= form.input :company_id, :as => :hidden, :value => @company.id %>
      <div class="col-md-6">
        <%= form.input :name %>
      </div>

      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center mb-2">
            <i class="material-icons mr-1">business</i>
            <div class="text-body"><strong><%= @company.name %></strong></div>
        </div>
      </div>

      <div class="col-md-6">
        <%= form.input :stock %>
      </div>

      <div class="col-md-6">
        <%= form.input :protection_type_id, collection: @types, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>        
      </div>
      
      <div class="col-md-6">
        <%= form.input :features %>
      </div>

      <div class="col-md-6">
        <%= form.input :details %>
      </div>

      <div class="col-md-12" style="display: none;">
        <%= form.input :image %>
      </div>
      
    </div>
  </div>

  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>
<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    altInput: true,
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>