<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personal_protection.name %>
</p>

<p>
  <strong>Protection type:</strong>
  <%= @personal_protection.protection_type_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @personal_protection.company_id %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @personal_protection.stock %>
</p>

<p>
  <strong>Image:</strong>
  <%= @personal_protection.image %>
</p>

<p>
  <strong>Features:</strong>
  <%= @personal_protection.features %>
</p>

<p>
  <strong>Details:</strong>
  <%= @personal_protection.details %>
</p>

<%= link_to 'Edit', edit_personal_protection_path(@personal_protection) %> |
<%= link_to 'Back', personal_protections_path %>
