<%= simple_form_for(@risk, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">

      <div class="col-md-6">
        <%= form.input :name %>
      </div>

      <div class="col-md-6">
        <%= form.input :code %>
      </div>

      

      <div class="col-md-6">
        <%= form.input :risk_category_id, collection: @risk_categories, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-6">
        <%= form.input :description %>
      </div>

      <div class="col-md-12">
        <%= form.input :active %>
      </div>

      
      
    </div>
  </div>

  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });
</script>
