<div class="modal-header">
  <h5 class="modal-title">Nuevo Riesgo</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= render 'form', risk: @risk %>