<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @risk.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @risk.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @risk.description %>
</p>

<p>
  <strong>Risk category:</strong>
  <%= @risk.risk_category_id %>
</p>

<%= link_to 'Edit', edit_risk_path(@risk) %> |
<%= link_to 'Back', risks_path %>
