<div class="row">
  <div class="col-md-12">
  	<div class="list-group list-group-flush">
      	<div class="list-group-item bg-transparent d-flex align-items-center px-0">
       		<strong>Recepción</strong>
       		<!-- <div class="ml-auto">(1)</div> -->
      	</div>
    </div>
  </div>
  <div class="col-md-12">
  	<div class="">
  		<a href="<%= medical_entries_path %>" class="sidebar-btn <% if params[:controller] == "medical_entries" && params[:action] == "index" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Nuevo Ingreso
  		</a>

      <a href="<%= list_medical_entries_path %>" class="sidebar-btn <% if params[:controller] == "medical_entries" && params[:action] == "list" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Lista Ingresos
      </a>
  		
  		<a href="<%= medical_services_path %>" class="sidebar-btn <% if params[:controller] == "medical_services" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Servicios
  		</a>

  	</div>
  </div>

  <div class="col-md-12">
  	<div class="list-group list-group-flush">
      	<div class="list-group-item bg-transparent d-flex align-items-center px-0">
       		<strong>Auditoría</strong>
       		<!-- <div class="ml-auto">(3)</div> -->
      	</div>
    </div>
  </div>

  <div class="col-md-12">
  	<div class="">
	    <a href="<%= audits_medical_records_path %>" class="sidebar-btn <% if params[:controller] == 'medical_records' && ['audits', 'audit'].include?(params[:action]) %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Auditoría
  		</a>
  	</div>
  </div>


  <div class="col-md-12">
    <div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Instructivos</strong></div>
    </div>
  </div>

  <div class="col-md-12">
    <a href="/pdfs/work_flow.pdf" class="media align-items-center text-underline-0" target="_blank">
      <span class="avatar avatar-xs mr-1">
          <span class="avatar-title rounded-circle">
              <i class="material-icons">attach_file</i>
          </span>
      </span>
      <span class="media-body" style="line-height: 1.5">
          <span class="text-primary">flujo-2020.pdf</span><br>
          <span class="text-muted">1 MB</span>
      </span>
    </a>
  </div>

<!--   <div class="col-md-12">
    <div class="list-group list-group-flush">
        <div class="list-group-item bg-transparent d-flex align-items-center px-0">
          <strong>Evaluación</strong>
          <div class="ml-auto">Referencia (X)</div>
        </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="">
      <a href="<%= medical_records_path %>" class="sidebar-btn <% if params[:controller] == 'medical_records' &&  (['index', 'show'].include?(params[:action])) %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Evaluaciones médicas
      </a>

    </div>
  </div> -->

</div>