<div class="row">
  <% if (params[:controller] == "patient_records" && ["vaccines", "show", "recipes", "laboratories", "medical_history", "medical_certificates"].include?(params[:action])) || params[:controller] == "medical_checks" %>
    
    <div class="col-md-12 mt-2">
      <div class="list-group-item bg-transparent d-flex align-items-center px-0 py-1" style="border: 0;">
        <strong>Completo</strong>
        <div class="ml-auto"> 
          
          <%= simple_form_for @patient.health_cycle, :url => medical_result_path(@patient.health_cycle.id), :remote => true, method: "GET", html: { id: "health_cycle_form" } do |f| %>
            <div class="custom-control custom-switch">
              <%= f.check_box :complete, :class => "custom-control-input" %>
              <%= f.label :complete, :class => "custom-control-label" %>
            </div>
            <div style="display: none;">
              <%= f.submit 'save', :id => "save_health_cycle" %>
            </div>
            
          <% end %>

        </div>
      </div>

      <hr class="my-1">
    </div>

    <div class="col-md-12 mt-2" style="height: 140px">
      <div class="avatar avatar-xxl" style="text-align: center;">
        <img src="/images/user_image.png" alt="Avatar" class="avatar-img rounded" style="width: 120px; margin: 0 auto;">
      </div>
    </div>


    <div class="col-md-12">
      <div class="list-group list-group-flush mb-2 mt-2" style="font-size: 14px">
        <div class="list-group-item bg-transparent d-flex align-items-center px-0 py-1">
          <label style="font-size: 1rem;text-transform: uppercase;color: rgba(147, 159, 173, 0.84);font-weight: bold;"><%= @patient.full_name %></label>
          <div class="ml-auto"> 
            <a href="<%= patient_path(@patient.id) %>"  data-modal="true"><i class="material-icons">insert_drive_file</i></a> 
            <a href="<%= edit_patient_path(@patient.id) %>"  data-modal="true"><i class="material-icons">edit</i></a> 
          </div>
        </div>

        <div class="list-group-item bg-transparent d-flex align-items-center px-0 py-1">
            <strong>Edad</strong>
            <div class="ml-auto text-dark-gray"><%= @patient.age %></div>
        </div>
        <div class="list-group-item bg-transparent d-flex align-items-center px-0 py-1">
            <strong>Cédula Identidad</strong>
            <div class="ml-auto text-dark-gray"><%= @patient.ci %></div>
        </div>
        <!-- <div class="list-group-item bg-transparent d-flex align-items-center px-0 py-1">
            <strong>Estado Civil</strong>
            <div class="ml-auto text-dark-gray"><%= select_array(@civil_states, @patient.civil_status.to_s) %></div>
        </div> -->
        <div class="list-group-item bg-transparent d-flex align-items-center px-0 py-1">
            <strong>Tipo Sangre</strong>
            <div class="ml-auto text-dark-gray"><%= select_array(@blood_types, @patient.blood_type.to_s) %></div>
        </div>

        <div class="list-group-item bg-transparent d-flex align-items-center px-0 py-1">
            
        </div>
      </div>
    </div>

    <!-- <div class="col-md-12">
      <div class="list-group list-group-flush">
         <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Consulta Externa</strong></div>
      </div>
    </div> -->

    <div class="col-md-12">
      <div class="">
        <a href="<%= patient_record_path(@patient.id) %>" class="sidebar-btn <% if params[:controller] == "patient_records" && params[:action] == "show" %>active<% end %>">
          <i class="mr-2 material-icons">apps</i>
          Resumen Laboral
        </a>
        
        <a href="<%= medical_history_patient_record_path(@patient.id) %>" class="sidebar-btn <% if params[:controller] == "patient_records" && params[:action] == "medical_history" %>active<% end %>">
            <i class="mr-2 material-icons">apps</i>
            Antecedentes
        </a>
        
        <a href="<%= patient_record_medical_checks_path(@patient.id) %>" class="sidebar-btn <% if params[:controller] == "medical_checks" %>active<% end %>">
            <i class="mr-2 material-icons">apps</i>
            Consultas Médicas
        </a>

        <a href="<%= recipes_patient_record_path(@patient.id) %>" class="sidebar-btn <% if params[:controller] == "patient_records" && params[:action] == "recipes" %>active<% end %>">
            <i class="mr-2 material-icons">apps</i>
            Recetas
        </a>

        <!-- <a href="<%= vaccines_patient_record_path(@patient.id) %>" class="sidebar-btn <% if params[:controller] == "patient_records" && params[:action] == "vaccines" %>active<% end %>">
          <i class="mr-2 material-icons">apps</i>
          Vacunas
        </a> -->

        <!-- <a href="<%= laboratories_patient_record_path(@patient.id) %>" class="sidebar-btn <% if params[:controller] == "patient_records" && params[:action] == "laboratories" %>active<% end %>">
            <i class="mr-2 material-icons">apps</i>
            Laboratorio
        </a> -->

        <a href="<%= medical_certificates_patient_record_path(@patient.id) %>" class="sidebar-btn <% if params[:controller] == "patient_records" && params[:action] == "medical_certificates" %>active<% end %>">
            <i class="mr-2 material-icons">apps</i>
            Permisos
        </a>

      </div>
    </div>


    <div class="col-md-12">
      <div class="list-group list-group-flush">
         <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Instructivos</strong></div>
      </div>
    </div>

    <div class="col-md-12">
      <a href="/pdfs/acuerdo-ministerial-0341-2019.pdf" class="media align-items-center text-underline-0" target="_blank">
        <span class="avatar avatar-xs mr-1">
            <span class="avatar-title rounded-circle">
                <i class="material-icons">attach_file</i>
            </span>
        </span>
        <span class="media-body" style="line-height: 1.5">
            <span class="text-primary">instructivo-hco-2019.pdf</span><br>
            <span class="text-muted">6 MB</span>
        </span>
      </a>
    </div>

  <% else %>

    <div class="col-md-12">
      <div class="list-group list-group-flush">
         <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Consulta Externa</strong></div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="">

        <a href="<%= patient_records_path %>" class="sidebar-btn <% if params[:controller] == 'patient_records' %>active<% end %>">
          <i class="mr-2 material-icons">apps</i>
          Fichas ocupacionales
        </a>

        <a href="<%= medical_appointments_path %>" class="sidebar-btn <% if params[:controller] == 'medical_appointments' %>active<% end %>">
            <i class="mr-2 material-icons">apps</i>
            Citas médicas
        </a>

        <a href="<%= diagnostics_path %>" class="sidebar-btn <% if params[:controller] == 'diagnostics' %>active<% end %>">
          <i class="mr-2 material-icons">apps</i>
          Diagnosticos CIE-10
        </a>
      </div>
    </div>

    <div class="col-md-12">
      <div class="list-group list-group-flush">
         <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Estadistica</strong></div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="">
        <a href="<%= medical_results_path %>" class="sidebar-btn <% if params[:controller] == 'medical_results' && params[:action] == 'index' %>active<% end %>">
          <i class="mr-2 material-icons">apps</i>
          Cumplimiento
        </a>
      </div>

      <div class="">
        <a href="<%= distribution_medical_results_path %>" class="sidebar-btn <% if params[:controller] == 'medical_results' && params[:action] == 'distribution' %>active<% end %>">
          <i class="mr-2 material-icons">apps</i>
          Distribución Trabajadores
        </a>
      </div>

      <div class="">
        <a href="<%= diseases_medical_results_path %>" class="sidebar-btn <% if params[:controller] == 'medical_results' && params[:action] == 'diseases' %>active<% end %>">
          <i class="mr-2 material-icons">apps</i>
          Enfermedades
        </a>
      </div>

    </div>


  
  <% end %>

</div>

<script type="text/javascript">
  
  $("#health_cycle_complete").change(function() {
    $("#save_health_cycle").click();
  });

</script>