<div class="row">
	<div class="col-md-12">
  	<div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Nómina</strong></div>
    </div>
  </div>

  <div class="col-md-12">
  	<div class="">
  		<a href="<%= patients_path %>" class="sidebar-btn <% if params[:controller] == "patients" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Trabajadores
  		</a>
  		<a href="<%= positions_path %>" class="sidebar-btn <% if params[:controller] == "positions" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Puestos de Trabajo
  		</a>
  		<a href="<%= medical_profiles_path %>" class="sidebar-btn <% if params[:controller] == "medical_profiles" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Perfiles Médicos
  		</a>
  	</div>
  </div>

  <div class="col-md-12">
    <div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Organismos Paritarios</strong></div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="">
      <a href="<%= commissions_path %>" class="sidebar-btn <% if params[:controller] == "commissions" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        COPASST/SCOPASST
      </a>
    </div>
  </div>


  <div class="col-md-12">
  	<div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Normativa</strong></div>
    </div>
  </div>

  <div class="col-md-12">
  	<a href="/normativa_sso_ec/informe_ciuo_2012.pdf" class="media align-items-center text-underline-0" target="_blank">
      <span class="avatar avatar-xs mr-1">
          <span class="avatar-title rounded-circle">
              <i class="material-icons">attach_file</i>
          </span>
      </span>
      <span class="media-body" style="line-height: 1.5">
          <span class="text-primary">informe_ciuo_2012.pdf</span><br>
          <span class="text-muted">4 MB</span>
      </span>
    </a>
  </div>
</div>