<div class="row">
	<div class="col-md-12">
  	<div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Salud</strong></div>
    </div>
  </div>

  <div class="col-md-12">
  	<div class="">
  		<a href="<%= companies_path %>" class="sidebar-btn <% if params[:controller] == "companies" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Asentismo
  		</a>

      <a href="<%= work_centers_path %>" class="sidebar-btn <% if params[:controller] == "work_centers" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Diagnosticos
      </a>

      <a href="<%= work_centers_path %>" class="sidebar-btn <% if params[:controller] == "work_centers" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Enfermedades
      </a>

      
  	</div>
  </div>

  <div class="col-md-12">
    <div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Seguridad</strong></div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="">
      <a href="<%= companies_path %>" class="sidebar-btn <% if params[:controller] == "companies" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Accidentes
      </a>

      <a href="<%= work_centers_path %>" class="sidebar-btn <% if params[:controller] == "work_centers" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Reactivos
      </a>

      <a href="<%= areas_path %>" class="sidebar-btn <% if params[:controller] == "areas" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Asentismo por Genero
      </a>

      <a href="<%= company_processes_path %>" class="sidebar-btn <% if params[:controller] == "company_processes" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Asentismo por Area
      </a>
      
    </div>
  </div>




</div>