<div class="row">
	<div class="col-md-12">
  	<div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Menús</strong></div>
    </div>
  </div>

  <div class="col-md-12">
  	<div class="">
  		<a href="<%= companies_path %>" class="sidebar-btn <% if params[:controller] == "companies" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Empresas
  		</a>

      <a href="<%= work_centers_path %>" class="sidebar-btn <% if params[:controller] == "work_centers" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Centros de Trabajo
      </a>

  		<a href="<%= areas_path %>" class="sidebar-btn <% if params[:controller] == "areas" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Áreas (Organigrama)
  		</a>

      <a href="<%= company_processes_path %>" class="sidebar-btn <% if params[:controller] == "company_processes" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Procesos
      </a>

      
  	</div>
  </div>
</div>