<div class="row">
	<div class="col-md-12">
  	<div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0">
       	<strong>Planificar (P)</strong>
       	<div class="ml-auto">(1)</div>
       </div>
    </div>
  </div>
  <div class="col-md-12">
  	<div class="">
  		<a href="<%= risk_evaluations_path %>" class="sidebar-btn <% if params[:controller] == "risk_evaluations" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Evaluación de riesgos
  		</a>
  	</div>
  </div>
  <div class="col-md-12">
  	<div class="">
  		<a href="<%= risks_path %>" class="sidebar-btn <% if params[:controller] == "risks" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Riesgos laborables
  		</a>
  	</div>
  </div>
  <div class="col-md-12">
  	<div class="">
  		<a href="<%= risk_categories_path %>" class="sidebar-btn <% if params[:controller] == "risk_categories" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Factores de riesgo
  		</a>
  	</div>
  </div>

  <div class="col-md-12">
    <div class="">
      <a href="<%= projects_path %>" class="sidebar-btn <% if params[:controller] == "projects" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Planes de acción
      </a>
    </div>
  </div>

  <div class="col-md-12">
  	<div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0">
       	<strong>Hacer (H)</strong>
       	<div class="ml-auto">(2)</div>
       </div>
    </div>
  </div>

  <div class="col-md-12">
  	<div class="">
  		<a href="<%= personal_protections_path %>" class="sidebar-btn <% if params[:controller] == "personal_protections" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Inventario EPP
  		</a>
  	</div>
  </div>

  <div class="col-md-12">
    <div class="">
      <a href="<%= personal_protection_entries_path %>" class="sidebar-btn <% if params[:controller] == "personal_protection_entries" %>active<% end %>">
        <i class="mr-2 material-icons">apps</i>
        Acta Entregas EPP
      </a>
    </div>
  </div>

  <div class="col-md-12">
  	<div class="">
  		<a href="<%= risk_evaluations_path %>" class="sidebar-btn <% if params[:controller] == "/plans" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Inspecciones de Seguridad
  		</a>
  	</div>
  </div>

  <div class="col-md-12">
  	<div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0">
       	<strong>Verificar (V)</strong>
       	<div class="ml-auto">(3)</div>
       </div>
    </div>
  </div>

  <div class="col-md-12">
  	<div class="">
  		<a href="<%= risk_evaluations_path %>" class="sidebar-btn <% if params[:controller] == "/plans" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Auditoria
  		</a>
  	</div>
  </div>

  <div class="col-md-12">
  	<div class="">
  		<a href="<%= risk_evaluations_path %>" class="sidebar-btn <% if params[:controller] == "/plans" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Indicadores
  		</a>
  	</div>
  </div>

  <div class="col-md-12">
  	<div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0">
       	<strong>Actuar (A)</strong>
       	<div class="ml-auto">(4)</div>
       </div>
    </div>
  </div>

  <div class="col-md-12">
  	<div class="">
  		<a href="<%= risk_evaluations_path %>" class="sidebar-btn <% if params[:controller] == "/plans" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Reportar Accidente/Incidente
  		</a>
  	</div>
  </div>

  <div class="col-md-12">
  	<div class="">
  		<a href="<%= risk_evaluations_path %>" class="sidebar-btn <% if params[:controller] == "/plans" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Estadisticas
  		</a>
  	</div>
  </div>

</div>