<div class="row">
	<div class="col-md-12">
  	<div class="list-group list-group-flush">
       <div class="list-group-item bg-transparent d-flex align-items-center px-0"><strong>Menús</strong></div>
    </div>
  </div>
  <div class="col-md-12">
  	<div class="">
  		<a href="<%= users_path %>" class="sidebar-btn <% if params[:controller] == "users" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Usuarios
  		</a>
  		<!-- <a href="<%= areas_path %>" class="sidebar-btn <% if params[:controller] == "areas" %>active<% end %>">
  			<i class="mr-2 material-icons">apps</i>
      	Áreas (Organigrama)
  		</a> -->
  	</div>
  </div>
</div>