<%= simple_form_for(@risk_evaluation, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <div class="modal-body">
    <div class="row">
      <%= f.input :company_id, :as => :hidden, :value => @company.id %>
      <%= f.input :created_by_id, :as => :hidden, :value => current_user.id %>
      <!-- <div class="col-md-12">
        <p><strong class="headings-color">Datos de Organización</strong></p>
      </div> -->

      <!-- <div class="col-md-12">
        <%= f.input :name %>    
      </div> -->

      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center mb-2">
            <i class="material-icons mr-1">business</i>
            <div class="text-body"><strong><%= @company.name %></strong></div>
        </div>
      </div>

      <div class="col-md-6">  
        <%= f.input :evaluation_type_id, collection: @type_evaluation, prompt: "Seleccione opción", input_html: {class: 'select_2'} %> 
      </div>

      <div class="col-md-3">
        <%= f.input :date, as: :string , input_html: {class: 'date-selector'} %>    
      </div>

      <div class="col-md-3">
        <%= f.input :members %>    
      </div>

      <div class="col-md-6">
        <%= f.input :owner_id, collection: @patients, label_method: lambda { |p| "#{p.full_name_ci}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-6">  
        <%= f.input :position_id, collection: @positions, label_method: lambda { |p| "#{p.code} - #{p.name}"}, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>

      <div class="col-md-6">
        <%= f.input :process_id, collection: @processes, prompt: "Seleccione opción", input_html: {class: 'select_2'} %> 
      </div>

      <div class="col-md-12">
        <%= f.input :activity_id, collection: @activities, prompt: "Seleccione opción", input_html: {class: 'select_2'} %> 
      </div>

      <!-- <div class="col-md-12">
        <%= f.input :description %>    
      </div> -->
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p><strong class="headings-color">Identificación de Riesgos</strong></p>
      </div>

      <div class="col-md-12">
        <%= f.input :risk_ids, collection: RiskCategory.all, as: :grouped_select, group_method: :risks, label: false, input_html: {id: 'risks_select', multiple: true} %> 
        
        <a href='#' id='select-all'>Selecionar todos</a> | 
        <a href='#' id='deselect-all'>Remover todos</a>
      </div>
      <%= f.input :company_id, :as => :hidden%>
    </div>
  </div>
    
  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap",
    dropdownParent: $('#modal .modal-body')
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });

  


  // $("#risks_select").multiSelect({ selectableOptgroup: true });

  $("#risks_select").multiSelect({ 
    selectableOptgroup: true ,
    selectableHeader: "<input type='text' class='form-control search-input mb-2' autocomplete='off' placeholder='Buscar riesgo'>",
    selectionHeader: "<input type='text' class='form-control search-input mb-2' autocomplete='off' placeholder='Buscar riesgo'>",
    afterInit: function(ms){
      var that = this,
          $selectableSearch = that.$selectableUl.prev(),
          $selectionSearch = that.$selectionUl.prev(),
          selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
          selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

      that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
      .on('keydown', function(e){
        if (e.which === 40){
          that.$selectableUl.focus();
          return false;
        }
      });

      that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
      .on('keydown', function(e){
        if (e.which == 40){
          that.$selectionUl.focus();
          return false;
        }
      });
    },
    afterSelect: function(){
      this.qs1.cache();
      this.qs2.cache();
    },
    afterDeselect: function(){
      this.qs1.cache();
      this.qs2.cache();
    }
  });

  




  $('#select-all').click(function(){
    $('#risks_select').multiSelect('select_all');
    return false;
  });
  $('#deselect-all').click(function(){
    $('#risks_select').multiSelect('deselect_all');
    return false;
  });
</script>
