<div class="control-page">
  <div class="controls-list">
      <%= link_to risk_evaluations_path, :class => "ml-3 float-l" do %>
        <i class="material-icons">arrow_back</i>
        Regresar a Lista
      <% end %>

      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">print</i>
        Imprimir
      <% end %>
      <%= link_to risk_evaluation_path, :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">close</i>
        Teminar Evaluación
      <% end %>
      
  </div>
</div>

<div class="container-fluid page__container pt-4">
  <div class="row">
    <input type="hidden" name="evaluation_id" id="evaluation_id" value="<%= @risk_evaluation.id%>">
    <input type="hidden" name="category_id" id="category_id" value="<%= @risk_categories.first.id %>">
    <input type="hidden" name="val_id" id="val_id" value="Todos">
    <div class="col-md-12">
      <div class="card card-form">
        <div class="card-header card-header-small bg-white">
          <h4 class=" card-header__title"><div class="text-label" style="margin-bottom: 0">Riesgos Identificados</div></h4>
        </div>

        <div class="card-form__body card-body">
          <div class="row">
            <div class="col-md-6">
              <strong class="text-body">NOMBRE DE LA EMPRESA</strong><br>
              <%= @risk_evaluation.company.name %>
            </div>

            <div class="col-md-6">
              <strong class="text-body">PROCESO</strong><br>
              <%= @risk_evaluation.process.name %>
            </div>
            <div class="col-md-6">
              <strong class="text-body">PUESTO DE TRABAJO</strong><br>
              <%= @risk_evaluation.position.name %>
            </div>

            <div class="col-md-6">
              <strong class="text-body"> FECHA DE EVALUACIÓN</strong><br>
              <%= @risk_evaluation.date.strftime(@date_format) %>
            </div>
            <% if @risk_evaluation.description.present? %>
              <div class="col-md-12">
                <strong class="text-body"> DESCRIPCIÓN</strong><br>
                <%= @risk_evaluation.description %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-small bg-white">
          <h4 class=" card-header__title"><div class="text-label" style="margin-bottom: 0">Riesgos Identificados</div></h4>
        </div>
        <div class="card-body">
          <strong class="text-body">TIPO DE RIESGO</strong><br>
          <div class="button-list" style="margin-top: 10px;">
            <% @risk_categories.each do |cat| %>
              <% if @risk_categories.first.id == cat.id %>
                <button disabled cat-id="<%= cat.id %>" type="button" class="btn cat-filter" style="background-color: <%= cat.color %>; color: #fff;"><%= cat.name %></button>
              <% else %>
                <button cat-id="<%= cat.id %>" type="button" class="btn cat-filter" style="background-color: <%= cat.color %>; color: #fff;"><%= cat.name %></button>
              <% end %>                  
            <% end  %>
          </div>
          
          <strong class="text-body">NIVEL DE RIESGO</strong><br>
          <div class="button-list" style="margin-top: 10px;">
            <button disabled val-text="Todos" type="button" class="btn val-filter" style="background-color: #364C66;; color: #fff;">Todos</button>
            <button val-text="Bajo" type="button" class="btn val-filter" style="background-color: #48BA16;; color: #fff;">Bajo</button>
            <button val-text="Medio" type="button" class="btn val-filter" style="background-color: #ffc107; color: #fff;">Medio</button>
            <button val-text="Alto" type="button" class="btn val-filter" style="background-color: #f3a23e; color: #fff;">Alto</button>
            <button val-text="Crítico" type="button" class="btn val-filter" style="background-color: #dc3545; color: #fff;">Crítico</button>
          </div>

          <table id="<%= @risk_evaluation.evaluation_type_id.to_i == 1 ? 'risks_details_1' : 'risks_details_2' %>" class="display table table-striped table-bordered table-responsive border-bottom" style="width: 100%"></table>

        </div>

        <button id="reload_risks" style="display: none;" type="submit">Submit form</button>
          
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(".cat-filter").click(function() {
    var cat_id = $(this).attr("cat-id");
    $(".cat-filter").removeAttr("disabled");
    $(this).attr("disabled", "disabled");
    $("#category_id").val(cat_id);
    $("#reload_risks").click();
  });

  $(".val-filter").click(function() {
    var val_text = $(this).attr("val-text");
    $(".val-filter").removeAttr("disabled");
    $(this).attr("disabled", "disabled");
    $("#val_id").val(val_text);
    $("#reload_risks").click();
  });
</script>
          
