<%= simple_form_for(@medical_profile, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <%= form.input :name %>
      </div>

      <div class="col-md-12">
        <%= form.input :code %>
      </div>

      <div class="col-md-12">
        <%= form.input :company_id, collection: @companies, prompt: "Seleccione opción", input_html: {class: 'select_2'} %>
      </div>
      
    </div>

     <div class="row">
      <div class="col-md-12">
        <div class="card-header card-header-tabs-basic nav" role="tablist">
          <a href="#activity_all" class="active" data-toggle="tab" role="tab" aria-controls="activity_all" aria-selected="true">Exámenes asignados</a>
          <a href="#activity_quotes" data-toggle="tab" role="tab" aria-controls="activity_quotes" aria-selected="true" class="">Administación</a>
        </div>
        <div class="list-group tab-content list-group-flush">
          <div class="tab-pane fade active show" id="activity_all">
            <div class="row">
              <div class="col-md-12">

                <%- select_opts = options_from_collection_for_select(@exams, 'id', 'full_name', @medical_profile.exam_ids) %>
                <%= form.select :exam_ids, select_opts, {}, { multiple: true, :'data-placeholder' => "Selecionar exámenes...", :class => 'select_2' } %>

                <br/>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="activity_quotes">
            <%= form.input :active %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <div class="actions">
      <%= form.submit "Enviar", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('select.select_2').select2({
    language: {
      noResults: function () {
        return "No se encontró resultados";
      }
    },
    placeholder: function(){
      $(this).data('placeholder');
    },
    containerCssClass: ':all:',
    theme: "bootstrap"
  });

  $(".date-selector").flatpickr({
    enableTime: false,
    dateFormat: "Y-m-d",
  });

</script>