<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medical_profile.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @medical_profile.code %>
</p>

<p>
  <strong>Active:</strong>
  <%= @medical_profile.active %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medical_profile.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @medical_profile.company_id %>
</p>

<%= link_to 'Edit', edit_medical_profile_path(@medical_profile) %> |
<%= link_to 'Back', medical_profiles_path %>
