<div class="control-page">
  <div class="controls-list">
      <%= link_to "#", :class => "ml-3", data: { modal: true } do %>
        <i class="material-icons">compare_arrows</i>
        Imprimir
      <% end %>
  </div>
</div>
<div class="container-fluid page__container pt-4">
  <div class="row">

    <!--  -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Ausentismo por Control Médico (%)</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled list-skills">
            <% @medical_types_data.each_with_index do |type_data, index| %>
              <li>
                <div><%= "#{index + 1}. " %><%= type_data[0] %></div>
                <div class="flex">
                  <% type_data[1].each do |record| %>
                    <%= record[:type_record] %>
                    <%= record[:lost_hours] %>
                    <br/>
                  <% end %>
                </div>
                <div class="text-dark-gray">
                  <strong>
                    
                  </strong>
                </div>
                
              </li>
              <hr/>
            <% end %>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Cumplimiento por Centro de Trabajo (Barras)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'wc_cycle_bar', context_params: { year: "2020" } %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Cumplimiento por Area (Barras)</h4>
        </div>
        <div class="card-body">
          <%= render_report 'areas_cycle_bar', context_params: { year: "2020" }  %>
        </div>
      </div>
    </div>

  </div>
</div>