<div class="control-page">
  <div class="controls-list">
      
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card  mb-5">

        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Informes de Evaluaciones</h4>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-md-4">
              <div class="simplebar-content" style="padding: 0px; height: 65vh; overflow: hidden; border: 1px solid rgba(0, 0, 0, 0.125)">

                <div class="list-group list-group-flush" style="position: relative; z-index: 0;">
                  <% @medical_records.each do |patient| %>
                    <div class="d-flex p-3" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125)">
                      <div class="mr-1 d-flex flex-column align-items-center">
                          <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons" style="color: #112b4a;">person</i>
                      </div>
                      <div class="flex">
                        <p class="m-0">
                          <span class="d-flex align-items-center mb-1 links-card">
                            <a href="<%= patient_path(patient[0].id) %>" data-modal="true">
                              <strong style="color: #112b4a !important;"><%= patient[0].full_name_ci %></strong>
                            </a>
                              <!-- <small class="ml-auto text-muted">Today</small> -->
                          </span>

                          <% patient[1].each do |medical_record| %>
                            <span class="d-flex align-items-end pt-2">
                              <span class="flex links-card">
                                <a href="#" onclick="load_pdf('<%= medical_record.pdf_demo %>#view=FitH'); return false;">
                                  <i class="material-icons icon-16pt">attachment</i>
                                  <strong class="text-body mb-1" style="color: grey !important;">
                                    <%= "#{medical_record.record_name}" %>
                                  </strong>
                                </a>
                                <small class="text-muted" style="max-height: 2.5rem; float: right;"><%= medical_record.date.strftime(@date_format) %></small>
                              </span>
                            </span>
                          <% end %>  
                        </p>
                      </div>
                    </div>   
                  <% end %>
                </div>
              </div>

            </div>

            <div class="col-md-8">

              

              <div id="pdf_object" style="height: 65vh; background-color: #f8f9fc; text-align: center; border: 1px solid #e3e6f0; overflow: hidden; border-radius: 3px;">
                <img src="/images/pdf-preview.png" style="width: 20%; top: 25vh; position: relative; opacity: 0.3;">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function load_pdf(url){
    $("#pdf_object").html("<iframe style='width: 100%; height: 100%' src="+ url +"> </iframe>")
  }
</script>
