html,
body {
  height: 100%;
  position: relative;
}
.mdk-header-layout,
.mdk-drawer-layout,
.mdk-drawer-layout__content {
  height: initial;
  min-height: 100%;  
  height: calc(100vh - 129px);
  padding-bottom: 0px !important;
  
  // background-image: url("/images/background_vector.png");

  // background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("/images/background_vector.png");

  
  .mdk-drawer-layout__content.page{
    // overflow: scroll;
    // height: inherit;
  }

  .container-fluid.page__container{
    overflow-y: scroll;
    height: inherit;
    padding-bottom: 45px;
  }
}
.mdk-header-layout__content{
  padding-top: 128px;
}
.page {
  padding-bottom: $grid-gutter-width;
}

.page__container,
.page__heading-container {
  .layout-default &,
  .layout-fluid & {
    @include media-breakpoint-up(xl) {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }
  }
  .layout-fluid & {
    max-width: 1300px;
  }
  .layout-default & {
    max-width: 1300px;
    padding-top: 10px;
  }
}

.page__heading {
  h1 {line-height: 1;}
  padding-top: $grid-gutter-width /2;
  padding-bottom: $grid-gutter-width/2;
  @include media-breakpoint-up(xl) {
    &:not(.page__heading--xl_small) {
      // padding-top: $grid-gutter-width;
      // padding-bottom: $grid-gutter-width;
      padding-top: 0;
      padding-bottom: 10px;
      
    }
  }
}
.layout-default, .layout-fixed, .layout-mini
  {
    .page__heading {
      border-bottom:1px solid $border-color;
      margin-bottom: $grid-gutter-width/2;
      @include media-breakpoint-up(xl) {
        &:not(.page__heading--xl_small) {
          margin-bottom: $grid-gutter-width;
        }
      }
    }
}

.page__header {
  background: white;
  box-shadow: 0 5px 15px 0 rgba(227,227,227,0.50);
  margin-bottom: $grid-gutter-width/2;
  @include media-breakpoint-up(xl) {
    margin-bottom: $grid-gutter-width;
  }
  z-index: 3;
  & + .page__header {
    z-index: 2;
  }
  position: relative;
}

// sticky subnav

.layout-sticky-subnav {
  .mdk-header-layout {
    overflow: initial;
  }
  .page__header {
    &-nav {
      position: sticky;
      top: $navbar-height;
      z-index: 1;
    }
    &:first-child {
      margin-bottom: 0;
      box-shadow: none;
    }
  }
  .page__container {
    z-index: 0;
    position: relative;
  }
}

.mdk-header--shadow::after {
  box-shadow: 0 5px 15px 0 rgba(227,227,227,0.50);
  bottom: 0;
  height: $navbar-height;
}

.projects-item {
  margin-bottom: 0 !important;
  padding-bottom: .4375rem;
  border-left: 1px dotted rgba(55, 77, 103, 0.2);
  margin-left: 10px;
}

.bottom-spacing {
  margin-bottom: $grid-gutter-width / 2;
  
  @include media-breakpoint-up(lg) {
    margin-bottom: $grid-gutter-width;
  }
}
.welcome-box{
  .welcome-title{
    text-align:center;
  }
  .welcome-subtitle{
    text-align:center;

  }
}
.footer-login{
  position: absolute;
  bottom: 0;
  color: #F2F2F2;
  text-align: left;
  border-top: 1px solid #F2F2F2;
  width: 100%;
  padding: 2px 10px;
  font-size: 14px;
  // background-color: #055DA4;
}

.material-icon-border{
  vertical-align: middle;
  border: 1px solid rgba(55, 77, 103, 0.3);
  border-radius: 5px;
  padding: 5px;
  font-size: 32px;

}

.text-grey{
  color: grey;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.search-form{
  .form-control{
    background-color: transparent;
    border-color: transparent;
  }
}
.loader-container{
  background-color: #F7F8F9;
  width: 100%;
  height: 100%;
  position: relative;
  .loader{
    top: calc(50% - 2rem / 2);
    left: calc(50% - 2rem / 2);
    position: absolute;
  }
}
.control-page{
  border-bottom: 1px solid rgba($dark-gray, .5);  
  height: 30px;
  width: 100%;
  background-color: #F7F8F9;
  z-index: 10;
  .controls-list{
    padding: 5px;
    padding-right: 20px;
    text-align: right;
    a{
      font-size: 14px;
      color: #333;
      &:hover{
        text-decoration: none;
        color: grey;
      }
      i{
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
// .alert{
//   margin-left: 30px;
//   margin-right: 30px;
// }

.links-card{
  a:hover{
    text-decoration: none;
    color: grey;
    i.text-muted{
      color: grey;
    }
  }
}

.card-body {
  padding: 1rem;
}


.modal-xl-perentage{
  max-width: 80%;
}

.modal-header, .modal-footer {
  padding: 0.75rem 1.25rem;  
}

.company-label{
  color: #364C66;
  background-color: rgba(54, 76, 102, 0.05);
  border: 1px solid #c7cdd4;
  border-radius: 0.25rem;
  padding: 4px 5px;
}
.standar-label{
  color: #364C66;
  font-size: 14px;
  background-color: rgba(54, 76, 102, 0.05);
  border: 1px solid #c7cdd4;
  border-radius: 0.25rem;
  padding: 4px 6px;
}
.tab-content > .tab-pane {
  padding-bottom: 10px;
}
.media{
  font-size: 14px;
  // border-color: $white_color_1;
}
.alert-soft-primary {
  color: #308AF3;
  background-color: rgba(48, 138, 243, 0.05);
  border-color: #c5defc;
}
.float-l{
  float: left;
}
.btn-outline-primary{
  color: #4a90e2;
  border-color: #4a90e2;
  &:hover{
    background-color: #4a90e2;
    border-color: #4a90e2;
  }
}
.btn-outline-secondary{
  color: grey;
  border-color: grey;
  &:hover{
    background-color: grey;
    border-color: grey;
  }
}
.card-a4{
  width: 21cm;
  padding: 10px !important;
  height: calc(29.7cm - 39px);
  margin: 0 auto; 
  font-family: sans-serif;
}
.card-header-a4{
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0;
  .header-col-a4{
    border-right: 1px solid #333;
  }
}

.badge-soft-primary {
  color: #187cf2;
  background-color: rgba(48, 138, 243, 0.1);
}

.badge-soft-success {
  color: #3fa313;
  background-color: rgba(72, 186, 22, 0.1);
}

.badge-soft-danger {
  color: #d32535;
  background-color: rgba(220, 53, 69, 0.1);
}

.reports_kit_report{
  display: inline-block !important;
  .reports_kit_visualization{
    height: auto;
    max-height: 200px;
  }
  .reports_kit_actions{
    display: none;
  }
}
.chart-auto-size{
  .reports_kit_visualization{
    max-height: inherit !important;
  }
}
.modal-content{
  border: 0;
}
.select-check{
  background: #eeeeee;
  padding: 2px 5px;
  display: block;
  min-height: 45px;
  vertical-align: middle;
}
.list-skills {
  li {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    > div + div {
      padding-left: 1rem;
    }
    > div:first-child {
      width: 110px;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.border-right-3 {
  border-right: 3px solid #efefef !important;
}

.border-right-primary {
  border-right-color: #308AF3 !important;
}

