.layout-login-centered-boxed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/background_login.jpg");
  background-size: cover;
  background-position: center;
 .layout-login-centered-boxed__form {
	  padding: 2rem;
	  position: relative;
	  max-width: 26rem;
	  margin: 2rem 0;
	}
}
