.navbar-dark {
  &.bg-dark [class*="border-"] {
    border-color: rgba(0,0,0,.34) !important;
  }
  
  &[class*=primary] [class*="border-"] {
    border-color: rgba(white,.24) !important;
  }

  .search-form {
    border-color: transparent;
    .form-control {
      color: $white_color_1;
    }
  }

  &.bg-dark .search-form {
    background-color: rgba(0,0,0,.24);
    .form-control::placeholder {
      color: $white_color_1;
      font-weight: 500;
      
    }
    .btn {
      color: $white_color_1;
    }
  }

  &[class*=primary] .search-form {
    background-color: rgba(0,0,0,.12);
    .form-control::placeholder {
      color: $white_color_1;
    }
    .btn {
      color: $white_color_1;
    }
  }

  .navbar-toggler-custom {
    background-color: rgba(black, .24);
    .material-icons {
      color: white;
    }
  }
  .nav-icon,
  .navbar-notifications-indicator {
    color: white;
  }
}