@import 'sidebar-style-guide/sass/style';

.sidebar {
  height: 100%;
  text-align: initial;
  &:not([data-simplebar]) {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .simplebar-content {
    height: 100%;
    overflow-x: hidden !important;
  }
}

[data-simplebar-force-enabled="true"] .simplebar-content::-webkit-scrollbar { 
  display: none;
}

.sidebar-heading {
  margin-bottom: $sidebar-spacing-y/2;
}

.sidebar-menu + .sidebar-heading {
  margin-top: 1.625rem;
}
.sidebar-heading + .sidebar-heading {
  margin-top: 2.25rem;
}
.sidebar-heading:first-child {
  margin-top: 1.25rem;
}

.sidebar-menu-item.active {
  &:not(.open) {
    border-right: 2px solid $primary;
  }
}
.sidebar-submenu > .sidebar-menu-item:last-child {
  margin-bottom: 1rem;
}

.sidebar-submenu .sidebar-menu-text {
  padding-left: 1rem;
  margin-left: .75rem;
}

.sidebar .progress {
  height: 7px;
}

.sidebar-light .sidebar-submenu {
  &.show{
    display: block;
  }
  .sidebar-menu-text {
    border-left: 1px dotted rgba($dark-gray, .24);
  }
}

.sidebar-dark .sidebar-submenu {
  .sidebar-menu-text {
    border-left: 1px dotted rgba($dark-gray, .24);
  }
}

.sidebar-menu-toggle-icon {
  font-weight: normal;
}

.topbar {

  /////////////
  // general //
  /////////////
  width: 100%;
  color: $sidebar-light-text-color;
  background: $sidebar-light-bg;
  border-bottom: 1px solid rgba($dark-gray, .5);

  // borders
  @each $direction, $border-direction in (left: right, right: left) {
    &.sidebar-#{$direction} {
      border-#{$border-direction}-width: $sidebar-light-container-border-width;
      border-#{$border-direction}-style: solid;
      border-#{$border-direction}-color: $sidebar-light-container-border-color;
    }
  }

  // link
  .sidebar-link {
    color: $sidebar-light-link-color;
  }

  // borders
  [class*="sidebar-b-"] {
    border-color: $sidebar-light-border-color;
  }

  // text
  .sidebar-text, p {
    color: $sidebar-light-text-color;
  }

  // heading
  .sidebar-heading {
    &, & > a {
      color: $sidebar-light-heading-color;
    }
  }

  // divider
  hr {
    border-color: $sidebar-light-border-color;
  }

  // brand
  .sidebar-brand {
    color:  $sidebar-light-brand-color;
  }
  .sidebar-brand-bg {
    background: $sidebar-light-brand-bg;
  }
  .sidebar-brand-border {
    border-color: $sidebar-light-brand-border-color;
  }
  
  //////////
  // menu //
  //////////
  
  .sidebar-menu-text {
    color: grey;
  }
  .sidebar-menu-toggle-icon {
    color: $sm-light-toggle-color;
  }
  .sidebar-menu-icon {
    color: $sm-light-icon-color;
  }
  .sidebar-menu-label {
    background: $sidebar-light-label-bg;
    color: $sidebar-light-label-color;
  }
  .nav-link:hover {
    color: $sm-light-hover-button-color;
    background: $sm-light-hover-button-bg;
    .sidebar-menu-icon {
      color: $sm-light-hover-icon-color;
    }
    .sidebar-menu-text {
      color: #333; 
    }
    .sidebar-menu-toggle-icon {
      color: $sm-light-hover-icon-color;
    }
  }
  .open {
    background: $sm-light-open-bg;
  }
  .open > .sidebar-menu-text .sidebar-menu-toggle-icon {
    color: $sm-light-open-toggle-color;
  }
  .open > .sidebar-menu-text {
    background: $sm-light-open-button-bg;
    color: $sm-light-open-button-color;
    .sidebar-menu-icon {
      color: $sm-light-open-icon-color;
    }
  }
  .active{
    .sidebar-menu-text {
      color: #333;      
    }
    .sidebar-menu-icon {
      color: $sm-light-hover-icon-color;
    } 
  }
  .sidebar-submenu {
    .sidebar-menu-text {
      color: $ssm-light-button-color;
    }
    .sidebar-menu-icon {
      color: $ssm-light-icon-color;
    }
    .sidebar-menu-text:hover {
      color: $ssm-light-hover-button-color;
      .sidebar-menu-icon {
        color: $ssm-light-hover-icon-color;
      }
    }
    .active > .sidebar-menu-text {
      color: $ssm-light-active-button-color;
      .sidebar-menu-icon {
        color: $ssm-light-active-icon-color;
      }
    }
  }

  ///////////
  // utils //
  ///////////
  
  // bordered menu
  .sm-bordered {
    border-color: $sidebar-light-border-color;
  }
  // bordered submenu
  .sm-bordered.sidebar-submenu {
    border-color: $sidebar-light-border-color;
  }
  // bordered menu item
  .sm-item-bordered > .sidebar-menu-item {
    border-color: $sm-light-item-border-color;
  }
  // bordered submenu item
  .sm-item-bordered.sidebar-submenu > .sidebar-menu-item {
    border-color: $ssm-light-item-border-color;
  }
  // icons block
  .sm-icons-block > .sidebar-menu-item {
    > .sidebar-menu-text .sidebar-menu-icon {
      background: $sm-light-icon-bg;
      color: $sm-light-iconsblock-icon-color;
    }
    &.open > .sidebar-menu-text .sidebar-menu-icon {
      color: $sm-light-open-icon-color;
      background: $sm-light-open-icon-bg;
    }
    &.active > .sidebar-menu-text .sidebar-menu-icon {
      background: $sm-light-active-iconsblock-icon-bg;
      color: $sm-light-activebuttonbg-icon-color;
    }
  }

  // active button background
  .sm-active-button-bg > .active > .sidebar-menu-text {
    background: $sm-light-active-button-bg;
    color: $sm-light-activebuttonbg-button-color;
    .sidebar-menu-icon {
      color: $sm-light-activebuttonbg-icon-color;
    }
    .sidebar-menu-toggle-icon {
      color: $sm-light-activebuttonbg-icon-color;
    }
  }
  // icons block + active button bg
  .sm-icons-block.sm-active-button-bg > .active > .sidebar-menu-text .sidebar-menu-icon {
    background: $sm-light-active-iconsblock-activebuttonbg-icon-bg;
  }
}

.sidebar-rigth-app{
  width: 15px;
  left: 0;
  bottom: 0;
  top: 0;
  background: #ffffff;
  border-right: 1px solid rgba($dark-gray, .5);
  transition: width 0.3s ease;
  &.extend{
    width: 260px;
  }
  .sidebar-toggle{
    width: 15px;
    right: 0;
    bottom: 0;
    top: 0;
    border-left: 1px solid rgba(147, 159, 173, 0.5);
    height: 100%;
    float: right;
    font-size: 12px;
    text-align: center;
    button{
      text-decoration: none;
      background: no-repeat;
      padding: 0;
      border: 0;
      cursor: pointer;
      top: 5px;
      position: relative;
      &:focus{
        outline: none;
      }
    }
  }
  .sidebar-btn{
    padding: 0.25rem 0rem;
    color: white;
    margin-bottom: 0.5rem;
    display: flex;
    border-radius: 0.25rem;
    color: grey;
    text-decoration: none;
    &.active{
      color: #4a90e2;
    }
  }
  
}

