.dataTables_wrapper {
  .dataTable {
    border-collapse: collapse;
    &.dataTable {
      td {
        color: grey;
      }
    }

    thead {
      border-bottom: 3px solid #efefef;
      tr {
        background-color: #F7F8F9;
        color: grey;

        th {
          border-width: 0px;
        }
      }

      .sorting,
      .sorting_asc,
      .sorting_desc,
      .sorting_asc_disabled,
      .sorting_desc_disabled {
         background-position: center left;
      }

    }

    tbody th,
    tbody td {
      padding: 3px 10px 3px 16px;
      // padding: 8px 10px 8px 18px;
    }
    
    tr.shown td.details-control {
      background: url('/images/up.png') no-repeat center center;
    }

    tr {
      td.character-column {
        text-align: right;
        vertical-align: top;
      }

      td.season-column,
      td.episode-column {
        text-align: center;
        vertical-align: top;
      }
      td.details-control {
        background: url('/images/down.png') no-repeat center center;
        cursor: pointer;
      }
      
    }
  }
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
  color: grey;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: calc(50% - 2rem / 2);
  left: calc(50% - 2rem / 2);
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  -webkit-animation: 1s is-loading linear infinite;
  /* animation: 1s is-loading linear infinite; */
  border: 5px solid #112b4a;
  border-bottom-color: transparent;
  border-radius: 50%;
  background: transparent;
}



table.med-record{
  th {
    font-size: .825rem;
    color: rgba(55,77,103,0.54);
  }
  .header-table{
    background: #F7F8F9;
  }
  td{
    padding: 10px 5px;
  }
}
.text-aling-left{
  text-align: left;
}
.text-aling-center{
  text-align: center;
}
.dataTables_wrapper{
  input[type='search']{
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.875rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #DBDFE4;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

#dialog-form {
  border: 1px solid #ccc;
  padding: 20px;
}

.modal{
  .modal-header{
    
  }
  .modal-body{
    background: #f9f9f9;
  }  
}

.ui-widget {
  background: white;
}

.ui-widget-overlay {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.card-header-tabs-basic a {
  padding: .5rem .75rem;
  color: #fff;
  font-weight: 600;
}
.card-header-tabs-basic .active {
  color: #fff;
  border-bottom: 2px solid #308AF3;
}
.card-header-tabs-basic{
  background-color: #ECEEF0;
  color: grey;
  border: 1px solid #ccc;
  border-bottom: 0px;
  padding: 0;
  a{
    color: grey;
    &.active{
      color: #333;
    }
    &:hover{
      text-decoration: none;
    }
  }
}
.list-group.tab-content{
  border: 1px solid #ccc;
  padding: 15px 15px 0px 15px;
}

#patients_history_filter{
  width: 100%;
  label{
    width: 100%;
    text-align: left;
    input{
      width: 100%;
      margin: 0;
    }
  }
}

#patients_history_length{
  display: none;
}

.medical_record_form{
  .form-group {
    margin-bottom: 0px;
  }
}

.nested_title_card{
  font-size: .825rem;
  color: rgba(55, 77, 103, 0.54);
}

.avatar-circle {
  width: 32px;
  height: 32px;
  background-color: $secondary_color_1;
  border: 2px solid transparent;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.initials {
  position: relative;
  top: 5px; /* 25% of parent */
  font-size: 16px; /* 50% of parent */
  line-height: 16px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.medical_type_0{
  border-left: 3px solid #48BA16;
}
.medical_type_1{
  border-left: 3px solid #51A7C5;
}
.medical_type_2{
  border-left: 3px solid #ffc107;
}
.medical_type_3{
  border-left: 3px solid #dc3545;
}

#text_medical_type_id_0 p{
  border-bottom: 2px solid #48BA16;  
}

#text_medical_type_id_1 p{
  border-bottom: 2px solid #51A7C5;  
}

#text_medical_type_id_2 p{
  border-bottom: 2px solid #ffc107;  
}

#text_medical_type_id_3 p{
  border-bottom: 2px solid #dc3545;  
}

.label-medical_type{
  color: #fff;
  font-size: 14px;
  padding: 0px 5px;
  border-radius: 3px;
  font-weight: bolder;
  background-color: #4a90e2;
}

.background-color-0{
  background-color: #48BA16;  
}

.background-color-1{
  background-color: #51A7C5;  
}

.background-color-2{
  background-color: #ffc107;  
}

.background-color-3{
  background-color: #dc3545;  
}

.background-color-4{
  background-color: #59009a;  
}

.background-color-5{
  background-color: #dc7345;  
}


.show-sticky{
  display: none;
}
#sticky-header{
  position: fixed;
  
  &.fix-section{
    background-color: #fff;
    z-index: 1;
    right: 0;
    #to_sticky{
      padding: 0;
      .page__heading{
        padding: 10px;
      }
    }
    .show-sticky{
      display: block;
    }
  }
}
.form-check-inline{
  .collection_radio_buttons{
    margin-bottom: 0px;
  }
}

#medical_record_diagnostics{
  legend{
    display: none;
  }
}
.nav-link{
  .avatar-circle{
    display: inline-block;
  }
}

#risks_details{
  font-size: 12px;
  .riks-number{
    width: 30px;
  }
  .text-number{
    width: 30px !important; 
  }
}

#result-text, #result-text-row{
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: block;
}
#result.text-label{
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 20px;
  color: #4a90e2;
  &.val-0{
    background-color: #fffe9a;
    color: #333;
  }
  &.val-1{
    background-color: #fffe00;
    color: #333;
  }
  &.val-2{
    background-color: #ff5f60;
    color: #333;
  }
  &.val-3{
    background-color: #9a9a9a;
    color: #333;
  }
  &.val-4{
    background-color: #ff1d04;
    color: #333;
  }
}
#result-text.label-form{
  padding: 10px;
}
.gp-1{
  background-color: #48BA16;
}
.gp-2{
  background-color: #ffc107;
}
.gp-3{
  background-color: #f3a23e;
}
.gp-4{
  background-color: #dc3545;
}

.val-0{
  background-color: #fffe9a;
  color: #333 !important;
  border: 1px solid #55555547 !important;
}
.val-1{
  background-color: #fffe00;
  color: #333 !important;
  border: 1px solid #55555547 !important;
}
.val-2{
  background-color: #ff5f60;
  color: #333 !important;
  border: 1px solid #55555547 !important;
}
.val-3{
  background-color: #9a9a9a;
  color: #333 !important;
  border: 1px solid #55555547 !important;
}
.val-4{
  background-color: #ff1d04;
  color: #333 !important;
  border: 1px solid #55555547 !important;
}


.select2-search__field{
  width: 100% !important;
}
.remove-filter{
  color: #fff;
  font-size: 14px;
  margin-left: 5px;
  line-height: 15px;
  &:hover{
    color: #ccc;
    text-decoration: none;
  }
}

.calendar{
  margin-top: 20px;
  .fc-day-grid-event{
    cursor: pointer;
    color: #fff !important;
  }
  .fc-center{
    text-transform: capitalize;
  }
  &.lock{
    pointer-events: none;
    opacity: 0.5;
  }
}



.lds-spinner {
  color: #333;
  display: none;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 45%;
  right: 45%;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #00a5b9;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.dataTables_wrapper{
  .dataTables_paginate{
    .paginate_button{
      background: #ECEEF0 !important;
      color: grey !important;
      padding: 0.3em 0.5em;
      &:hover{
        background: #ECEEF0 !important;
        border-color: #4a90e2 !important;
        color: #333 !important;
      }
      &.current{
        border-color: #4a90e2 !important;
        color: #333 !important;
      }
    }  
  }
}

.simple-table thead th {
  font-size: .825rem;
  color: rgba(#374D67, .54);
  padding: 3px 6px;
}
.simple-table tbody td {
  vertical-align: middle;
  padding: 3px 6px;
  font-size: .825rem;
}
.simple-table .thead-border-top-0 thead th {
  border-top: 0;
}
.simple-table tbody .selected > td {
  background-color: rgba(#5897E0, .05);
}

.simple-table .sort {
  color: inherit;
  display: flex-inline;
  align-items: center;
  text-decoration: none;
  
  &::after {
    margin-left: .5rem;
    content: str-replace(url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z' fill='#{rgba(#374D67, .54)}'/></svg>"), "#", "%23");
  }

  &.asc,
  &.desc {
    color: $body-color;
    text-decoration: underline;
  }

  & + .sort {
    margin-left: 1rem;
  }
}


.simple-table a.rating-link {
 color: theme-color("light-gray");
 &:hover, &.active {
   color: theme-color("warning");
 }
}

.simple-table thead th {
  vertical-align: middle;
  .dropdown-toggle { 
    text-decoration: none;
    &:hover {
      color: $body-color;
    }
  }
}

.table-column-border{
  td{
    border: 1px solid #efefef !important;
  }
}

