// main 1 color: #055DA4
// main 2 color: #09558F
// secondary 1 color: #34A8F3
// secondary 2 color: #67BDF6
// white 1 color: #F2F2F2

#header {
  .mdk-drawer__content-1 {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0;
    .drawer-item {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
  .sidebar-menu {
    display: flex;
    margin: 0;
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sidebar-heading {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sidebar-heading:first-child,
  .sidebar-menu + .sidebar-heading {
    margin: 0;
    padding: 0;
  }
  .sidebar-menu-item.active:not(.open) {
    border-right: none;;
    border-bottom: 2px solid #308AF3;
  }
  .sidebar-submenu {
    display: block;
  }
  .sidebar-menu-button {
    line-height: normal;
  }
  #navbar {
    padding: 0;
    flex-wrap: wrap;
    background: $main_color_1 !important;
    .nav-link {
      color: #F2F2F2;
    }
  }
  
  .btn-search {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    padding: .5rem;
    margin-right: .5rem;
  }
}
.material-icons.btn {
  padding: 0;
  margin: 0;
}
.import-btn {
  width: 100%;
  margin-top: 1.65rem;
}
div.orgChart div.node {
  width: auto;
  max-width: 200px;
  word-wrap: normal;
  white-space: pre-wrap;
}
.medical_record_form {
  padding-top: 0 !important;
  #to_sticky-container {
    min-height: 75px;
    position: relative;
    width: 100%;
  }
  #to_sticky {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #F7F8F9;
  }
  .page__heading {
    margin-bottom: 0
  }
}
.evaluation_type_text {
  width: 100%;
  max-width: 550px;
  white-space: nowrap;
  overflow: hidden;
}
.evaluation_type_text_audit {
  width: 100%;
  max-width: 620px;
  white-space: nowrap;
  overflow: hidden;
}
.in_vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 85%;
}
#medical_record_employment_histories {
  .col-md-1, .col-md-2 {
    padding-left: 7px;
    padding-right: 7px;
  }
}
