<%= simple_form_for(@work_center, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <%= form.input :company_id, :as => :hidden %>

      <div class="col-md-6">
        <%= form.input :name %>
      </div>

      <div class="col-md-6">
        <label class="form-control-label select required" for="patient_company_id">Empresa <abbr title="required">*</abbr></label>
        <div class="company-label d-flex align-items-center">
            <i class="material-icons mr-1">business</i>
            <div class="text-body"><strong><%= @company.name %></strong></div>
        </div>
      </div>
      
      <div class="col-md-12">
        <%= form.input :description %>
      </div>

      <div class="col-md-12">
        <%= form.input :address %>
      </div>

      <div class="col-md-12">
        <%= form.input :active %>
      </div>
      
    </div>
  </div>
  <div class="modal-footer">
    <%= render '/shared/dialog_buttons' %>
  </div>
<% end %>

