<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_center.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_center.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @work_center.active %>
</p>

<p>
  <strong>Company:</strong>
  <%= @work_center.company_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @work_center.address %>
</p>

<%= link_to 'Edit', edit_work_center_path(@work_center) %> |
<%= link_to 'Back', work_centers_path %>
