<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exam.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @exam.code %>
</p>

<p>
  <strong>Active:</strong>
  <%= @exam.active %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
