<%= simple_form_for(@risk_category, remote: request.xhr?, html: { data: { modal: true } }) do |form| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <%= form.input :name %>
      </div>

      <div class="col-md-12">
        <%= form.input :color %>
      </div>

      
      <div class="col-md-12">
        <%= form.input :active %>
      </div>

      <div class="col-md-12">
        <%= form.input :description %>
      </div>
      
    </div>
  </div>

  <div class="modal-footer">
    <div class="actions">
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
        <i class="material-icons mr-1">close</i> Cerrar
      </button>
      <%= button_tag  class: 'btn btn-outline-primary' do %>
        <i class='material-icons mr-1'>save</i> Guardar
      <% end %>
    </div>
  </div>
<% end %>
