<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @risk_category.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @risk_category.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @risk_category.description %>
</p>

<%= link_to 'Edit', edit_risk_category_path(@risk_category) %> |
<%= link_to 'Back', risk_categories_path %>
