<p id="notice"><%= notice %></p>

<h1>Personal Protection Patients</h1>

<table>
  <thead>
    <tr>
      <th>Personal protection</th>
      <th>Patient</th>
      <th>Date</th>
      <th>Signature</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_protection_patients.each do |personal_protection_patient| %>
      <tr>
        <td><%= personal_protection_patient.personal_protection_id %></td>
        <td><%= personal_protection_patient.patient_id %></td>
        <td><%= personal_protection_patient.date %></td>
        <td><%= personal_protection_patient.signature %></td>
        <td><%= personal_protection_patient.company_id %></td>
        <td><%= link_to 'Show', personal_protection_patient %></td>
        <td><%= link_to 'Edit', edit_personal_protection_patient_path(personal_protection_patient) %></td>
        <td><%= link_to 'Destroy', personal_protection_patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal Protection Patient', new_personal_protection_patient_path %>
