<div class="modal-header">
  <h5 class="modal-title">Entrega EPP</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

</div>

<div class="modal-footer">
  <div class="actions">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
      <i class="material-icons mr-1">close</i> Cerrar
    </button>
    <button type="button" class="btn btn-outline-primary">
      <i class="material-icons mr-1">print</i> Imprimir
    </button>
  </div>
</div>