<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item <% if current_page?(root_path) %>active<% end %>">
      <a class="nav-link" href="<%= root_path %>">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
        <span class="sidebar-menu-text">Inicio</span>
      </a> 
    </li>

    <li class="nav-item <% if current_page?(companies_path) || current_page?(areas_path) || current_page?(company_processes_path) || current_page?(work_centers_path) %>active<% end %>">
      <a class="nav-link" href="/companies">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">business</i>
        <span class="sidebar-menu-text">Organización</span>
      </a>
    </li>

    <li class="nav-item <% if current_page?(patients_path) || current_page?(positions_path) || current_page?(medical_profiles_path) || current_page?(commissions_path)  %>active<% end %>">
      <a class="nav-link" href="/patients">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person</i>
        <span class="sidebar-menu-text">Talento humano</span>
      </a>
    </li>

    <li class="nav-item <% if params[:controller] == "patient_records" || params[:controller] == "medical_checks" || current_page?(medical_appointments_path) || current_page?(diagnostics_path) || current_page?(medical_results_path) %>active<% end %>">
      <a class="nav-link" href="/patient_records">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">local_hospital</i>
        <span class="sidebar-menu-text">Vig. de Salud</span>
      </a>
    </li>

    <li class="nav-item <% if current_page?(risk_evaluations_path) || current_page?(risks_path) || current_page?(risk_categories_path) || current_page?(projects_path) || current_page?(personal_protections_path) || current_page?(personal_protection_entries_path) %>active<% end %>">
      <a class="nav-link" href="/risk_evaluations">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">whatshot</i>
        <span class="sidebar-menu-text">Prev. de riesgos</span>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" href="/indicators">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">traffic</i>
        <span class="sidebar-menu-text">Indicadores</span>
      </a>
    </li> -->

    <li class="nav-item <% if current_page?(medical_records_path) || current_page?(medical_entries_path) || current_page?(exams_path) %>active<% end %>">
      <a class="nav-link" href="/medical_entries">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">merge_type</i>
        <span class="sidebar-menu-text">Ingreso EcuaAmerican</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/indicators">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">assignment_turned_in</i>
        <span class="sidebar-menu-text">Informes</span>
      </a>
    </li>
    
    
<!--     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#riesgo_menu" id="navbarDropdown-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">whatshot</i>
        <span class="sidebar-menu-text">Gestión de riesgos</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown-3">
        <a class="dropdown-item" href="/risk_evaluations">
          <span class="sidebar-menu-text">Evaluación de riesgos</span>
        </a>
        <a class="dropdown-item" href="/risks">
          <span class="sidebar-menu-text">Riesgos laborables</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/risk_categories">
          <span class="sidebar-menu-text">Tipos de riesgo</span>
        </a>
        <a class="dropdown-item" href="/plans">
          <span class="sidebar-menu-text">Planes de acción</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/patients" >
          <span class="sidebar-menu-text">Reportar Accidente/Incidente</span>
        </a>
        <a class="dropdown-item" href="/positions" >
          <span class="sidebar-menu-text">Estadisticas</span>
        </a>
      </div>
    </li> -->
<!-- 
    <li class="nav-item">
      <a class="nav-link" href="/reports">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">folder</i>
        <span class="sidebar-menu-text">Gestor Documental</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/reports">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">traffic</i>
        <span class="sidebar-menu-text">Indicadores</span>
      </a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" href="/users">
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">settings</i>
        <span class="sidebar-menu-text">Configuraciones</span>
      </a>
    </li>
    
  </ul>
</div>