<div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark pr-0" id="navbar" data-primary>
  <div class="container-fluid p-0">
    <!-- Navbar Brand -->
    <!-- data-turbolinks-permanent -->
    <% if false && session[:import_credential_token].present? && session[:import_credential_token] != "" %>
      - <%= session[:import_credential_token] %>
    <% end %>

    <% if @company.present? %>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a href="<%= root_path %>" class="nav-link">
            <span class="material-icons mr-1" style="font-size: 24px; vertical-align: bottom;">group_work</span>
            <span style="font-size: 24px;">Nexus-45001</span>
          </a>
        </li>
        
      </ul>
    <% end %>

    <form class="search-form d-none d-sm-flex flex" action="index.html">
      <input type="text" class="form-control" placeholder="Buscar por aplicación">
      <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
    </form>

    <ul class="nav navbar-nav ml-auto d-none d-md-flex" style="display: none;">
       
        <li class="nav-item dropdown">
          <a href="#company_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
            <!-- <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i> -->
            <span style="font-size: 24px;"> <%= @company.name %> </span> 
          </a>
          
          <div id="company_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu" style="min-height: auto">
            
            <div class="dropdown-item d-flex align-items-center py-2">
              <span class="flex navbar-notifications-menu__title m-0">Cambiar a:</span>
            </div>
            <div class="navbar-notifications-menu__content" data-simplebar="init">
              <div class="simplebar-wrapper">
                <div class="simplebar-height-auto-observer-wrapper">
                  <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                  <div class="simplebar-offset">
                    <div class="simplebar-content">
                      <div class="py-2">
                        <% @all_companies.each do |company| %>
                          <div class="dropdown-item d-flex">
                            <div class="flex">

                              <%= link_to "/save_current_company?company_id=#{company.id}", remote: true, method: "POST" do %>
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">business</i> 
                                <%= company.name %>
                                <% if @company && @company.id == company.id %>
                                  <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">check</i> 
                                <% end %>
                              <% end %>

                              <br>

                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="simplebar-placeholder"></div>
              </div>

              <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div>
              </div>
              <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: visible; height: 78px;"></div>
              </div>
            </div>

          </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i>
            </a>
           <!--  <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
                <div class="dropdown-item d-flex align-items-center py-2">
                    <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
                    <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
                </div>
                <div class="navbar-notifications-menu__content" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content" style="padding: 0px; height: auto; overflow: hidden;">
                    <div class="py-2">

                        <div class="dropdown-item d-flex">
                            <div class="flex">
                                <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                <small class="text-muted">1 minute ago</small>
                            </div>
                        </div>
                        <div class="dropdown-item d-flex">
                            <div class="flex">
                                New user <a href="#">Peter Parker</a> signed up.<br>
                                <small class="text-muted">1 hour ago</small>
                            </div>
                        </div>
                        <div class="dropdown-item d-flex">
                            <div class="flex">
                                <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                <div>Hey, how are you? What about our next meeting</div>
                                <small class="text-muted">2 minutes ago</small>
                            </div>
                        </div>

                        <div class="dropdown-item d-flex">
                            <div class="flex">
                                <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                <small class="text-muted">1 minute ago</small>
                            </div>
                        </div>
                        <div class="dropdown-item d-flex">
                            <div class="flex">
                                New user <a href="#">Peter Parker</a> signed up.<br>
                                <small class="text-muted">1 hour ago</small>
                            </div>
                        </div>
                        <div class="dropdown-item d-flex">
                            <div class="flex">
                                <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                <div>Hey, how are you? What about our next meeting</div>
                                <small class="text-muted">2 minutes ago</small>
                            </div>
                        </div>

                        <div class="dropdown-item d-flex">
                            <div class="flex">
                                <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                <small class="text-muted">1 minute ago</small>
                            </div>
                        </div>
                        <div class="dropdown-item d-flex">
                            <div class="flex">
                                New user <a href="#">Peter Parker</a> signed up.<br>
                                <small class="text-muted">1 hour ago</small>
                            </div>
                        </div>
                        <div class="dropdown-item d-flex">
                            <div class="flex">
                                <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                <div>Hey, how are you? What about our next meeting</div>
                                <small class="text-muted">2 minutes ago</small>
                            </div>
                        </div>

                    </div>
                </div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div></div>
                <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
            </div> -->
        </li>
    </ul>

    <ul class="nav navbar-nav d-none d-sm-flex navbar-height align-items-center">
      <li class="nav-item dropdown">
        <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
          <%= show_avatar(current_user) %>
        </a>
        <div id="account_menu" class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-item-text dropdown-item-text--lh">
            <div><strong><%= current_user.name%></strong></div>
            <div><%= current_user.email%></div>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="<%= root_path %>">Tablero digital</a>
          <a class="dropdown-item" href="<%= edit_user_path(current_user.id)%>" data-modal="true">Editar perfil</a>
          <div class="dropdown-divider"></div>
          <%= link_to 'Salir', destroy_user_session_path, :method => :delete, :class => "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>

  <br>

  <div class="topbar">
    <%= render 'layouts/drawer_left' %>
  </div>
  

</div>
