<div class="sidebar-rigth-app extend">
  <div class="sidebar-toggle">
  	<button class="sidebar-toggle-action"><</button>
  </div>
  <div class="sidebar-content" >
		<% if ["companies", "areas", "work_centers", "company_processes"].include?(params[:controller]) %>
    	<%= render '/shared/app_menus/organization_links' %>
    <% elsif ["patients", "positions", "medical_profiles", "commissions"].include?(params[:controller]) %>
    	<%= render '/shared/app_menus/human_talent_links' %>
    <% elsif ["patient_records", "medical_appointments", "medical_checks", "diagnostics", "medical_results"].include?(params[:controller]) %>
    	<%= render '/shared/app_menus/health_links' %>
		<% elsif ["risk_evaluations", "risk_categories", "risks", "projects", "personal_protections", "personal_protection_entries"].include?(params[:controller]) %>
			<%= render '/shared/app_menus/security_links' %>
		<% elsif ["users"].include?(params[:controller]) %>
	  	<%= render '/shared/app_menus/settings_links' %>
    <% elsif ["medical_entries", "medical_services", "medical_records", "exams"].include?(params[:controller]) %>
      <%= render '/shared/app_menus/ecua_entries' %>
    <% elsif ["indicators"].include?(params[:controller]) %>
      <%= render '/shared/app_menus/indicators_links' %>
    <% end %>
  </div>
</div>