<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Nexus 45001</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'core-scripts', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="<%= @body_class || 'layout-default' %>">
    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

      <!-- Header -->
      <div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
        <div class="mdk-header__content">
          <%= render 'layouts/navbar'%>
        </div>
      </div>
      <!-- // END Header -->

      <!-- Header Layout Content -->
      <div class="mdk-header-layout__content">
        <div id="sticky-header"></div>
        <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
          
          <%= render 'layouts/sidebar_rigth_app' if @sidebar_rigth_app %>

          <div class="mdk-drawer-layout__content page">
            <!-- Spinner -->
            <div class="loader-container">
              <div class="loader loader-primary"></div>
            </div>
            <!-- Spinner -->
            
            <% if notice.present? && false %>
              <div class="alert alert-success mt-3" role="alert">
                <strong>Aviso - </strong> <%= notice %>
              </div>
            <% end %>

            <% if alert.present? && false%>

              <div class="alert alert-warning mt-3" role="alert">
                <strong>Alerta - </strong> <%= alert %>
              </div>

            <% end %>
            <%# CONTENT  %>
            <%= yield %>

          </div>
          <!-- // END drawer-layout__content -->
        </div>
        <!-- // END drawer-layout -->
      </div>
      <!-- // END header-layout__content -->
    </div>
    <!-- // END header-layout -->
    <div id='modal-holder'></div>

    <%= content_for :footer %>
    <%= javascript_include_tag 'custom-functions', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'full-calendar', 'data-turbolinks-track': 'reload' %>

    <%= content_for :footer_scripts %>
  </body>
</html>
