<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Nexus 45001</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="layout-login-centered-boxed">
	

  <%= yield %>

</body>
</html>