<div id="modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl-perentage" role="document">
    <div class="modal-content">
      <%= yield %>
    </div>
  </div>
</div>
